/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* 
------------------------------------
  Styles for old uportal channels.
------------------------------------ 
*/

/* Text */
.uportal-channel-text,
.portlet-font {}
.uportal-channel-text-white,
.uportal-channel-text-white a {color:#fff;}
.uportal-text-small {font-size:80%;}
.uportal-channel-strong {font-weight:bold;}
.uportal-channel-emphasis {font-style:italic;}
.uportal-channel-code {font-family:"Courier New", Courier, mono; color:#000;}
.uportal-channel-copyright {font-size:80%;}

/* Navigation */
.uportal-navigation-channel,
.uportal-navigation-channel a  {}

/* Titles */
.uportal-channel-title,
.uportal-channel-title-reversed {font-size:150%; font-weight:bold;}
.uportal-channel-title-reversed {background-color:#999; color:#fff;}
.uportal-channel-subtitle,
.uportal-channel-subtitle-reversed {font-size:120%; font-weight:bold; color:#333;}
.uportal-channel-subtitle-reversed {/*background-color:#ccc; color:#fff;*/}

/* Backgrounds */
.uportal-background {background-color:#fff;}
.uportal-background-dark {background-color:#999;}
.uportal-background-med {background-color:#ccc;}
.uportal-background-light {background-color:#eee;}
.uportal-background-content {background-color:#fff; }
.uportal-background-highlight {background-color:#ffd;}
.uportal-background-shadow {background-color:#ccc;}

/* Forms */
.uportal-label {}
.uportal-input-text {}
.uportal-button {padding:0.2em 1em; background:#336699 url(images/button_bkd_flat.png) top left repeat-x; border:1px solid #000; color:#fff; font-size:85%; font-weight:bold;}
.uportal-button:hover {background-color:#7a9e0d; cursor:pointer;}

/* Messages */
.uportal-channel-error, 
p.uportal-channel-error {padding:1em 1em 1em 3em; border:2px solid #cc0000; color:#f00; background:#ffeeee url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/stop.png) 1em 1em no-repeat;}
.uportal-channel-warning,
p.uportal-channel-warning {padding:1em 1em 1em 3em; border:2px solid #FF6600; color:#000; background:#FFCC66 url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/error.png) 1em 1em no-repeat;}

/* Tables */
.uportal-channel-table-caption {font-size:80%; color:#999;}
.uportal-channel-table-header {padding:0.5em 1em; background-color:#999; color:#fff; font-size:80%; font-weight:bold;}
.uportal-channel-table-row-odd {background-color:#fff;}
.uportal-channel-table-row-even {background-color:#eee;}

