/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* uPORTAL UNIVERSALITY THEME LAYOUT CSS
 * These declarations are scoped both for the portal and for portlets.
 * These declarations are specific to the "universality" theme.
 * This CSS is shared across all skins that use the "universality" theme.
 * These declarations work with the Fluid Skinning System (FSS) to establish the basic portal layout structure.
 * Only CSS that affects the layout (positioning) of major elements should be listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height, margin, border, padding, overflow
 * CSS that sets the visual style of the portal (and portlets) is handled by individual skins.
 * This CSS assumes the use of a CSS reset (by default the FSS "fss-reset.css") for browser normalization.
 */
 
/* uPORTAL DEVELOPMENT STANDARDS AND GUIDELINES
 * For the standards and guidelines that govern the user interface of uPortal portlets including HTML, CSS, JavaScript, accessibilty, naming conventions, 3rd Party libraries (like jQuery and the Fluid Skinning System) and more, refer to:
 * http://www.ja-sig.org/wiki/x/cQ
 */
 
 
/* 
----------------------------------------------------
  Fluid Skinning System extensions and overrides.
----------------------------------------------------
 * The Fluid Skinning System is a group of CSS files with a specially designed modular structure and class-specific format.
 * It is meant to work well as both a standalone CSS foundation for your site and Fluid Infusion components.
 * In FSS, "themes" refer to the color schemes and "window dressings" for basic markup and FSS Helpers, such as Tabs, Widgets, Menus, etc.
 * For more information on FSS themes, refer to:
 * http://wiki.fluidproject.org/x/egNS
 * The FSS theme created for uPortal is "fl-theme-uportal", and is a class of the <body> tag, used for namespacing.
 */

.fl-col-flex6 {width:6%; float:left; display:inline;}
.fl-col-flex7 {width:7%; float:left; display:inline;}
.fl-col-flex8 {width:8%; float:left; display:inline;}
.fl-col-flex9 {width:9%; float:left; display:inline;}
.fl-col-flex10 {width:10%; float:left; display:inline;}
.fl-col-flex11 {width:11%; float:left; display:inline;}
.fl-col-flex12 {width:12%; float:left; display:inline;}
.fl-col-flex13 {width:13%; float:left; display:inline;}
.fl-col-flex14 {width:14%; float:left; display:inline;}
.fl-col-flex15 {width:15%; float:left; display:inline;}
.fl-col-flex16 {width:16%; float:left; display:inline;}
.fl-col-flex17 {width:17%; float:left; display:inline;}
.fl-col-flex18 {width:18%; float:left; display:inline;}
.fl-col-flex19 {width:19%; float:left; display:inline;}
.fl-col-flex20 {width:20%; float:left; display:inline;}
.fl-col-flex21 {width:21%; float:left; display:inline;}
.fl-col-flex22 {width:22%; float:left; display:inline;}
.fl-col-flex23 {width:23%; float:left; display:inline;}
.fl-col-flex24 {width:24%; float:left; display:inline;}
.fl-col-flex25 {width:25%; float:left; display:inline;}
.fl-col-flex26 {width:26%; float:left; display:inline;}
.fl-col-flex27 {width:27%; float:left; display:inline;}
.fl-col-flex28 {width:28%; float:left; display:inline;}
.fl-col-flex29 {width:29%; float:left; display:inline;}
.fl-col-flex30 {width:30%; float:left; display:inline;}
.fl-col-flex31 {width:31%; float:left; display:inline;}
.fl-col-flex32 {width:32%; float:left; display:inline;}
.fl-col-flex33 {width:33%; float:left; display:inline;}
.fl-col-flex34 {width:34%; float:left; display:inline;}
.fl-col-flex35 {width:35%; float:left; display:inline;}
.fl-col-flex36 {width:36%; float:left; display:inline;}
.fl-col-flex37 {width:37%; float:left; display:inline;}
.fl-col-flex38 {width:38%; float:left; display:inline;}
.fl-col-flex39 {width:39%; float:left; display:inline;}
.fl-col-flex40 {width:40%; float:left; display:inline;}
.fl-col-flex41 {width:41%; float:left; display:inline;}
.fl-col-flex42 {width:42%; float:left; display:inline;}
.fl-col-flex43 {width:43%; float:left; display:inline;}
.fl-col-flex44 {width:44%; float:left; display:inline;}
.fl-col-flex45 {width:45%; float:left; display:inline;}
.fl-col-flex46 {width:46%; float:left; display:inline;}
.fl-col-flex47 {width:47%; float:left; display:inline;}
.fl-col-flex48 {width:48%; float:left; display:inline;}
.fl-col-flex49 {width:49%; float:left; display:inline;}
.fl-col-flex50 {width:50%; float:left; display:inline;}
*:first-child+html .fl-col-flex50 {width:49%;} /* hack needed for IE7 */
.fl-col-flex51 {width:51%; float:left; display:inline;}
.fl-col-flex52 {width:52%; float:left; display:inline;}
.fl-col-flex53 {width:53%; float:left; display:inline;}
.fl-col-flex54 {width:54%; float:left; display:inline;}
.fl-col-flex55 {width:55%; float:left; display:inline;}
.fl-col-flex56 {width:56%; float:left; display:inline;}
.fl-col-flex57 {width:57%; float:left; display:inline;}
.fl-col-flex58 {width:58%; float:left; display:inline;}
.fl-col-flex59 {width:59%; float:left; display:inline;}
.fl-col-flex60 {width:60%; float:left; display:inline;}
.fl-col-flex61 {width:61%; float:left; display:inline;}
.fl-col-flex62 {width:62%; float:left; display:inline;}
.fl-col-flex63 {width:63%; float:left; display:inline;}
.fl-col-flex64 {width:64%; float:left; display:inline;}
.fl-col-flex65 {width:65%; float:left; display:inline;}
.fl-col-flex66 {width:66%; float:left; display:inline;}
.fl-col-flex67 {width:67%; float:left; display:inline;}
.fl-col-flex68 {width:68%; float:left; display:inline;}
.fl-col-flex69 {width:69%; float:left; display:inline;}
.fl-col-flex70 {width:70%; float:left; display:inline;}
.fl-col-flex71 {width:71%; float:left; display:inline;}
.fl-col-flex72 {width:72%; float:left; display:inline;}
.fl-col-flex73 {width:73%; float:left; display:inline;}
.fl-col-flex74 {width:74%; float:left; display:inline;}
.fl-col-flex75 {width:75%; float:left; display:inline;}
.fl-col-flex76 {width:76%; float:left; display:inline;}
.fl-col-flex77 {width:77%; float:left; display:inline;}
.fl-col-flex78 {width:78%; float:left; display:inline;}
.fl-col-flex79 {width:79%; float:left; display:inline;}
.fl-col-flex80 {width:80%; float:left; display:inline;}
.fl-col-flex81 {width:81%; float:left; display:inline;}
.fl-col-flex82 {width:82%; float:left; display:inline;}
.fl-col-flex83 {width:83%; float:left; display:inline;}
.fl-col-flex84 {width:84%; float:left; display:inline;}
.fl-col-flex85 {width:85%; float:left; display:inline;}
.fl-col-flex86 {width:86%; float:left; display:inline;}
.fl-col-flex87 {width:87%; float:left; display:inline;}
.fl-col-flex88 {width:88%; float:left; display:inline;}
.fl-col-flex89 {width:89%; float:left; display:inline;}
.fl-col-flex90 {width:90%; float:left; display:inline;}
.fl-col-flex91 {width:91%; float:left; display:inline;}
.fl-col-flex92 {width:92%; float:left; display:inline;}
.fl-col-flex93 {width:93%; float:left; display:inline;}
.fl-col-flex94 {width:94%; float:left; display:inline;}
.fl-col-flex95 {width:95%; float:left; display:inline;}
.fl-col-flex96 {width:96%; float:left; display:inline;}
.fl-col-flex97 {width:97%; float:left; display:inline;}
.fl-col-flex98 {width:98%; float:left; display:inline;}
.fl-col-flex99 {width:99%; float:left; display:inline;}


/* Removes padding and margin compensations for padding. */
.fl-col-mixed .fl-col-flex-left {margin-left:200px;}
.fl-col-mixed .fl-col-flex-right {margin-right:200px;}
.fl-col-mixed-100 .fl-col-flex-left {margin-left:100px;}
.fl-col-mixed-100 .fl-col-flex-right {margin-right:100px;}
.fl-col-mixed-150 .fl-col-flex-left {margin-left:150px;}
.fl-col-mixed-150 .fl-col-flex-right {margin-right:150px;}
.fl-col-mixed-200 .fl-col-flex-left {margin-left:200px;}
.fl-col-mixed-200 .fl-col-flex-right {margin-right:200px;}
.fl-col-mixed-250 .fl-col-flex-left {margin-left:250px;}
.fl-col-mixed-250 .fl-col-flex-right {margin-right:250px;}
.fl-col-mixed-300 .fl-col-flex-left {margin-left:300px;}
.fl-col-mixed-300 .fl-col-flex-right {margin-right:300px;}


/* Prevent cascading margins of nested column layouts. */
.layout-1-columns #portalPageBodyColumns.fl-col-flex,
.layout-1-columns #portalPageBodyColumns .fl-col-flex {margin:0;}


/* 
------------------------------------
  uPortal Layout and Structure.
------------------------------------ 
 * uPortal is namespaced with "up", a class of the <body> tag.
 */

/* forms */
input[type="checkbox"] {margin-right:0.5em;}
fieldset input[type="checkbox"] {margin-bottom:1em;}

/* Buttons */
/*
 * Gives links and form buttons a consistent button look.
 * If multiple buttons, add the "buttons" class to the wrapping element.
 * If multiple buttons, add the "primary" class to the default action.
 */
.button,
form input[type="submit"] {margin:0 5px; padding:2px 10px;}
a.button {display:inline-block;}
.buttons {padding:1em 0;}
.button:hover {cursor:pointer;}

/* common */
.portal-pipe {padding:0 0.5em;}

ul.horizontal-list-floated li {list-style:none; float:left; padding-left:1em;}
ul.horizontal-list-inline li {list-style:none; display:inline; padding-left:1em;}

/* Add the "purpose-layout" class to any table you are using for layout purposes. */
table.purpose-layout,
table.purpose-layout th,
table.purpose-layout td {margin:0; padding:0;}


/* page */
#portalPage {min-width:700px; clear:both;}


/* header */
#portalPageHeader {position:relative;}
#portalPageBar {padding:0.5em 0;}
#portalPageBar h2 {margin:0; padding:0.5em 0 0 1em; position:absolute; top:0; left:0;}
#portalPageBarLinks a {padding:0 0.5em;}
#portalSkipNav a, 
#portalSkipNav a:hover, 
#portalSkipNav a:visited {position:absolute; left:0; top:-500px; width:1px; height:1px; overflow:hidden;} /* This sets the skip-to links to be completely hidden until a user tabs to the link. */
#portalSkipNav a:active, 
#portalSkipNav a:focus {position:static; width:auto; height:auto;} /* This sets the skip-to links to be completely hidden until a user tabs to the link. */
#portalLogo {}
#portalWelcome {display:inline; padding-right:2em;}
.focused #portalPageBar img {float:left; margin:3px 0 0 10px}


/* body */
#portalPageBodyTitleRowContents {position:relative; padding:0 1em;} /* Sets this container as positioned to have other elements poisitioned relative to it. */
.breadcrumb-separator {padding:0 0.5em;}
#portalPageBodyTitleRow h1 {margin:0;}
/* Columns */
.portal-page-column-inner {padding-left:1em; min-height:100px;}
#portalPageBodyColumns .single .portal-page-column-inner, 
#portalPageBodyColumns .right .portal-page-column-inner {}
#portalPageBodyColumns .single .portal-page-column-inner, 
#portalPageBodyColumns .left .portal-page-column-inner {padding-left:0;}
/* focused */
.focused #portalPageBodyTitleRow {padding:1em 1em 0 1em;}
#portalPageBodyBreadcrumb {margin-bottom:0.5em;}
.focused .portal-page-column-inner {padding:0em 2em 2em 2em;}
.focused .up-portlet-content {padding:0;}

/* Sidebar */
#portalSidebar {padding:0;}
#portalSidebarInner {padding:0 1em 2em 1em;}
#portalSidebar #portalCustomizationLinks .portal-pipe {display:none;}

/* portlet wrappers */
.up-portlet-wrapper {margin-bottom:1em;}
.up-portlet-titlebar {position:relative;}
.up-portlet-titlebar h2 {margin:0; padding:2px 20px 3px 20px;}
.up-portlet-controls {position:absolute; top:4px; right:0;}
.dashboard .up-portlet-controls .up-portlet-control {padding-right:1em;}
.up-portlet-content-wrapper {padding:1em;}
/* No chrome */
.fl-widget.no-chrome .up-portlet-titlebar {display:none;}
.fl-widget.no-chrome,
.fl-widget.no-chrome .up-portlet-content-wrapper {padding:0; border:none; background:none;}

/* footer */
#portalPageFooter {}
#portalPageFooterInner {}
#portalProductAndVersion {margin-top:1em;}

/* login */
#portalLogin label {display:block; margin-bottom:0.3em;}
#portalLogin input {margin-bottom:1em;}

/* navigation */
#portalNavigation ul {margin:0; padding:0;}
/* subrow */
#portalNavigationSubrow {padding:0.5em 0;}
.sidebar-left-100 #portalNavigationSubrow ul {margin-left:120px;}
.sidebar-left-150 #portalNavigationSubrow ul {margin-left:170px;}
.sidebar-left-200 #portalNavigationSubrow ul {margin-left:220px;}
.sidebar-left-250 #portalNavigationSubrow ul {margin-left:270px;}
.sidebar-left-300 #portalNavigationSubrow ul {margin-left:320px;}
.sidebar-right-100 #portalNavigationSubrow ul {margin-right:120px;}
.sidebar-right-150 #portalNavigationSubrow ul {margin-right:170px;}
.sidebar-right-200 #portalNavigationSubrow ul {margin-right:220px;}
.sidebar-right-250 #portalNavigationSubrow ul {margin-right:270px;}
.sidebar-right-300 #portalNavigationSubrow ul {margin-right:320px;}
#portalNavigationSubrow li {list-style-type:none; display:inline;}
#portalNavigationSubrow a {padding:0em 1em;}
/* Flyout subnav */
#portalNavigation .portal-flyout-container {width:200px; position:absolute; z-index:100000; display:none;}
#portalNavigation .portal-flyout-container li {list-style:none;}
#portalNavigation .portal-flyout-container .portal-subnav-list li {display:list-item; position:static; padding:0;}
#portalNavigation .portal-flyout-container .portal-subnav-list li a {display:block;}
#portalNavigation .portal-flyout-iframe {position:absolute; z-index:9;}
/* Fix for IE z-index */
.on-top {z-index:1000000;}
/* Add Tab */
#portalNavigation .add-tab {display:inline-block;}

/* quicklinks */	
#portalQuicklinks {}

#portalQuicklinks ul, 
#portalQuicklinks li {margin:0; padding:0;}

/* web search */
#webSearchContainer form {}
#webSearchContainer input, 
#webSearchContainer select {margin-bottom:0.5em;}
#portalPageHeader #webSearchContainer {position:absolute; top:3em; right:2em;}
#portalPageHeader #webSearchContainer h2 {display:none;}
#portalPageHeader #webSearchContainer input,
#portalPageHeader #webSearchContainer select {margin-left:0.3em;}

#tooltip h3, #tooltip div { margin: 0; }
#tooltip {position:absolute; z-index:3000; opacity:0.85; max-width:400px; padding:4px;}

/* Fragment Administration */
#fragmentAdminForm {margin:0; padding:0;}
#portalFragAdminExit {padding:0.5em 1em;}
#portalFragAdminExit h2,
#portalFragAdminExit .block-content,
#portalFragAdminExit form {display:inline;}
#portalFragAdminExit h2 {padding-right:1em;}
#portalFragAdminExit #exitFragment {margin-left:1em; padding:0.3em 1em;}

/* Portlet Navigation */
#portletNavigation h3 {margin:0.5em 0 0 0; padding:0.2em 0.5em;}

/* Ajax Menus */
#changeColumns tr td { text-align: center; }
#changeColumns img { vertical-align: middle; padding:3px; }
#skinList {margin-bottom:1.5em;}
#skinList h2 {display:inline; margin-left:0.5em;}
#skinList .fl-widget-content {padding:1em;}

.fragment-disabled .add-fragment-link { display:none }

#portalNavigation .portal-flyout-container .portal-subnav-list #movePageLeftLink,
#portalNavigation .portal-flyout-container .portal-subnav-list #movePageRightLink,
#portalNavigation .portal-flyout-container .portal-subnav-list #editPageLink,
#portalNavigation .portal-flyout-container .portal-subnav-list #deletePageLink { display: none; }
#portalNavigation .movable .portal-subnav-list #movePageLeftLink,
#portalNavigation .movable .portal-subnav-list #movePageRightLink,
#portalNavigation .editable .portal-subnav-list #editPageLink,
#portalNavigation .deletable .portal-subnav-list #deletePageLink { display: list-item; }

/* 
------------------------------------
  uPortal Gallery.
------------------------------------ 
 * The gallery is a sliding drawer that provides interfaces for customizing the protal.
 */

/* Gallery Layout 
 * Includes Fluid layout overides.
 * Generally the overall layout should not need to be altered.
 * If needed, override these vales on a per-skin basis by adding the overrides to portal.css within the desired skin folder.
 */
.clear-float {clear:both;}
.up-gallery {min-width:900px; position:relative;}
.up-gallery .gallery-inner {display:none; overflow:visible; padding-top:7px; background:url(../images/gallery-bar.png) top left repeat-x; height:190px;  position:relative;}
.up-gallery .column-inner {position:relative;}
.up-gallery .menu-wrapper {width:130px; display:block; height:190px; position:relative;}
.up-gallery .content-wrapper {margin:0 0 0 127px; padding:8px 0; display:block; height:174px;}
.up-gallery .content {padding-right:8px; }
.up-gallery .content-filters-wrapper {width:200px; padding:0px; display:block; height:174px; position:relative;}
.up-gallery .content-results-wrapper {margin:0 0 0 220px; display:block; height:172px;}
.up-gallery .content-pager-wrapper {padding:0px; width:70px; display:block; height:170px;}
.up-gallery .content-results-wrapper .column-inner {padding-left:15px;}
.up-gallery .content-results-wrapper {padding:0px;}
.up-gallery .skins .content-results-wrapper,
.up-gallery .layouts .content-results-wrapper {margin-left:0px; margin-right:0px;}
.up-gallery .results-wrapper {overflow:hidden;}
.up-gallery .fl-col-mixed2 .fl-col-main {padding-left:0px;}

/* Gallery General Coloring
 * Override these vales on a per-skin basis by adding the overrides to portal.css within the desired skin folder.
 */
.up-gallery {background:#333; color:#eee;}
.up-gallery .gallery-inner {background:url(../images/gallery-bar.png) top left repeat-x;}
.up-gallery .content-wrapper .content-filters-wrapper {padding-right:5px; background:transparent url(../images/gallery-search-active-arrow.png) right 20% no-repeat;}
.up-gallery .content-wrapper .content-filters-wrapper .categories-column,
.up-gallery .content-wrapper .content-filters-wrapper .packages-column {background:#424243; /*border:3px solid #424243; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;*/}

/* Gallery Menu Items 
 * The navigation menu of gallery views.
 */
.up-gallery .menu {height:180px; background:#424243; padding:10px 0 0 0; position:relative; margin-top:0; margin-bottom:0; margin-left:15px; margin-right:auto; width:100px; border-left:1px solid #979797; border-right:1px solid #979797;}
.up-gallery .menu li {position:relative; height:28px; cursor:pointer; list-style:none; margin:0; background:#525252; border-top:1px solid #979797;}
.up-gallery .menu li.last {border-bottom:1px solid #979797;}
.up-gallery .menu li.active {background:#333}
.up-gallery .menu li span {padding:7px; display:block; height:14px; width:110px; bottom:0; font-weight:bold; color:#fff; font-size:12px;}
.up-gallery .menu li.active span {position:relative; background:#333 url(../images/gallery-arrow-right.png) 90% 50% no-repeat;}
.up-gallery .menu li:hover {background-color:transparent;}
.up-gallery .menu li.active:hover,
.up-gallery .menu li.active:focus {background-color:#333; outline:none;}
.up-gallery .menu li :focus {outline:none;}
*:first-child+html .up-gallery .menu li {height:25px;}

/* Gallery Handle 
 * Clickable handle that opens the drawer. Once open, the handle can be clicked to close the drawer.
 */
.up-gallery .handle {margin:0; padding:0; position:absolute; bottom:-7px; left:0; right:0; background:#000 url(../images/gallery-bar.png) bottom left repeat-x; height:7px; clear:both;}
.up-gallery .handle a {box-shadow: 0px 1px 2px #ccc; -moz-box-shadow: 0px 1px 2px #ccc; -webkit-box-shadow: 0px 1px 2px #ccc; width:100px; -webkit-border-bottom-right-radius: 3px;-webkit-border-bottom-left-radius: 03px;-moz-border-radius-bottomright: 3px;-moz-border-radius-bottomleft: 03px;border-bottom-right-radius: 3px;border-bottom-left-radius: 03px; cursor:pointer; font-size:10px; border: 1px solid #c5c5c5; border-top:0px; position:absolute; top:6px; left:0; margin-left:25px; background: scroll #fff url(../images/gallery-handle.png) 0 0 repeat-x;}
.up-gallery .handle a span {text-transform:uppercase; color:#888; font-weight:bold; padding:1px 25px 2px 10px; margin-right:5px; display:block; background-image: url(../images/gallery-handle-arrow-down.png); background-position: right center; background-repeat: no-repeat;}
.up-gallery .handle-arrow-up {background-image: url(../images/gallery-handle-arrow-up.png) !important;}

/* Gallery Modal Loaders 
 * Preloaders while the content loads, following the opening of the drawer.
 */
.up-gallery .gallery-inner .gallery-modal {position:absolute; top:7px; bottom:0; left:0; right:0; background: #333 url(../images/gallery-preloader.gif) center center no-repeat;}
.up-gallery .content-wrapper .content-modal {display:none; position:absolute; top:7px; bottom:0; left:0; right:0; background: url(../images/gallery-content-preloader.gif) 50% 80% no-repeat;}

/* Gallery Close Button 
 * An explicit close button, that closes the drawer.
 */
.up-gallery .close-button {width:84px; padding:1px 5px 1px 5px; position:absolute; left:28px; bottom:3px; background-color:#F68A25; background-image:-moz-linear-gradient(90deg,#F68A25,#fcf8d9); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCF8D9), to(#F68A25)); cursor:pointer; border:1px solid #000; text-align:center; }
.up-gallery .close-button a {color: #000;}
.up-gallery .close-button:hover {color:#fff;}
.up-gallery .close-button span{font-weight:bold; font-size:13px;}

/* Gallery Add/Use Portlet Filters 
 * Search and category filters for the add portlet and use portlet views.
 */
.up-gallery .portlet-search-form {margin-bottom:10px;}
.up-gallery .portlet-search-form label,
.up-gallery .portlet-search-form .portlet-search-submit {display:none;}
.up .up-gallery .portlet-search-form .portlet-search-input {width:157px; padding:2px 4px; background:#e6e6e6; color:#999; border:1px solid #000; font-size:11px; -moz-box-shadow:inset 0px 1px 3px #000000; box-shadow: inset 0 0 10px #000000;}
.up .up-gallery .portlet-search-form .portlet-search-input:hover {background:#fff;}
.up .up-gallery .portlet-search-form .portlet-search-input:focus {background:#fff; color:#000;}
.up-gallery .categories-column,.up-gallery .packages-column {padding:0;}
.up-gallery .categories,.up-gallery .packages {}
.up-gallery .categories-column, .up-gallery .packages-column{clear:both;}
.up-gallery .content-filters-wrapper h3 {margin:0; padding:7px 0 0 0; cursor:pointer; font-size:12px; color:#c5c5c6;}
.up-gallery .categories-column h3 {
	background:#333;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	
}
.up-gallery .packages-column h3 {position:absolute; top:0; left:56px;}
.up-gallery .content-filters-wrapper .active h3 {color:#f68923;}
.up-gallery .content-filters-wrapper h3 span {
	padding:1px 10px; 
	border:2px solid #424243; 
	border-bottom:none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.up-gallery .content-filters-wrapper .active h3 span {background:#424243;}
.up-gallery .content-filters-wrapper h3 span:hover,
.up-gallery .content-filters-wrapper h3 span:focus {background:#000; color:#f68923;}
.up-gallery .categories-column .categories-wrapper, .up-gallery .packages-column .packages-wrapper {display:none;}
.up-gallery .categories-column.active .categories-wrapper, .up-gallery .packages-column.active .packages-wrapper {display:block;}
.up-gallery .packages-wrapper, .up-gallery .categories-wrapper {padding:10px;}
.up-gallery .packages p {margin:0; color:#aaa; font-size:11px;}
.up-gallery .categories-column h4 {color:#ccc; padding-bottom:1px; margin-bottom:3px; font-size:10px; text-transform:uppercase; border-bottom:1px dotted #666;}
.up-gallery .categories ul, .up-gallery .categories li, .up-gallery .categories a {list-style:none; margin:0; padding:0; color:#aaa; font-size:10px; text-decoration:none;}
.up-gallery .categories li {float:left; padding:1px 0 1px 2px;  text-align:left; cursor:pointer;}
.up-gallery .categories li:after {content:", ";}
.up-gallery .categories li:last-child:after {content:"";}
.up-gallery .categories li a {}
.up-gallery .categories li a:hover, .up-gallery .categories li a:focus, .up-gallery .categories li.active a {color:#fff;}
.up-gallery .categories li a:hover, .up-gallery .categories li a:focus {background-color:rgba(0,0,0,.25);}
.up-gallery .categories li.active a {text-decoration:underline;}

/* Gallery List Pager 
 * Pagination controls for lists in the gallery.
 */
.up-gallery .content-pager-wrapper {padding:2px; background:#424243;}
.up-gallery .content-pager-wrapper .column-inner {padding:0px; margin:0px;}
.up-gallery .pager-button-up span,
.up-gallery .pager-button-down span {display:none;}
.up-gallery .pager-pagination {height:38px; color:#FFF; margin:2px 0 2px 0; font-size:10px;}
.up-gallery .pager-button-up-inner {display:block; height:59px; background: url(../images/gallery-pager-up-active.png) center 85% no-repeat;}
.up-gallery .pager-button-down-inner {display:block; height:59px; background: url(../images/gallery-pager-down-active.png) center 15% no-repeat;}
.up-gallery .pager-button-up.fl-pager-disabled .pager-button-up-inner {background-image: url(../images/gallery-pager-up-inactive.png);}
.up-gallery .pager-button-down.fl-pager-disabled .pager-button-down-inner {background-image: url(../images/gallery-pager-down-inactive.png);}
.up-gallery .pager-button-up,
.up-gallery .pager-button-down {cursor:pointer; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; position:relative; border:1px solid #666666; height:62px; background-image:none; background:transparent;}
.up-gallery .pager-button-up,
.up-gallery .pager-button-down {background-color:#666666; background-image:-moz-linear-gradient(90deg,#424243,#666666); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#424243), to(#666666));}
.up-gallery .pager-button-up:hover,
.up-gallery .pager-button-down:hover,
.up-gallery .pager-button-up:focus,
.up-gallery .pager-button-down:focus {background-image:-moz-linear-gradient(90deg,#424243,#888888); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#424243), to(#888888)); border-color:#fff;}
.up-gallery .pager-button-up-inner:focus,
.up-gallery .pager-button-down-inner:focus {outline:none;}
.up-gallery .pager-button-up.fl-pager-disabled,
.up-gallery .pager-button-down.fl-pager-disabled,
.up-gallery .pager-button-up.fl-pager-disabled:hover,
.up-gallery .pager-button-down.fl-pager-disabled:hover,
.up-gallery .pager-button-up.fl-pager-disabled:focus,
.up-gallery .pager-button-down.fl-pager-disabled:focus {background:#333; border-color:#666;}

/* Gallery Portlet List 
 * The list of portlets for add and use.
 */
.up-gallery .results-wrapper {font-size:10px; position:relative; color:#AAA;}
.up-gallery .results-wrapper .portlet-list {list-style:none; padding:0; margin:0; position:relative;}
.up-gallery .results-wrapper .portlet-list li {display:block; list-style:none; padding:0; maring:0; position:relative; float:left; width:25%; height:50%;}
.up-gallery .results-wrapper .portlet-list li .portlet-wrapper {height:66px; padding:5px; margin:5px 5px 0 0; overflow:hidden; position:relative;}
.up-gallery .results-wrapper a {text-decoration:none;}
.up-gallery .results-column.fl-col-main {margin:0 74px 0 0; padding:0px; position:relative;}
.up-gallery .results-wrapper .pager-column.fl-col-side {float:right; width:74px; margin:0px; padding:0px;}
.up-gallery .results-wrapper .portlet-list {position:relative; width:100%;}
.up-gallery .portlet-wrapper a {width:25px; cursor:pointer; color:#000; position:absolute; padding:3px 8px; top:0; right:0; display:none; background:#f68923; background-image:-moz-linear-gradient(90deg,#f68923,#ffffff); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f68923), to(#ffffff)); border-bottom-left-radius:3px; -moz-border-radius-bottomleft:3px; -webkit-border-bottom-left-radius:3px; }
.up-gallery .portlet-description {clear:right; color:#AAA; display:inline;}
.up-gallery .portlet-titlebar {padding:5px 0 3px 0; font-size:12px; font-weight:bold; color:#DDD;}
.up-gallery .portlet-wrapper  {border:1px solid #333; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.up-gallery .portlet-wrapper:hover {border:1px solid #f68923; background:#111; background-image:-moz-linear-gradient(90deg,#000000,#333333); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333)); border-top-right-radius:0px;    -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px;}
.up-gallery .portlet-wrapper:hover a {display:block;}
.up-gallery .portlet-wrapper img {width:37px; height:37px; float:left; margin-right:5px; margin-bottom:5px;}
/* temporary icon */
.up-gallery .portlet-wrapper img {background:transparent url(/ResourceServingWebapp/rs/tango/0.8.90/32x32/categories/applications-other.png) 0 0 no-repeat;}
.up-gallery .results-wrapper .package-list {list-style:none; padding:0; margin:0; position:relative;}
.up-gallery .results-wrapper .package-list li {display:block; list-style:none; padding:0; maring:0; position:relative; float:left; width:25%; height:50%;}
.up-gallery .results-wrapper .package-list li .package-wrapper {height:66px; padding:5px; margin:5px 5px 0 0; overflow:hidden; position:relative;}
.up-gallery .results-wrapper .package-list {position:relative; width:100%;}
/* IE7 adjustments*/
*:first-child+html .up-gallery .results-wrapper .portlet-list li {width:24%;} 
*:first-child+html .up-gallery .results-wrapper .package-list li {width:24%;} 

.up-gallery .package-wrapper a {width:25px; cursor:pointer; color:#000; position:absolute; padding:3px 8px; top:0; right:0; display:none; background:#f68923; background-image:-moz-linear-gradient(90deg,#f68923,#ffffff); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f68923), to(#ffffff)); border-bottom-left-radius:3px; -moz-border-radius-bottomleft:3px; -webkit-border-bottom-left-radius:3px; }
.up-gallery .package-description {clear:right; color:#AAA; display:inline;}
.up-gallery .package-titlebar {padding:5px 0 3px 0; font-size:12px; font-weight:bold; color:#DDD;}
.up-gallery .package-wrapper  {border:1px solid #333; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.up-gallery .package-wrapper:hover {border:1px solid #f68923; background:#111; background-image:-moz-linear-gradient(90deg,#000000,#333333); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333)); border-top-right-radius:0px;    -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px;}
.up-gallery .package-wrapper:hover a {display:block;}
.up-gallery .package-wrapper img {width:37px; height:37px; float:left; margin-right:5px; margin-bottom:5px;}

/* Gallery Skin List 
 * The list of skins.
 */
.up-gallery .results-wrapper {font-size:10px; position:relative; color:#AAA;}
.up-gallery .results-wrapper .skins-list {list-style:none; padding:0; margin:0; position:relative;}
.up-gallery .results-wrapper .skins-list li {display:block; list-style:none; padding:0; maring:0; position:relative; float:left; width:140px; height:75%;}
.up-gallery .results-wrapper .skins-list li .skins-wrapper {height:100px; padding:5px; margin:5px 5px 0 0; overflow:hidden; position:relative;}
.up-gallery .skins-wrapper a {cursor:pointer; top:0; right:0; color:transparent;}
.up-gallery .skins-wrapper img {border:none;}
.up-gallery .skin-titlebar {padding:5px 0 3px 0; font-size:12px; font-weight:bold; color:#DDD;}
.up-gallery .skins-wrapper  {border:1px solid #333; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.up-gallery .skins-wrapper:hover {border:1px solid #f68923; background:#111; background-image:-moz-linear-gradient(90deg,#000000,#333333); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333));}
.up-gallery .skins-wrapper:hover a {display:block;}
.up-gallery .skins-wrapper.selected {border:1px solid #f68923; background:#f68d29; background-image:-moz-linear-gradient(90deg,#d87516,#222222); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d87516), to(#222222)); color:#fff;}
.up-gallery .selected .skin-titlebar {color:#fff;}

/* Gallery Layout List 
 * The list of page layouts.
 */
.up-gallery .results-wrapper {font-size:10px; position:relative; color:#AAA;}
.up-gallery .results-wrapper .layouts-list {list-style:none; padding:0; margin:0; position:relative;}
.up-gallery .results-wrapper .layouts-list li {display:block; list-style:none; padding:0; maring:0; position:relative; float:left; width:140px; height:50%;}
.up-gallery .results-wrapper .layouts-list li .layout-wrapper {height:66px; padding:5px 10px 5px 10px; margin:5px 5px 0 0; overflow:hidden; position:relative;}
.up-gallery .layout-wrapper a {cursor:pointer; top:0; right:0; color:transparent;}
.up-gallery .layout-wrapper img {border:none;}
.up-gallery .layout-titlebar {padding:5px 0 3px 0; font-size:12px; font-weight:bold; color:#DDD;}
.up-gallery .layout-description {clear:right; color:#AAA; display:inline;}
.up-gallery .layout-thumb {float:left; margin:0 5px 5px 0;}
.up-gallery .layout-wrapper  {border:1px solid #333; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.up-gallery .layout-wrapper:hover {border:1px solid #f68923; background:#111; background-image:-moz-linear-gradient(90deg,#000000,#333333); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333));}
.up-gallery .layout-wrapper:hover a {display:block;}
.up-gallery .layout-wrapper.selected {border:1px solid #f68923; background:#f68d29; background-image:-moz-linear-gradient(90deg,#d87516,#222222); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d87516), to(#222222));}
.up-gallery .selected .layout-titlebar {color:#fff;}
