/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* uPORTAL UNIVERSALITY THEME LAYOUT CSS
 * These declarations are scoped both for the portal and for portlets.
 * These declarations are specific to the "universality" theme.
 * This CSS is shared across all skins that use the "universality" theme.
 * These declarations work with the Fluid Skinning System (FSS) to establish the basic portal layout structure.
 * Only CSS that affects the layout (positioning) of major elements should be listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height, margin, border, padding, overflow
 * CSS that sets the visual style of the portal (and portlets) is handled by individual skins.
 * This CSS assumes the use of a CSS reset (by default the FSS "fss-reset.css") for browser normalization.
 */
 
/* uPORTAL DEVELOPMENT STANDARDS AND GUIDELINES
 * For the standards and guidelines that govern the user interface of uPortal portlets including HTML, CSS, JavaScript, accessibilty, naming conventions, 3rd Party libraries (like jQuery and the Fluid Skinning System) and more, refer to:
 * http://www.ja-sig.org/wiki/x/cQ
 */
 
 
/* 
----------------------------------------------------
  Fluid Skinning System extensions and overrides.
----------------------------------------------------
 * The Fluid Skinning System is a group of CSS files with a specially designed modular structure and class-specific format.
 * It is meant to work well as both a standalone CSS foundation for your site and Fluid Infusion components.
 * In FSS, "themes" refer to the color schemes and "window dressings" for basic markup and FSS Helpers, such as Tabs, Widgets, Menus, etc.
 * For more information on FSS themes, refer to:
 * http://wiki.fluidproject.org/x/egNS
 * The FSS theme created for uPortal is "fl-theme-uportal", and is a class of the <body> tag, used for namespacing.
 */

.fl-col-flex6 {width:6%; float:left; display:inline;}
.fl-col-flex7 {width:7%; float:left; display:inline;}
.fl-col-flex8 {width:8%; float:left; display:inline;}
.fl-col-flex9 {width:9%; float:left; display:inline;}
.fl-col-flex10 {width:10%; float:left; display:inline;}
.fl-col-flex11 {width:11%; float:left; display:inline;}
.fl-col-flex12 {width:12%; float:left; display:inline;}
.fl-col-flex13 {width:13%; float:left; display:inline;}
.fl-col-flex14 {width:14%; float:left; display:inline;}
.fl-col-flex15 {width:15%; float:left; display:inline;}
.fl-col-flex16 {width:16%; float:left; display:inline;}
.fl-col-flex17 {width:17%; float:left; display:inline;}
.fl-col-flex18 {width:18%; float:left; display:inline;}
.fl-col-flex19 {width:19%; float:left; display:inline;}
.fl-col-flex20 {width:20%; float:left; display:inline;}
.fl-col-flex21 {width:21%; float:left; display:inline;}
.fl-col-flex22 {width:22%; float:left; display:inline;}
.fl-col-flex23 {width:23%; float:left; display:inline;}
.fl-col-flex24 {width:24%; float:left; display:inline;}
.fl-col-flex25 {width:25%; float:left; display:inline;}
.fl-col-flex26 {width:26%; float:left; display:inline;}
.fl-col-flex27 {width:27%; float:left; display:inline;}
.fl-col-flex28 {width:28%; float:left; display:inline;}
.fl-col-flex29 {width:29%; float:left; display:inline;}
.fl-col-flex30 {width:30%; float:left; display:inline;}
.fl-col-flex31 {width:31%; float:left; display:inline;}
.fl-col-flex32 {width:32%; float:left; display:inline;}
.fl-col-flex33 {width:33%; float:left; display:inline;}
.fl-col-flex34 {width:34%; float:left; display:inline;}
.fl-col-flex35 {width:35%; float:left; display:inline;}
.fl-col-flex36 {width:36%; float:left; display:inline;}
.fl-col-flex37 {width:37%; float:left; display:inline;}
.fl-col-flex38 {width:38%; float:left; display:inline;}
.fl-col-flex39 {width:39%; float:left; display:inline;}
.fl-col-flex40 {width:40%; float:left; display:inline;}
.fl-col-flex41 {width:41%; float:left; display:inline;}
.fl-col-flex42 {width:42%; float:left; display:inline;}
.fl-col-flex43 {width:43%; float:left; display:inline;}
.fl-col-flex44 {width:44%; float:left; display:inline;}
.fl-col-flex45 {width:45%; float:left; display:inline;}
.fl-col-flex46 {width:46%; float:left; display:inline;}
.fl-col-flex47 {width:47%; float:left; display:inline;}
.fl-col-flex48 {width:48%; float:left; display:inline;}
.fl-col-flex49 {width:49%; float:left; display:inline;}
.fl-col-flex50 {width:50%; float:left; display:inline;}
*:first-child+html .fl-col-flex50 {width:49%;} /* hack needed for IE7 */
.fl-col-flex51 {width:51%; float:left; display:inline;}
.fl-col-flex52 {width:52%; float:left; display:inline;}
.fl-col-flex53 {width:53%; float:left; display:inline;}
.fl-col-flex54 {width:54%; float:left; display:inline;}
.fl-col-flex55 {width:55%; float:left; display:inline;}
.fl-col-flex56 {width:56%; float:left; display:inline;}
.fl-col-flex57 {width:57%; float:left; display:inline;}
.fl-col-flex58 {width:58%; float:left; display:inline;}
.fl-col-flex59 {width:59%; float:left; display:inline;}
.fl-col-flex60 {width:60%; float:left; display:inline;}
.fl-col-flex61 {width:61%; float:left; display:inline;}
.fl-col-flex62 {width:62%; float:left; display:inline;}
.fl-col-flex63 {width:63%; float:left; display:inline;}
.fl-col-flex64 {width:64%; float:left; display:inline;}
.fl-col-flex65 {width:65%; float:left; display:inline;}
.fl-col-flex66 {width:66%; float:left; display:inline;}
.fl-col-flex67 {width:67%; float:left; display:inline;}
.fl-col-flex68 {width:68%; float:left; display:inline;}
.fl-col-flex69 {width:69%; float:left; display:inline;}
.fl-col-flex70 {width:70%; float:left; display:inline;}
.fl-col-flex71 {width:71%; float:left; display:inline;}
.fl-col-flex72 {width:72%; float:left; display:inline;}
.fl-col-flex73 {width:73%; float:left; display:inline;}
.fl-col-flex74 {width:74%; float:left; display:inline;}
.fl-col-flex75 {width:75%; float:left; display:inline;}
.fl-col-flex76 {width:76%; float:left; display:inline;}
.fl-col-flex77 {width:77%; float:left; display:inline;}
.fl-col-flex78 {width:78%; float:left; display:inline;}
.fl-col-flex79 {width:79%; float:left; display:inline;}
.fl-col-flex80 {width:80%; float:left; display:inline;}
.fl-col-flex81 {width:81%; float:left; display:inline;}
.fl-col-flex82 {width:82%; float:left; display:inline;}
.fl-col-flex83 {width:83%; float:left; display:inline;}
.fl-col-flex84 {width:84%; float:left; display:inline;}
.fl-col-flex85 {width:85%; float:left; display:inline;}
.fl-col-flex86 {width:86%; float:left; display:inline;}
.fl-col-flex87 {width:87%; float:left; display:inline;}
.fl-col-flex88 {width:88%; float:left; display:inline;}
.fl-col-flex89 {width:89%; float:left; display:inline;}
.fl-col-flex90 {width:90%; float:left; display:inline;}
.fl-col-flex91 {width:91%; float:left; display:inline;}
.fl-col-flex92 {width:92%; float:left; display:inline;}
.fl-col-flex93 {width:93%; float:left; display:inline;}
.fl-col-flex94 {width:94%; float:left; display:inline;}
.fl-col-flex95 {width:95%; float:left; display:inline;}
.fl-col-flex96 {width:96%; float:left; display:inline;}
.fl-col-flex97 {width:97%; float:left; display:inline;}
.fl-col-flex98 {width:98%; float:left; display:inline;}
.fl-col-flex99 {width:99%; float:left; display:inline;}


/* Removes padding and margin compensations for padding. */
.fl-col-mixed .fl-col-flex-left {margin-left:200px;}
.fl-col-mixed .fl-col-flex-right {margin-right:200px;}
.fl-col-mixed-100 .fl-col-flex-left {margin-left:100px;}
.fl-col-mixed-100 .fl-col-flex-right {margin-right:100px;}
.fl-col-mixed-150 .fl-col-flex-left {margin-left:150px;}
.fl-col-mixed-150 .fl-col-flex-right {margin-right:150px;}
.fl-col-mixed-200 .fl-col-flex-left {margin-left:200px;}
.fl-col-mixed-200 .fl-col-flex-right {margin-right:200px;}
.fl-col-mixed-250 .fl-col-flex-left {margin-left:250px;}
.fl-col-mixed-250 .fl-col-flex-right {margin-right:250px;}
.fl-col-mixed-300 .fl-col-flex-left {margin-left:300px;}
.fl-col-mixed-300 .fl-col-flex-right {margin-right:300px;}


/* Prevent cascading margins of nested column layouts. */
.layout-1-columns #portalPageBodyColumns.fl-col-flex,
.layout-1-columns #portalPageBodyColumns .fl-col-flex {margin:0;}


/* 
------------------------------------
  uPortal Layout and Structure.
------------------------------------ 
 * uPortal is namespaced with "up", a class of the <body> tag.
 */

/* forms */
input[type="checkbox"] {margin-right:0.5em;}
fieldset input[type="checkbox"] {margin-bottom:1em;}

/* common */
.portal-pipe {padding:0 0.5em;}

ul.horizontal-list-floated li {list-style:none; float:left; padding-left:1em;}
ul.horizontal-list-inline li {list-style:none; display:inline; padding-left:1em;}

/* Add the "purpose-layout" class to any table you are using for layout purposes. */
table.purpose-layout,
table.purpose-layout th,
table.purpose-layout td {margin:0; padding:0;}


/* page */
#portalPage {min-width:700px; clear:both;}


/* header */
#portalPageBar h2 {margin:0; padding:0.5em 0 0 1em; position:absolute; top:0; left:0;}
#portalPageBarLinks {padding:0.5em 1em 0.5em 0;}
#portalPageBarLinks a {padding:0 0.5em;}
#portalSkipNav a, 
#portalSkipNav a:hover, 
#portalSkipNav a:visited {position:absolute; left:0; top:-500px; width:1px; height:1px; overflow:hidden;} /* This sets the skip-to links to be completely hidden until a user tabs to the link. */
#portalSkipNav a:active, 
#portalSkipNav a:focus {position:static; width:auto; height:auto;} /* This sets the skip-to links to be completely hidden until a user tabs to the link. */
#portalLogo {}
#portalWelcome {position:absolute; top:3em; left:195px;} /* Keep the top value relative to the text size so that the top position remains good when the browser text size is increased. Set the left width to the width of your logo (plus logo margins). This margin prevents it from colliding with the logo if the browser window is shrunk down. */
#portalWelcome .logout-label {padding-left: 0.5em;} /* Gives a bit of space between the welcome statement and the logout link. */
.focused #portalPageBar img {float:left; margin:3px 0 0 10px}


/* body */
#portalPageBodyTitleRowContents {position:relative; padding:0 1em;} /* Sets this container as positioned to have other elements poisitioned relative to it. */
.breadcrumb-separator {padding:0 0.5em;}
#portalPageBodyTitleRow h1 {margin:0;}
/* Columns */
.portal-page-column-inner {padding-top:2px; padding-left:1em; padding-bottom:2em; min-height:100px;}
#portalPageBodyColumns .single .portal-page-column-inner, 
#portalPageBodyColumns .right .portal-page-column-inner {padding-right:2em;}
#portalPageBodyColumns .single .portal-page-column-inner, 
#portalPageBodyColumns .left .portal-page-column-inner {padding-left:2em;}
/* focused */
.focused #portalPageBodyTitleRow {padding:1em 1em 0 1em;}
#portalPageBodyBreadcrumb {margin-bottom:0.5em;}
.focused .portal-page-column-inner {padding:0em 2em 2em 2em;}
.focused .up-portlet-content {padding:0;}

/* Sidebar */
#portalSidebar {padding:0;}
#portalSidebarInner {padding:0 1em 2em 1em;}
#portalSidebar #portalCustomizationLinks .portal-pipe {display:none;}

/* portlet wrappers */
.up-portlet-wrapper {margin-bottom:1em;}
.up-portlet-titlebar {position:relative;}
.up-portlet-titlebar h2 {margin:0; padding:2px 20px 3px 20px;}
.up-portlet-controls {position:absolute; top:4px; right:0;}
.dashboard .up-portlet-controls .up-portlet-control {padding-right:1em;}
.up-portlet-content-wrapper {padding:1em;}
/* No chrome */
.fl-widget.no-chrome .up-portlet-titlebar {display:none;}
.fl-widget.no-chrome,
.fl-widget.no-chrome .up-portlet-content-wrapper {padding:0; border:none; background:none;}

/* footer */
#portalPageFooter {padding-top:2em;}
#portalPageFooterInner {padding:1em;}
#portalProductAndVersion {margin-top:1em;}

/* login */
#portalLogin label {display:block; margin-bottom:0.3em;}
#portalLogin input {margin-bottom:1em;}

/* navigation */
#portalNavigation ul {margin:0; padding:0;}
/* subrow */
#portalNavigationSubrow {padding:0.5em 0;}
.sidebar-left-100 #portalNavigationSubrow ul {margin-left:120px;}
.sidebar-left-150 #portalNavigationSubrow ul {margin-left:170px;}
.sidebar-left-200 #portalNavigationSubrow ul {margin-left:220px;}
.sidebar-left-250 #portalNavigationSubrow ul {margin-left:270px;}
.sidebar-left-300 #portalNavigationSubrow ul {margin-left:320px;}
.sidebar-right-100 #portalNavigationSubrow ul {margin-right:120px;}
.sidebar-right-150 #portalNavigationSubrow ul {margin-right:170px;}
.sidebar-right-200 #portalNavigationSubrow ul {margin-right:220px;}
.sidebar-right-250 #portalNavigationSubrow ul {margin-right:270px;}
.sidebar-right-300 #portalNavigationSubrow ul {margin-right:320px;}
#portalNavigationSubrow li {list-style-type:none; display:inline;}
#portalNavigationSubrow a {padding:0em 1em;}
/* Flyout subnav */
#portalNavigation .portal-flyout-container {width:200px; position:absolute; z-index:100000; display:none;}
#portalNavigation .portal-flyout-container li {list-style:none;}
#portalNavigation .portal-flyout-container .portal-subnav-list li {display:list-item; position:static; padding:0;}
#portalNavigation .portal-flyout-container .portal-subnav-list li a {display:block;}
#portalNavigation .portal-flyout-iframe {position:absolute; z-index:9;}
/* Add Tab */
#portalNavigation .add-tab {display:inline-block;}

/* Customization Links */
/* 
 | When rendered in the Title Row (with the Page Title).
 | Turns the list into a row and positions it to the top right corner. 
*/
#portalPageBodyTitleRow #portalCustomizationLinks {position:absolute; top:0; right:0; text-align:right; margin:0 0 0 250px;}
#portalPageBodyTitleRow .fl-widget {margin:0;}
#portalPageBodyTitleRow .fl-widget .fl-widget-titlebar,
#portalPageBodyTitleRow .fl-widget .fl-widget-titlebar h2, 
#portalPageBodyTitleRow .fl-widget .fl-widget-content, 
#portalPageBodyTitleRow #portalCustomizationLinks ul,
#portalPageBodyTitleRow #portalCustomizationLinks .fl-listmenu,
#portalPageBodyTitleRow #portalCustomizationLinks .fl-listmenu li,
#portalPageBodyTitleRow #portalCustomizationLinks .fl-listmenu a {display:inline; border:none;}
#portalPageBodyTitleRow #portalCustomizationLinks h2 {margin:0; padding-right:1em;}
#portalPageBodyTitleRow #portalCustomizationLinks ul.fl-listmenu {margin:0;}

/* quicklinks */	
#portalQuicklinks {}

#portalQuicklinks ul, 
#portalQuicklinks li {margin:0; padding:0;}

/* web search */
#webSearchContainer form {padding:1em;}
#webSearchContainer input, 
#webSearchContainer select {margin-bottom:0.5em;}
#portalPageHeader #webSearchContainer {position:absolute; top:3em; right:0;}
#portalPageHeader #webSearchContainer h2 {display:none;}
#portalPageHeader #webSearchContainer input,
#portalPageHeader #webSearchContainer select {margin-left:0.3em;}

#tooltip h3, #tooltip div { margin: 0; }
#tooltip {position:absolute; z-index:3000; opacity:0.85; max-width:400px; padding:4px;}

/* Fragment Administration */
#fragmentAdminForm {margin:0; padding:0;}
#portalFragAdminExit h2 {margin:0; padding:0.5em 1em 0em 1em;}
#portalFragAdminExit form {margin:0; padding:0 1em 1em 1em;}
#portalFragAdminExit #exitFragment {margin-left:1em; padding:0.3em 1em;}

/* Portlet Navigation */
#portletNavigation h3 {margin:0.5em 0 0 0; padding:0.2em 0.5em;}

/* Ajax Menus */
#changeColumns tr td { text-align: center; }
#changeColumns img { vertical-align: middle; padding:3px; }


/* 
------------------------------------
  uPortal specific portlets.
------------------------------------ 
 * Portlets that only reside in uPortal.
 */

/* CSyndFeed Channel - RSS */
.news-items ul,
.news-items li {margin:0;}
.news-items li {list-style:none;}
.news-items .news-item-excerpt {display:block; padding-top:0.3em;}
.news-source p {padding:1em;}

/* Groups Manager Channel */
.groupmgr-search select,
.groupmgr-search input,
.groupmgr-search label {margin-right:0.5em;}
#grpCommandArg {margin-top:1em;}
.groupmgr-entity,
.groupmgr-group {padding:0.3em 1em; margin-bottom:0.5em; border-bottom:1px solid #ccc;}
.groupmgr-group .uportal-channel-table-row-even {background-color:transparent;}
.groupmgr-entity strong {color:#666;}
.groupmgr-entity strong,
.groupmgr-group strong {padding-right:1em;}
.groupmgr-entity table {margin:1em 0; border:1px solid #ccc;}
.groupmgr-entity table th {border:1px solid #ccc; background-color:#eee; color:#666; font-size:85%; padding:0.2em 1em;}
.groupmgr-entity table td {border:1px solid #ccc; padding:0.5em 1em;}
.groupmgr-tree-hierarchy-line {background:transparent url(../../../icons/tree_bullet.png) top left repeat-y;}
.groupmgr-edit-group,
.groupmgr-close-group,
.groupmgr-done-editing,
.groupmgr-delete-group {padding-right:1em;}
.groupmgr-show-info,
.groupmgr-hide-info,
.groupmgr-remove-member {padding-left:1em;}
.groupmgr-edit-group img,
.groupmgr-close-group img,
.groupmgr-show-info img,
.groupmgr-done-editing img,
.groupmgr-delete-group img,
.groupmgr-remove-member img,
.groupmgr-hide-info img {padding-right:0.3em;}
.groupmgr-edit-group,
.groupmgr-close-group,
.groupmgr-show-info,
.groupmgr-done-editing,
.groupmgr-delete-group,
.groupmgr-remove-member,
.groupmgr-hide-info {text-decoration:none;}
.groupmgr-right-pane td label {display:block; text-align:right;}
.groupmgr-right-pane input {margin-right:0.5em;}

/* Cache Manager Portlet */
.cache-manager .cache-member a {
    font-weight: normal; 
}
.cache-manager .cache-member .cache-name a {
    padding:0.2em 0 0.2em 20px;
    background-position:0 50%;
    background-repeat:no-repeat;
    background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/drive.png)
}
.cache-manager .cache-member:hover {
    background-color:#FFFFCC;
    color:#336699;
}

/* Portlet Manager */
.override-preference td {
	color: graytext;
    text-decoration: line-through;
}
.preference-name {
    vertical-align: top;
}
