
BODY { color: #000000; background: #ffffff; font-family: verdana, helvetica, arial, sans-serif; margin-left: 0px; margin-top: 0px; }

A:link{color:#0000ff;text-decoration:none;}

A:visited{color:#660099;text-decoration:none;}

A:active{color:#990000;}

A:hover{color:#990000;text-decoration:underline;}

.textform{
        color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 10px;
}

.uportal-head14-bold{
        color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 14px;
	font-weight : bold;
}

.uportal-text11-bold{
        color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 11px;
	font-weight : bold;        
}

.uportal-text12-bold{
        color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 12px;
	font-weight : bold;        
}

.uportal-head24{
        color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 24px;
}

.uportal-text{
	color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 12px;
}
.uportal-text-small{
	color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 10px;
}
.uportal-button{
	color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 10px;
	background : #CCCCFF;
}
.uportal-label{
	color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.uportal-input-text{
	color : Black;
	font-size: 12px;
	font-family: verdana, helvetica, arial, sans-serif;
	background : #CCCCFF;
}
.uportal-text-reversed{
	color : White;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 12px;
}


A.uportal-nav-small-white{
	color : #ffffff;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
}

A.uportal-nav-small-black{
	color : #000000;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
}

A.uportal-navigation-category{
	color : Black;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:visited{
	color : Black;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:hover{
	color : #666699;
	font-size : 12px;
	font-weight : bold;
}
.uportal-navigation-category-selected{
	font-size : 12px;
	font-weight : bold;
	color : #666699;
}
A.uportal-navigation-channel{
	color : Black;
	font-size : 12px;
}
A.uportal-navigation-channel:visited{
	color : Black;
	font-size : 12px;
}
A.uportal-navigation-channel:hover{
	color : #666699;
	font-size : 12px;
}
.uportal-navigation-channel-selected{
	background : Black;
	font-size : 12px;
	color : White;
}
.uportal-crumbtrail{
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 10px;
	color : #666666;
}
.uportal-copyright{
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-channel-text{
	color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 12px;
}
.uportal-channel-title{
	color : Black;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 16px;
	font-weight : bold;
}
.uportal-channel-title-reversed{
	color : #FFFFFF;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 16px;
	font-weight : bold;
}
.uportal-channel-subtitle{
	color : #999999;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-subtitle-reversed{
	color : #333333;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-emphasis{
	font-weight : bold;
	font-size : 12px;
	font-family: verdana, helvetica, arial, sans-serif;

}
.uportal-channel-strong{
	font-weight : bold;
	font-size : 12px;
	font-family: verdana, helvetica, arial, sans-serif;
}
.uportal-channel-code{
	color : Black;
	font-size: 12px;
	font-family: verdana, helvetica, arial, sans-serif;
}
.uportal-channel-copyright{
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-channel-warning{
	font-size: 14px;
	font-family: verdana, helvetica, arial, sans-serif;
	font-weight: bold;
	color : #FF0000;
}
.uportal-channel-error{
	color : Black;
	font-size: 11px;
	font-family: verdana, helvetica, arial, sans-serif;
}
.uportal-channel-table-caption{
	color : #6666FF;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 12px;
	font-weight : bold;
	text-align: center;
}
.uportal-channel-table-header{
	color : #666699;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 12px;
	font-weight : bold;
	text-align: left;
}
.uportal-channel-table-row-even{
	color : Black;
	font-size: 11px;
	font-family: verdana, helvetica, arial, sans-serif;
}
.uportal-channel-table-row-odd{
	color : #666666;
	font-size: 11px;
	font-family: verdana, helvetica, arial, sans-serif;
}
.uportal-background{
	background : #FFFFFF;
}
.uportal-background-dark{
	background : #666699;
}
.uportal-background-med{
	background : #CCCCCC;
}
.uportal-background-light{
	background : #EFEFEF;
}
.uportal-background-content{
	background : #FFFFFF;
}
.uportal-background-highlight{
	background : #FFFFCC;
}
.uportal-background-shadow{
	background : #000000;
}

.bgmlight {background-color: #999999;}

.uportal-background-warning {background-color: #ff0000;}

.border { 
        width: auto;
        margin: 0px 0px 0px 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        border: solid;
        border-top-width: 0px;
        border-bottom-width: 1px;
        border-right-width: 1px;
        border-left-width: 1px;
        border-color: #999999;
}

