
<permission-set script="classpath://org/jasig/portal/io/import-permission_set_v3-1.crn">
  <owner>system</owner>
  <principal-type>org.jasig.portal.groups.IEntityGroup</principal-type>
  <principal> 
    <group>Portal Administrators</group> 
  </principal>
  <activity>MAX_INACTIVE</activity>
  <target permission-type="GRANT"> 
    <literal>3600</literal> 
  </target>
</permission-set>