/*.fl-theme-mist .email-portlet-table a {
font-weight: normal;
}*/
.fl-theme-mist a{color:#5a95cf;}

.fl-widget .fl-widget-content {
	zoom: 1;
}

.portlet .flc-pager-top {
margin-bottom: .5em;
}
.portlet .fl-pager .fl-pager-ui li {
list-style-type: none;
display: inline-block;
}
.flc-pager-links a {
vertical-align: middle;
}

.email-list .flc-pager-links .flc-pager-pageLink a {
text-decoration: underline;
color: #5A95CF;
}



.portlet .fl-pager .fl-pager-ui li{
	list-style-type:none;
	display:inline-block
}
.fl-pager caption{
	padding:.63em 0;
	margin-bottom:0
}
.fl-pager th{
	cursor:pointer
}
.fl-pager-controls {
	padding:.69em .69em
}
.flc-pager-links a{
	vertical-align:middle
}

.portlet .flc-pager-page-size, #allFolders {

	margin-top: 10px;
}
.portlet .flc-pager-page-size {
	width: 60px;
}
#allFolders {
	width: 150px;
}

.fl-theme-mist th {
border: .1em solid #5a95cf;
background-color: #dfefff;
}
.up table, .up table th, .up table td {
border: none!important;
}

.fl-col-side.fl-force-left.span4 {
	margin-left: 0;
}

.fl-col-flex2 .fl-col {
	width: 48.85%;
	margin-left: .25%;
	margin-right: .25%;
	padding-left: .25%;
	padding-right: .25%;
}
.fl-col-flex2, .fl-col-flex3, .fl-col-flex4, .fl-col-flex5 {
	overflow: auto;
	zoom: 1;
}
.fl-col {
	float: left;
	display: inline;
}

/* Changing Login Button Colors to Black */
.fl-widget-inner .fl-widget-content .fl-widget-content a.btn {
    color: #000;
}

/* Changing Logout Button Color to Black */
.portal-user a.btn {
    color: #000;
}


@media (max-width: 979px) {
	[class*="span"].pull-right, .row-fluid [class*="span"].pull-right {
		float: none;
	}
}