<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
  <servlet>
    <servlet-name>uPortal</servlet-name>
    <servlet-class>org.jasig.portal.PortalSessionManager</servlet-class>
    <init-param>
      <param-name>portalBaseDir</param-name>
      <param-value>/home/bw/ibs/portal/</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>uPortal</servlet-name>
    <url-pattern>*.uP</url-pattern>
  </servlet-mapping>

  <mime-mapping>
    <extension>wbmp</extension>
    <mime-type>image/vnd.wap.wbmp</mime-type>
  </mime-mapping>

</web-app>
