# Lock batch file ending
*.bat text eol=crlf

# Checkout as OS specific line endings, check in as LF
* text eol=lf

# Unset formating for binary files
*.gif binary
*.jar binary
*.jpg binary
*.png binary
*.tar.gz binary
*.tgz binary
*.ttf binary
*.zip binary
