.gradle/
*.iml
*.sass-cache
**/.classpath
**/.DS_Store
**/.project
**/.settings/
**/build
**/node_modules/
/.ant-targets-build.xml
/.classpath
/.idea
/.project
/.settings
/*.sublime*
/assembly/.ant-targets-build.xml
/bin
/build.properties
/data
/logs
/target
/uportal-impl
npm-debug.log
uportal-platform-api/target/
uportal-portlets-overlay/*/overlays
