.ant-targets-build.xml
.classpath
.DS_Store
.gradle
.idea
.project
.settings
*.iml
*.sass-cache
*.sublime*
/assembly/.ant-targets-build.xml
bin
build
build.properties
data
logs
node_modules
npm-debug.log
target/
uportal-impl
uportal-portlets-overlay/*/overlays
