#
# Modify this file to suit your environment.
# The values of these properties will
# override the values of properties of the
# same name in the build.xml file.
#
# Use forward slashes for path names even if
# you are in a Windows environment!
#


#==================== File and Directory Names ========================

##### Replace server.home with the location of Tomcat 5.5 on your machine #####
# path to tomcat binaries
server.home=@server.home@

# path to tomcat servlet container (defaults to same directory as the tomcat binaries)
server.base=${server.home}

webapp.path=/${webapp.docBase}

# With Tomcat (at least) you can make uPortal the default application by setting uportal-war finalName to ROOT
# and webapp.path to nothing
# (and removing the webapps/ROOT directory that came with the Tomcat distribution)
#webapp.path=

#If the mvn executable isn't on your path you can set the location here or set it on your path.
#maven.home=