BODY{
	background: #66CCFF;
}
A {
	text-decoration : none;
	color : Black;
}
A:VISITED {
	color : Black;
}
A:HOVER {
	color : #FA2F00;
	text-decoration: underline;
}
A.navigation {
	color : #63629A;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A.navigation:visited {
	color : #63629A;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;	
}
A.navigation:hover {
	color : #FA2F00;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.navigation-selected{
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FA2F00;
}
A.uportal-navigation-category{
	color : Black;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A.uportal-navigation-category:visited{
	color : Black;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A.uportal-navigation-category:hover{
	color : #FA2F00;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.uportal-navigation-category-selected{
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
}
A.uportal-navigation-channel{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
}
A.uportal-navigation-channel:visited{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
}
A.uportal-navigation-channel:hover{
	color : #FA2F00;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	text-decoration: underline;
}
.uportal-navigation-channel-selected{
	background : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	color : White;
}
.uportal-text{
	color : Black;
	font-family : Georgia, "Times New Roman", Times, serif;
	font-size : x-small;
}
.uportal-text-small{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
}
.uportal-button{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
	background : #66CCFF;
}
.uportal-label{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
}
.uportal-input-text{
	color : Black;
	font-size: x-small;
	font-family: Monaco, Andale Mono, monospace;
	background : #FFFF00;
}
.uportal-text-reversed{
	color : White;
	font-family : Georgia, "Times New Roman", Times, serif;
	font-size : x-small;
}

.uportal-crumbtrail{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	color : #666666;
}
.uportal-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	color : Black;
	font-style : italic;
}
.uportal-channel-text{
	color : Black;
	font-family : Georgia, "Times New Roman", Times, serif;
	font-size : x-small;
}
.uportal-channel-title{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : bold;
}
.uportal-channel-title-reversed{
	color : #663333;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
}
.uportal-channel-subtitle{
	color : #999999;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : bold;
}
.uportal-channel-subtitle-reversed{
	color : #333333;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
}
.uportal-channel-emphasis{
	font-weight : bold;
	font-size : x-small;
	font-family : Georgia, "Times New Roman", Times, serif;
}
.uportal-channel-strong{
	font-weight : bold;
	font-size : x-small;
	font-family : Georgia, "Times New Roman", Times, serif;
}
.uportal-channel-code{
	color : Black;
	font-size: x-small;
	font-family: Monaco, Andale Mono, monospace;
}
.uportal-channel-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	color : Black;
	font-style : italic;
}
.uportal-channel-warning{
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FA2F00;
}
.uportal-channel-error{
	color : #FA2F00;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-caption{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : bold;
	text-align: center;
}
.uportal-channel-table-header{
	color : #14275A;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : bold;
	text-align: left;
}
.uportal-channel-table-row-even{
	color : Black;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-row-odd{
	color : #666666;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-background{
	background : #000000;
}
.uportal-background-dark{
	background : #66CCFF;
}
.uportal-background-med{
	background : #56A8D3;
}
.uportal-background-light{
	background : #FFFF00;
}
.uportal-background-content{
	background : #CCFFFF;
}
.uportal-background-highlight{
	background : #FF66CC;
}
.uportal-background-shadow{
	background : #000000;
}
.uportal-background-page{
	background : #63629A;
}
.uportal-background-semidark{
	background: #D29EE6;
}
.uportal-background-selected{
	background : #FF66CC;
}
.uportal-background-neutral-dark{
	background: #666666;
}
.uportal-background-neutral-light{
	background: #FECD33;
}
