/*====================================*/
/* Footer */
/*====================================*/
/*
 * Styles for formatting the portal footer and widgets that are contained in it.
 */

.up {
	#portalPageFooter {
		/* Portal footer. */
		background: $footerBackground;
		color: $footerText;
		font-size: $footerFontSize;
		
		#portalPageFooterInner {
			margin: 0 auto;
			padding: $footerInnerPadding;
    		width: $footerInnerWidth;
    		@if ($footerInnerBackground != false) {
    			background: $footerInnerBackground;
    		}
		}
		
		a {
			/* Generally want footer links to blend in with the footer. */
			color: $footerLink;
			text-decoration: $footerLinkDecoration;
			&:hover, &:focus {
				color: $footerLinkHover;
			}
		}
		
		#portalPageFooterLinks {
			/* This list of footer links needs a little more attention than the rest of the footer stuff. */
			margin: $footerLinkListMargin;
			a {
				color: $footerLinkListColor;
				font-weight: $footerLinkListFontWeight;
				&:hover, &:focus {
					color: $footerLinkListHoverColor;
				}
			}
		}
		#portalProductAndVersion, #portalCopyright, #silkIconsAttribution {
			margin: $footerEtcMargin;
		}
	}
}