/*====================================*/
/* Footer */
/*====================================*/
/*
 * Styles for formatting the portal footer and widgets that are contained in it.
 */

.up {
	#portalPageFooter {
		/* Portal footer. */
		background: $footerBackground;
		color: $footerText;
		font-size: $footerFontSize;
		
		a {
			/* Generally want footer links to blend in with the footer. */
			color: $footerLink;
			text-decoration: $footerLinkDecoration;
			&:hover, &:focus {
				color: $footerLinkHover;
			}
		}
		
		#portalPageFooterContent {
			margin: 0 auto;
			padding: $footerInnerPadding;
    		@if ($footerInnerBackground != false) {
    			background: $footerInnerBackground;
    		}
		}
		
		#portalPageFooterNav {
		    background: #1E2126;
		    font-size: 10px;
		    padding: 25px;
		    
		    .fl-container-flex {
            	margin: 0 auto;
		    }
		    div > a {
            	font-weight: bold;
            }
            div > a:link {
            	color: #fff;
            }
            div > a:visited {
            	color: #fff;
            }
            div > a:hover {
            	color: #699bc4;
            }
            .fl-col {
            	margin-left: 0;
            	margin-right: 0.50%;
            	padding: 0;
            }
            ul {
              margin: 0;
              padding-top: 12px;
            }
            ul li {
            	list-style: none;
            	line-height: 1.5em;
            }
		}
		
		#portalPageFooterLinks {
			/* This list of footer links needs a little more attention than the rest of the footer stuff. */
			margin: $footerLinkListMargin;
			a {
				color: $footerLinkListColor;
				font-weight: $footerLinkListFontWeight;
				&:hover, &:focus {
					color: $footerLinkListHoverColor;
				}
			}
		}
		#portalProductAndVersion, #portalCopyright, #silkIconsAttribution {
			margin: $footerEtcMargin;
		}
	}
}