/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* Form styles.
 * Gives form elements a consistent look across the portal.
 * Pass in the desired type of form based on the context.
 */

/* Use variables to store selectors. */
$form-elements: "input[type='text'], input[type='email'], input[type='tel'], input[type='url'], input[type='search']";
$form-select: "select";
$form-textarea: "textarea";
$form-elements-focus: "select:focus, input[type='text']:focus, input[type='email']:focus, input[type='tel']:focus, input[type='url']:focus, input[type='search']:focus, select:focus, textarea:focus";

/* Apply baseline form element styling. */
.up {
	form {
		#{$form-elements}, #{$form-select}, #{$form-textarea} {
			font-family		: $formElementFont;
			border			: $formElementBorder;
			font-size		: $formElementFontSize;
		}
		
		#{$form-elements}, #{$form-textarea} {
			padding			: $formElementPadding;
			line-height		: $formElementLineHeight;
			background		: $formElementBackground;
			box-shadow		: $formElementBoxShadow;
			@if ($formElementRound != false) {
				@include rounded($formElementRound);
			}
		}
		
		#{$form-select} {
			padding: $formSelectPadding;
			@if ($formSelectRound != false) {
				@include rounded($formSelectRound);
			}
		}
		
		#{$form-elements-focus} {
			@include box-shadow($formElementFocus);
			outline			: none;
		}
	}
}