/*====================================*/
/* NAVIGATION */
/*====================================*/
/* 
 * Styles specific to navigation.
 */


/* Portlet Navigation */
.up {
	#portalNavigation {
		/* Main Navigation, rendered as a row of tabs. */
		background: $c2;
		@include gradient($c2,$c2dark);
		
		
		.portal-navigation {
			/* Each tab list item. */
			border-top: none;
			border-left: 1px solid rgba($white,.25);
			border-right: 1px solid rgba($black,.25);
			@include gradient2($c2,$c2light,$c2dark);
			
			.portal-navigation-link {
				/* Anchor tag within the list item. */
				color: $white;
				@include text-shadow(dark);
			}
		}
		.portal-navigation:hover {
			/* Tab hover. */
			@include gradient2($c2light,$c2lightest,$c2);
		}
		
		.active {
			/* Active tab. */
			@include gradient2($c4,$c4light,$c4dark);
			
			.portal-navigation-link {
				color: $white;
			}
		}
		.active:hover {
			/* Active tab hover. */
			@include gradient2($c4light,$c4lightest,$c4dark);
		}
		.portal-flyout-container {
			/* Flyout menus. */
			background: $c2dark;
			border: 4px solid $c2dark;
			border-top-width: 1px;
			@include round(0,0,0.6em,0.6em);
			@include box-shadow(2px,4px,6px,$graydarker);
			
			li {
				border-top: 1px solid $c2;
				background-color: $white;
				color: $c2dark;
				font-size:85%;
				
				a:hover, a:focus {
					/* Flyout menu hover. */
					background: $c1dark;
				}
			}
		}
		
		.portal-navigation-add {
			/* Add tab link */
			background: transparent url("images/add.png") 0px 0px no-repeat; 
			color: $white; 
			top: 3px;
		}
		.active .portal-navigation-gripper {
			/* Gripper for indicating drag and drop ability. */
			background: transparent url("images/gripper.png") 0px 0px no-repeat;
		}
		.portal-navigation-delete {
			/* "X" icon for indicating delete tab action. */
			background: transparent url("images/remove.png") 0px 0px no-repeat;
		}
		.fl-inlineEdit-editModeInstruction {
			@include visuallyhidden();
		}
		.fl-reorderer-header-avatar {
			/* An avatar of the original tab being dragged during drag and drop. */
			background-color: $black; 
			@include rounded(5px);
			@include box-shadow(0px,0px,4px,$dgray);
			
			.portal-navigation-link {
				color: $white;
				text-decoration: none;
				font-weight: bold;
			}
			.portal-navigation-gripper {
				background: transparent url("images/gripper.png") 0px 0px no-repeat;
			}
			.portal-navigation-delete {
				background: transparent url("images/remove.png") 0px 0px no-repeat;
			}
		}
	}
	
	#portalSidebar {
		/* Refer to other Sidebar styles for general list menu styling that affects the sidebar navigation. */
		#portalNavigation {
			/* Main navigation can be rendered in the Sidebar. */
			.portal-navigation-add {
				/* Add tab link */
				color: $white;
			}
			.portal-navigation-gripper {
				/* Gripper for indicating drag and drop ability. */
				background: transparent url("images/gripper.png") 0px 0px no-repeat;
			}
			.portal-navigation-delete {
				/* "X" icon for indicating delete tab action. */
				background: transparent url("images/remove.png") 0px 0px no-repeat;
			}
			.fl-reorderer-sidebar-avatar {
				/* An avatar of the original tab being dragged during drag and drop. */
				background-color: $black; 
				@include rounded(5px); 
				@include box-shadow(0px,0px,4px,$dgray);
				
				.portal-navigation-link {
					color: $white; 
					text-decoration: none; 
					font-weight: bold;
				}
				.portal-navigation-delete {
					background: transparent url("images/remove.png") 0px 0px no-repeat;
				}
				.portal-navigation-gripper {
					background: transparent url("images/gripper.png") 0px 0px no-repeat;
				}
			}
		}
		
		#portletNavigation {
			/* Portlet Navigation (focused view) */
			#portletNavigationLinkHome a {
				background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/tab_go.png);
			}
			h3 {
				color:$white;
			}
		}
	}
	
	#portalPageBodyBreadcrumb {
		/* Breadcrumb */
		color: $graylighter;
		a {
			font-weight:normal;
			color: $gray;
			text-decoration: none;
			&:hover, &:focus {
				color: $graydark;
			}
		}
	}	
}