/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.previewContent{font-size:13px;background:#e8ffea url(../images/uioptions/main_bg.png) no-repeat fixed 0 0;padding:0 10px;}
.previewContent h1{margin:0;padding:5px 0 5px 0;}
.previewContent p{padding:5px;}
.previewContent img{float:right;margin:10px 0;}
.previewContent table thead th{background-color:#fff;}