/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.ui-dialog{background-color:#FFF;border:1px solid #7C7E80;}
.ui-dialog .ui-dialog-titlebar{border-bottom:1px solid #7C7E80;background:#427ABE;padding:0;height:28px;_height:29px;}
.ui-dialog.ui-draggable .ui-dialog-titlebar{cursor:move;}
.ui-dialog .ui-dialog-titlebar-close{width:17px;height:17px;background:url(../images/infusion-theme/x-close-lrg.png) no-repeat 1px 1px;border:1px solid transparent;position:absolute;top:6px;right:7px;cursor:pointer;}
.ui-dialog .ui-dialog-titlebar-close span{display:none;}
.ui-dialog .ui-dialog-titlebar-close-hover{background:url(../images/infusion-theme/x-close-lrg.png) no-repeat 1px 1px;background-color:#095CBE;border:1px solid #CCC;}
.ui-dialog .ui-dialog-title{margin-left:5px;color:white;font-weight:normal;position:relative;top:7px;left:4px;font-size:1.16em;}
.ui-dialog .ui-dialog-content{margin:1.2em;}
.ui-dialog .ui-dialog-buttonpane{position:absolute;bottom:8px;right:12px;width:100%;text-align:right;}
.ui-dialog .ui-dialog-buttonpane button{margin:6px;}
.ui-dialog .ui-resizable-n{cursor:n-resize;height:6px;width:100%;top:0;left:0;background:transparent url(i/dialog-n.gif) repeat scroll center top;}
.ui-dialog .ui-resizable-s{cursor:s-resize;height:8px;width:100%;bottom:0;left:0;background:transparent url(i/dialog-s.gif) repeat scroll center top;}
.ui-dialog .ui-resizable-e{cursor:e-resize;width:7px;right:0;top:0;height:100%;background:transparent url(i/dialog-e.gif) repeat scroll right center;}
.ui-dialog .ui-resizable-w{cursor:w-resize;width:7px;left:0;top:0;height:100%;background:transparent url(i/dialog-w.gif) repeat scroll right center;}
.ui-dialog .ui-resizable-se{cursor:se-resize;width:9px;height:9px;right:0;bottom:0;background:transparent url(i/dialog-se.gif);}
.ui-dialog .ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:0;bottom:0;background:transparent url(i/dialog-sw.gif);}
.ui-dialog .ui-resizable-nw{cursor:nw-resize;width:9px;height:29px;left:0;top:0;background:transparent url(i/dialog-nw.gif);}
.ui-dialog .ui-resizable-ne{cursor:ne-resize;width:9px;height:29px;right:0;top:0;background:transparent url(i/dialog-ne.gif);}