/*                Rust
============================================= 

 * Color Schema:
 *     DEFINITIONS:
 *         wheat     : #F2E0B6
 *         off brown : #917A61
 *         mocha     : #916535
 *         reddy     : #914E38
 *         coffee    : #453A2E
 *         white      : #ffffff
 *         black      : #000000
 *         
 *     :focus & .selectable
 *         text       : 
 *         bg         : 
 *         outline    : 
 *     text           : 
 *     links
 *         :link      : 
 *         :active    : 
 *         :visited   : 
 *         :hover     : 
 *     headings
 *         h1
 *             text   : 
 *             border : 
 *             bg     : 
 *         h2
 *             text   : 
 *         h3-6
 *             text   : 
 *     tables
 *         headers
 *             text    :
 *             border  :
 *             bg      :
 *          cells
 *              text   :
 *              border :
 *     forms    
 *         input[text]
 *             bg       :
 *             border   :
 *         textarea
 *             bg       :
 *             border   :
 *     tab helper    
 *         text         :
 *         bg           :
 *         hover        :
 *         active text  :
 *         active bg    :
 *         active hover :
 *         border       :
 *     menu helper
 *         text         :
 *         bg           :
 *         hover        :
 *         active text  :
 *         active bg    :
 *         active hover :

 */
.fl-theme-rust :focus,
.fl-theme-rust .selectable  {
   /* themed focus indicator */
   outline: 0.2em solid #662e0f;
}

.fl-theme-rust {color:#000000 !important; background-color:#F2E0B6 !important; border-color:#916535;}
.fl-theme-rust .fl-knockout {background:transparent; color:#000;}

.fl-theme-rust a {color: #916535 !important; /*font-weight:bold;*/}
.fl-theme-rust a:hover {color: #914E38 !important;}
.fl-theme-rust h1 {color:#000; border-bottom-width:1px; border-bottom-style:dotted;} 
.fl-theme-rust h2 {color: #453A2E;}

.fl-theme-rust th {border:0.1em solid #453A2E; background-color:#917A61 !important; color:#fff !important;}
.fl-theme-rust td {border:0.1em solid #453A2E !important;}
.fl-theme-rust .fl-textfield {}
.fl-theme-rust .fl-textarea {}

/* temp selector to access inline edit input fields (should use a classname but now there is none applied) */
.fl-theme-rust span input {background-color:#dfefff; border: 1px solid #5a95cf; margin:-1px;}

/* Wrappers and Callouts  */
.fl-theme-rust .fl-wrapper-widget { border:3px solid #dfefff; background-color:#333; color:#fff;}
.fl-theme-rust .fl-wrapper-callout { border-color:#999999; background-color:#dfefff; }

/* Helper: Tabs */
.fl-theme-rust .fl-tabs {border-bottom-color:#4070a1;}
.fl-theme-rust .fl-tabs li  {background-color:#dfefff;}
.fl-theme-rust .fl-tabs li,
.fl-theme-rust .fl-tabs li a  {font-weight:bold; color:#4070a1; border-color:#4070a1; border-bottom-color:#4070a1; text-decoration:none;}
.fl-theme-rust .fl-tabs li:hover,
.fl-theme-rust .fl-tabs li:hover a,
.fl-theme-rust .fl-tabs li a:hover {background-color:#5a95cf; color:#fff;}
.fl-theme-rust .fl-tabs li.fl-activeTab,
.fl-theme-rust .fl-tabs li.fl-activeTab:hover,
.fl-theme-rust .fl-tabs li.fl-activeTab a,
.fl-theme-rust .fl-tabs li.fl-activeTab a:hover {background-color: #fff; border-bottom-color:#fff; color:#508cc9;}
.fl-theme-rust .fl-tab-content {background-color:#ffffff; color:#000;}

/* Helper: Menu */
.fl-theme-rust .fl-listmenu {border:1px solid #4070a1; background-color:#fff;}
.fl-theme-rust .fl-listmenu li,
.fl-theme-rust .fl-listmenu li a  {font-weight:bold; color:#4070a1; background-color:#dfefff; border-color:#4070a1; text-decoration:none;}

.fl-theme-rust .fl-listmenu a:hover {background-color:#5a95cf; color:#fff;}
.fl-theme-rust .fl-listmenu .fl-activemenu,
.fl-theme-rust .fl-listmenu .fl-activemenu:hover { background-color: #fff; border-bottom-color:#fff; color:#508cc9;}


/* States */

