/*
                Mist
=============================================
 * Color Schema:
 *     DEFINITIONS:
 *         white     : #ffffff
 *         light blue: #dfefff
 *         med blue  : #5a95cf
 *         dark blue : #4070a1
 *         grey      : #999999
 *         charcoal  : #333333
 *         black     : #000000
 *     :focus & .selectable
 *         text       : white   
 *         bg         : dark blue
 *         outline    : light blue
 *     text           : black
 *     links
 *         :link      : med blue
 *         :active    : med blue
 *         :visited   : med blue
 *         :hover     : light blue
 *     headings
 *         h1
 *             text   : dark blue
 *             border : dark blue
 *             bg     : light blue
 *         h2
 *             text   : med blue
 *         h3-6
 *             text   : grey
 *     tables
 *         headers
 *             text    : black
 *             border  : med blue
 *             bg      : light blue
 *          cells
 *              text   : black
 *              border : grey
 *     forms    
 *         input[text]
 *             bg       : light blue
 *             border   : dark blue
 *         textarea
 *             bg       : light blue
 *             border   : dark blue
 *     tab helper    
 *         text         : dark blue
 *         bg           : light blue
 *         hover        : med blue
 *         active text  : med blue
 *         active bg    : white
 *         active hover : white
 *         border       : dark blue
 *     menu helper
 *         text         : dark blue
 *         bg           : white
 *         hover        : light blue
 *         active text  : white
 *         active bg    : dark blue
 *         active hover : dark blue

 */
.fl-theme-mist :focus,
.fl-theme-mist .selectable  {
   /* themed focus indicator */
   outline: 0.1em solid #F00;
}

.fl-theme-mist {color:#000000 !important; background-color:#ffffff !important; border-color:#4070a1;}
.fl-theme-mist a {color: #5a95cf !important; font-weight:bold;}
.fl-theme-mist a:hover {color: #6DB5FB !important;}
.fl-theme-mist h1 {color:#4070a1; border-bottom-width:0.2em; border-bottom-style:solid;} 
.fl-theme-mist h2 {color: #5a95cf;}

.fl-theme-mist th {border:0.1em solid #5a95cf; background-color:#dfefff !important;}
.fl-theme-mist td {border:0.1em solid #999999 !important;}
.fl-theme-mist .fl-textfield {}
.fl-theme-mist .fl-textarea {}

/* temp selector to access inline edit input fields (should use a classname but now there is none applied) */
.fl-theme-mist span input {background-color:#dfefff !important; border:0.1em solid #5a95cf; margin:-0.1em;}

/* Helper: Tabs */
.fl-theme-mist .fl-tabs {border-bottom-color:#4070a1;}
.fl-theme-mist .fl-tabs li  {background-color:#dfefff;}
.fl-theme-mist .fl-tabs li,
.fl-theme-mist .fl-tabs li a  {font-weight:bold; color:#4070a1; border-color:#4070a1; border-bottom-color:#4070a1; text-decoration:none;}
.fl-theme-mist .fl-tabs li:hover,
.fl-theme-mist .fl-tabs li:hover a,
.fl-theme-mist .fl-tabs li a:hover {background-color:#5a95cf; color:#fff !important;}
.fl-theme-mist .fl-tabs li.fl-activeTab,
.fl-theme-mist .fl-tabs li.fl-activeTab:hover,
.fl-theme-mist .fl-tabs li.fl-activeTab a,
.fl-theme-mist .fl-tabs li.fl-activeTab a:hover {background-color: #fff; border-bottom-color:#fff; color:#508cc9 !important;}
.fl-theme-mist .fl-tab-content {background-color:#ffffff; color:#000;}

/* Helper: Menu */
.fl-theme-mist .fl-listmenu {border:1px solid #4070a1; background-color:#fff;}
.fl-theme-mist .fl-listmenu li,
.fl-theme-mist .fl-listmenu li a  {font-weight:bold; color:#4070a1; background-color:#dfefff; border-color:#4070a1; text-decoration:none;}
.fl-theme-mist .fl-listmenu a:hover {background-color:#5a95cf; color:#fff;}
.fl-theme-mist .fl-listmenu .fl-activemenu,
.fl-theme-mist .fl-listmenu .fl-activemenu:hover { background-color: #fff; border-bottom-color:#fff; color:#508cc9;}

/* Helper: Thumbnail Grid */
.fl-theme-mist .fl-grid {border:2px solid #4070a1; background-color:#fff;}
.fl-theme-mist .fl-grid li {background-color:#dfefff; border:1px solid #4070a1}
.fl-theme-mist .fl-grid .caption {background-color:#dfefff; color:#5a95cf; }

/* Component: Progressor */
.fl-theme-mist .fl-progress-bounds {border-color:#999999; background-color:#fff;}
.fl-theme-mist .fl-progress-fill {color:#4070a1; background-color:#000;}

/* Component: Uploader */


/* States */
.fl-theme-mist .orderable-drop-marker {background-color:#f00 !important;}
