.fl-components-ui-options{padding:10px;}
.fl-components-ui-options fieldset{margin:0 20px 5px 0;background-color:#f5f5f5;}
.fl-components-ui-options fieldset h2{cursor:pointer;margin:0;padding:0 0 0 24px;background:#ccc url(../images/uioptions/expand_collapse.png) no-repeat left 5px;}
.fl-components-ui-options fieldset legend{font-weight:bold;}
.fl-components-ui-options fieldset ol{margin:0;padding:15px 0 0 0;border:3px solid #ccc;}
.fl-components-ui-options fieldset li{padding:2px 0;}
.fl-components-ui-options fieldset.selected h2{background-position:left -13px;}
.fl-components-ui-options .fl-subcomp-preview{padding:0;border:3px solid #ccc;}
.fl-components-ui-options .fl-subcomp-preview h2{font-weight:normal;margin:0;padding:5px;background-color:#ccc;color:#000;}
.fl-components-ui-options .fl-subcomp-preview iframe{width:100%;height:300px;}