BODY{
	background: #1A7F2A;
}
A {
	text-decoration : none;
	color : Black;
}
A:VISITED {
	color : Black;
}
A:HOVER {
	color : Blue;
	text-decoration: underline;
}
A.navigation {
	color : #D4F6D9;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A.navigation:visited {
	color : #D4F6D9;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A.navigation:hover {
	color : Blue;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.navigation-selected{
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #D4F6D9;
}
A.uportal-navigation-category{
	color : Black;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A.uportal-navigation-category:visited{
	color : Black;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A.uportal-navigation-category:hover{
	color : Blue;
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.uportal-navigation-category-selected{
	font-size : x-small;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
}
A.uportal-navigation-channel{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
}
A.uportal-navigation-channel:visited{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
}
A.uportal-navigation-channel:hover{
	color : Blue;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	text-decoration: underline;
}
.uportal-navigation-channel-selected{
	background : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	color : White;
}
.uportal-text{
	color : Black;
	font-family : Georgia, "Times New Roman", Times, serif;
	font-size : x-small;
}
.uportal-text-small{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
}
.uportal-button{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	background : #7FE68F;
}
.uportal-label{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
}
.uportal-input-text{
	color : Black;
	font-size: x-small;
	font-family: Monaco, Andale Mono, monospace;
	background : #7FE68F;
}
.uportal-text-reversed{
	color : White;
	font-family : Georgia, "Times New Roman", Times, serif;
	font-size : x-small;
}

.uportal-crumbtrail{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	color : Aqua;
}
.uportal-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	color : Black;
	font-style : italic;
}
.uportal-channel-text{
	color : Black;
	font-family : Georgia, "Times New Roman", Times, serif;
	font-size : x-small;
}
.uportal-channel-title{
	color : #D4F6D9;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
}
.uportal-channel-title-reversed{
	color : Navy;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
}
.uportal-channel-subtitle{
	color : #999999;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : bold;
}
.uportal-channel-subtitle-reversed{
	color : #333333;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
}
.uportal-channel-emphasis{
	font-weight : bold;
	font-size : x-small;
	font-family : Georgia, "Times New Roman", Times, serif;
}
.uportal-channel-strong{
	font-weight : bold;
	font-size : x-small;
	font-family : Georgia, "Times New Roman", Times, serif;
}
.uportal-channel-code{
	color : Black;
	font-size: x-small;
	font-family: Monaco, Andale Mono, monospace;
}
.uportal-channel-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	color : Black;
	font-style : italic;
}
.uportal-channel-warning{
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : Yellow;
}
.uportal-channel-error{
	color : Yellow;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-caption{
	color : Navy;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : bold;
	text-align: center;
}
.uportal-channel-table-header{
	color : Navy;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : bold;
	text-align: left;
}
.uportal-channel-table-row-even{
	color : Black;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-row-odd{
	color : Blue;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-background{
	background : #000000;
}
.uportal-background-dark{
	background : #1A7F2A;
}
.uportal-background-med{
	background : #2AD445;
}
.uportal-background-light{
	background : #7FE68F;
}
.uportal-background-content{
	background : #D4F6D9;
}
.uportal-background-highlight{
	background : Yellow;
}
.uportal-background-shadow{
	background : #000000;
}
.uportal-background-page{
	background : #FFFFFF;
}
.uportal-background-semidark{
	background: #22AA37;
}
.uportal-background-selected{
	background : Fuchsia;
}
.uportal-background-neutral-dark{
	background: #666666;
}
.uportal-background-neutral-light{
	background: #CCCCCC;
}