BODY {
	background : #666666;
}
A {
	text-decoration : none;
	font-family : System, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #444444;
}
A:VISITED {
	color : #333333;
}
A:HOVER {
	color : #000000;
}
A.navigation {
	color : Black;
}
A.navigation:visited {
	color : Black;
}
A.navigation:hover {
	color : Navy;
}
.uportal-text{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.uportal-text-small{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.uportal-button{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background : #bbccdd;
}
.uportal-label{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.uportal-input-text{
	color : Black;	
	font-size: 12px;
	font-family: Monaco, Andale Mono, monospace;
	background : #bbccdd;
}
.uportal-text-reversed{
	color : White;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
A.uportal-navigation-category{
	color : Black;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:visited{
	color : Black;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:hover{
	color : Navy;
	font-size : 12px;
	font-weight : bold;
}
.uportal-navigation-category-selected{
	font-size : 12px;
	font-weight : bold;
	color : #666666;
}
A.uportal-navigation-channel{
	color : Black;
	font-size : 12px;
}
A.uportal-navigation-channel:visited{
	color : Black;
	font-size : 12px;
}
A.uportal-navigation-channel:hover{
	color : #6495ED;
	font-size : 12px;
}
.uportal-navigation-channel-selected{
	background : Black;
	font-size : 12px;
	color : #666666;
}
.uportal-crumbtrail{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #666666;
}
.uportal-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-channel-text{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.uportal-channel-title{
	color : #000000;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 16px;
	font-weight : bold;
}
.uportal-channel-title-reversed{
	color : #996666;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-subtitle{
	color : #F5F5F5;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-subtitle-reversed{
	color : #333333;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-emphasis{
	font-weight : bold;
	font-size : 12px;
	font-family : Georgia, "Times New Roman", Times, serif;
}
.uportal-channel-strong{
	font-weight : bold;
	font-size : 12px;
	font-family : Georgia, "Times New Roman", Times, serif;
}
.uportal-channel-code{
	color : Black;
	font-size: 12px;
	font-family: Monaco, Andale Mono, monospace;
}
.uportal-channel-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-channel-warning{
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #993333;
}
.uportal-channel-error{
	color : Black;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-caption{
	color : #993333;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
  text-align: center;
}
.uportal-channel-table-header{
	color : #993333;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	text-align: left;
}
.uportal-channel-table-row-even{
	color : Black;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-row-odd{
	color : #666666;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-background{
	background : #FFFFFF;
}
.uportal-background-dark{
	background : #eeeeee;
}
.uportal-background-med{
	background : #ddeeff;
}
.uportal-background-light{
	background : #bbccdd;
}
.uportal-background-content{
	background : #99aabb;
}
.uportal-background-highlight{
	background : #996666;
}
.uportal-background-shadow{
	background : #000000;
}