/*====================================*/
/* LAYOUT */
/*====================================*/
/* 
 * Layout formats page structural elements.
 * Only CSS that affects the layout (positioning) of major elements should be listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height, margin, border, padding, overflow
 * CSS that sets the visual style of the portal (and portlets) is handled by individual themes.
 */
 
 .up {
	.ui-content .ui-header {
	    /*margin-top: -15px;
	    margin-left: -15px;
	    margin-bottom: 15px;
	     width:320px;*/
	}
	
	/* Temporarily hiding the new item count, as uMobile portlets don't support it */
	.up-new-item-count-0 {
		@include hidden();
	}
	
	.logo {
		margin-top: 10px;
		text-align: center;
	}
	.utilities {
		margin-top: 2em;
	}
}