/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*====================================*/
/* JSR-168 Java Portlet Specification v1.0 */
/*====================================*/

/* PLT.C CSS Style Definitions */
/* 
 * For documentation on how these style definitions are used in uPortal, refer to: 
 * http://www.ja-sig.org/wiki/x/cg 
 */


/* PLT.C.1 Links (Anchor) */
/* 
 * By default, an override of the portal theme link styling is not defined for portlets,
 * but instead portlets by default inherit the link styling declared by the portal theme. 
 * If alternate link styling is desired for portlets, declare something like:
 * .portlet a {[anchor declarations]}
 * in the uPortal extenstions below.
 */


/* PLT.C.2 Fonts */
/* 
 * By default, an override of the portal theme font styling is not defined for portlets,
 * but instead portlets by default inherit the font styling declared by the portal theme.
 * The portlet-font custom class is not recommended for use in portlet markup as it is unnecessary;
 * the same effect can easily be done by better methods such as: 
 * .portlet {[font declarations]}
 * Additionally, portlet-font-dim is poorly defined and has limited use.
 */
.portlet-font {}
.portlet-font-dim {color:#999;}


/* PLT.C.3 Messages */
/* 
 * Preferred message classes are below under uPortal Portlet Extensions > Messages.
 * See notes there.
 */
.portlet-msg-status,
.portlet-msg-info, 
.portlet-msg-error, 
.portlet-msg-alert, 
.portlet-msg-success {padding:0.25em 0.25em 0.25em 2.25em; border:2px solid #FFFF00; color:#666; background:#FFFFCC url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/bell.png) 0.5em 0.3em no-repeat;}
.portlet-msg-status {}
.portlet-msg-info {color:#000; background:#99ccff url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/information.png) 0.5em 0.3em no-repeat; border-color:#3399ff;}
.portlet-msg-error {color:#f00; background:#ffeeee url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/exclamation.png) 0.5em 0.3em no-repeat; border-color:#cc0000;}
.portlet-msg-alert {color:#000; background:#FFCC66 url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/error.png) 0.5em 0.3em no-repeat; border-color:#FF6600;}
.portlet-msg-success {color:#000; background:#D1F0E0 url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/tick.png) 0.5em 0.3em no-repeat; border-color:#009900;}
.portlet-msg-status h2,
.portlet-msg-info h2, 
.portlet-msg-error h2, 
.portlet-msg-alert h2, 
.portlet-msg-success h2 {margin:0;}
.portlet-msg-status h3,
.portlet-msg-info h3, 
.portlet-msg-error h3, 
.portlet-msg-alert h3, 
.portlet-msg-success h3 {margin:0; color:#000;}



/* PLT.C.4 Sections */
/* 
 * Preferred section classes are below under uPortal Portlet Extensions > Section.
 * See notes there.
 */
.portlet-section-header {padding-bottom:0.2em; border-bottom:0.1em solid #ddd;}
.portlet-section-body {padding:1em;}
.portlet-section-alternate {background-color:#eee;}
.portlet-section-selected {background:#efefef;}
.portlet-section-subheader {font-weight:bold;}
.portlet-section-footer {}
.portlet-section-text {}


/* PLT.C.5 Forms */
/* 
 * These JSR-168 classes for forms are not well thought out:
 * (missing any root level class like .portlet-form 
 * and cluttering markup with classes like .portlet-form-label 
 * rather than using something cleaner like .portlet-form label {} ).
 * Thus these classes are not recommended for use.
 * It is instead recommended to use basic, semantic form markup
 * and use the uPortal Form extensions defined below.
 * .portlet-form- is currently in use by some portlets.
 */
.portlet-form-label {}
.portlet-form-input-field {}
.portlet-form- {padding:0.3em 2em; background:#336699 url(../common/images/button_bkd.png) top left repeat-x; border:1px solid #000; color:#fff; font-weight:bold;}
.portlet-form-:hover {background-color:#7a9e0d; cursor:pointer;}
.portlet a.portlet-form-,
.portlet a.portlet-form-:hover,
.portlet a.portlet-form-:visited { color:#ffffff; font-weight:bold; text-decoration: none; padding:0.2em 1em; }
.portlet-icon-label {}
.portlet-dlg-icon-label {}
.portlet-form-field-label {}
.portlet-form-field {}


/* PLT.C.6 Menus */
/* 
 * These JSR-168 classes are not comprehensive enough for sophisticated menus
 * and specify some unusual classes (portlet-menu-caption ?) that are not well defined.
 * It is recommended instead to use the Fluid Skinning System fl-tabs or fl-listmenu helpers,
 * along with appropriate ARIA roles.
 */
.portlet-menu {background-color:#ddd;}
.portlet-menu-item {}
.portlet-menu-item-selected {font-weight:bold;}
.portlet-menu-item-hover {background-color:#ffffcc; color:#000;}
.portlet-menu-item-hover-selected {}
.portlet-menu-cascade-item {}
.portlet-menu-cascade-item-selected {}
.portlet-menu-description {}
.portlet-menu-caption {}