//====================================
// Skin Overrides
//====================================
// Put any skin-specific overrides here.

.up {
	background: $c1dark;
	
	#portalNavigation {
		/* Main Navigation, rendered as a row of tabs. */
		
		.portal-navigation {
			/* Each tab list item. */
			margin-right: 2px;
			border-right: 1px solid rgba($white,.25);
			@include round(7px,7px,0,0);
		}
		
		.portal-flyout-container {
			@include box-shadow(2px,4px,6px,$dgray);
			li a {
				background: $c2light;
				color: $graylighter;
				&:hover, &:focus {
					background: $c4dark;
					color: $white;
				}
			} 
		}
	}
	
	.up-gallery {
		background: $c1darker;
		
		.handle {
	 		/* Clickable handle that opens the drawer. Once open, the handle can be clicked to close the drawer. */
	 		background:$c1dark;
	 		@include gradient($c1light,$c1darker);
	 		
	 		a {
	 			background:$c1dark;
	 			color: $c1lightest;
	 			border: 1px solid $black;
	 			border-top: none;
	 			@include gradient($c1darker,$c1light);
	 			@include round(0,0,3px,3px);
	 			@include box-shadow(0,1px,2px,$dgray);
	 		}
	 	}
	 	.gallery-inner {
	 		background: transparent url(images/gallery-bar.png) top left repeat-x;
	 		
	 		.menu-wrapper{
		 		/* The navigation menu of gallery views. */
			 	.menu {
			 		li:hover, li:active {
			 			background: $c5;
			 			
			 			a {
			 				color: $white;
			 			}
			 		}
			 		.active {
			 			span {
			 				background: $c1darker url("../common/images/gallery-arrow-right.png") 90% 50% no-repeat;
			 			}
			 		}
		 		}
		 		.close-button {
			 		/* Close gallery ("I'm Done") button. */
			 		@include button(dark);
			 	}
	 		}
	 		
	 		.content-filters-wrapper {
		 		/* Search and category filters for the add portlet and use portlet views. */
		 		h3 {
		 			color: $c5;
		 		}
	 			h3:hover, h3:focus {
	 				color: $c5lighter;
	 			}
		 		.active h3 {
		 			color: $c5light;
		 			span {
		 				background: $dgraylight;
		 			}
		 		}
		 		.active h3:hover, .active h3:focus {
		 			color: $c5lighter;
		 		}
		 		.categories {
		 			a:hover, a:focus {
		 				color: $c5lighter;
		 			}
		 		}
 			}
 			
 			.results-wrapper {
 				.ri-wrapper:hover, .ri-wrapper:focus {
		 			border-color: $c5lighter;
		 		}
		 		.portlet-wrapper:hover, .portlet-wrapper:focus, .package-wrapper:hover, .package-wrapper:focus {
		 			.ri-link {
		 				background: $c5lighter;
		 				@include gradient($c5lighter,$c5);
		 			}
	 			}
	 			.selected {
	 				border-color: $c5lighter;
	 			}
	 			.pager {
	 				.pager-button-up:hover, .pager-button-up:focus, .pager-button-down:hover, .pager-button-down:focus {
						border-color: $c5lighter;
					}
 				}
 			}
	 	}
	}
	
	#portalPageBody {
		background: $c1 url(images/page_bg_flat.png) 0 0 repeat;
	}
	
	#portalSidebar {
		.fl-widget {
			@include gradient($c2light,$c2darkest);
			.fl-widget-titlebar h2 {
				color: $c2lightest;
			}
		}
	}
	
	.up-portlet-wrapper {
		/* Portlet chrome. */
		@include portlet-chrome($c1light,$c1dark,$c1darkest,$c1darker,$c1darker,$white);
		.up-portlet-titlebar h2 {
			a {
				color: $gray;
				font-weight: bold;
				@include text-shadow(dark);
			}
		}
	}
	.alternate {
		/* A portlet that has been flagged to have the alternate styling of portlet chrome.*/		
		@include portlet-chrome($c3dark,$c1dark,$c1darkest,$c1darker,$c1darker,$white);
		.up-portlet-titlebar h2 a {
			color: $c3lighter;
		}
	}
	
	.highlight {
		/* A portlet that has been flagged to have the highlight styling of portlet chrome. */
		@include portlet-chrome($c5,$c5darker,$c5darkest,$c5darker,$c5lightest,$c5lightest);
		.up-portlet-titlebar h2 a {
			color: $c5lighter;
		}
	}
	
	.locked {
		/* A portlet that has been locked (cannot be moved or removed). */
		@include portlet-chrome($c1dark,$c1,$c2darker,$c1dark,$white,$white);
		.up-portlet-titlebar h2 {
			padding-left: 25px;
			background: transparent url(/ResourceServingWebapp/rs/tango/0.8.90/16x16/emblems/emblem-readonly.png) 5px 0 no-repeat;
			a {
				color: $gray;
			}
		}
	}
	
	.focused {
		.up-portlet-controls {
			.up-portlet-control {
				color: $gray;
				&:hover, &:focus {
					color: $white;
				}
			}
		}
	}
	
	#portalPageFooter {
		/* Portal footer. */
		background: $c1dark;
	}
	
	#portalEditPagePermissions {
		@include button(dark);
	}

	.column-permissions {
		margin-bottom:0.5em;
		@include button(dark);
	}
}