TR {
	VERTICAL-ALIGN: top
}
TD {
	FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P  {    FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:link {
	FONT-FAMILY: Arial, Verdana, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: Arial, Verdana, sans-serif; TEXT-DECORATION: none
}
A:active {
	 FONT-FAMILY: Arial, Verdana, sans-serif;TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; FONT-FAMILY: Arial, Verdana, sans-serif; TEXT-DECORATION: underline
}
.highlight {  color: #FF0066}
TD.content   { width: 592 }


A.sidelinks:link {
   COLOR: #000099; 
   FONT-FAMILY: Arial, Verdana, sans-serif;
   TEXT-DECORATION: none
}
A.sidelinks:visited {
   COLOR: #000099; 
   FONT-FAMILY: Arial, Verdana, sans-serif; 
   TEXT-DECORATION: none
}
A.sidelinks:active {
   COLOR: #000099; 
   FONT-FAMILY: Arial, Verdana, sans-serif;
   TEXT-DECORATION: none
}
A.sidelinks:hover {
   COLOR: #CC0000; 
   FONT-FAMILY: Arial, Verdana, sans-serif; 
   TEXT-DECORATION: underline
}
