A {
	text-decoration : none;
	font-family : System, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #6495ED;
}
A:VISITED {
	color : #A9A9A9;
}
A:HOVER {
	color : #8FBC8F;
}
A.navigation {
	color : Black;
}
A.navigation:visited {
	color : Black;
}
A.navigation:hover {
	color : #CCCCFF;
}
.uportal-text{
	color : Black;
	font-family: Century Gothic, Arial, Verdana, Helvetica;
}
A.uportal-navigation-category{
	color : Black;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:visited{
	color : Black;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:hover{
	color : #CCCCFF;
	font-size : 12px;
	font-weight : bold;
}
.uportal-navigation-category-selected{
	background : Black;
	font-size : 12px;
	font-weight : bold;
	color : White;
}
A.uportal-navigation-channel{
	color : Black;
	font-size : 12px;
}
A.uportal-navigation-channel:visited{
	color : Black;
	font-size : 12px;
}
A.uportal-navigation-channel:hover{
	color : #CCCCFF;
	font-size : 12px;
}
.uportal-navigation-channel-selected{
	background : Black;
	font-size : 12px;
	color : White;
}
.uportal-crumbtrail{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #666666;
}
.uportal-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-channel-text{
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.uportal-channel-title{
	color : #000000;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 16px;
	font-weight : bold;
}
.uportal-channel-subtitle{
	color : #bbbbbb;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-emphasis{
	font-weight : bold;
	font-size : 12px;
	font-family : Georgia, "Times New Roman", Times, serif;

}
.uportal-channel-strong{
	font-weight : bold;
	font-size : 12px;
	font-family : Georgia, "Times New Roman", Times, serif;
}
.uportal-channel-code{
	font-size: 14px;
	font-family: Monaco, Andale Mono, monospace
}
.uportal-channel-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-background{
	background : #FFFFFF;
}
.uportal-background-dark{
	background : #bbccdd;
}
.uportal-background-med{
	background : #ddeeff;
}
.uportal-background-light{
	background : #eeeeee;
}
.uportal-background-content{
	background : #ccddee;
}

