.up {
	#portalPageHeader {
		border-top: 1px solid #6198d1;
		background: #436cb1;
		background: -moz-linear-gradient(top,  #436cb1 0%, #274085 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#436cb1), color-stop(100%,#274085));
		background: -webkit-linear-gradient(top,  #436cb1 0%,#274085 100%);
		background: -o-linear-gradient(top,  #436cb1 0%,#274085 100%);
		background: -ms-linear-gradient(top,  #436cb1 0%,#274085 100%);
		background: linear-gradient(top,  #436cb1 0%,#274085 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#436cb1', endColorstr='#274085',GradientType=0 );
		
		#portalLogo {
			padding: 25px;
		}
		
		#portalPageBar {
			position: absolute;
			right: 25px;
			top: 35px;
			color: white;
			font-weight: bold;
			font-size: 11px;
			line-height: 28px;
			#portalPageBarLinks {
				position: relative;
				.icon-user {
					display: block;
					width: 28px;
					height: 28px;
					background: url(images/icon-user.png) no-repeat;
					float: right;
					&:hover {
						cursor: pointer;
						
					}
				}
				.utilities {
					display: none;
					position: relative;
					z-index: 9999;
					//padding: 0.5em 0;
					background: #57bbff;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					
			        -webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.5);

			        box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.5);

					li {
						display: block;
						a {
							padding: 0.5em 1em;
							font-weight: bold;
							display: block;
							
							&:link {
								color: black;
							}
							&:visited {
								color: black;
								text-decoration: none;
							}
							&:hover {
								background: lighten(#57bbff, 5%);
								&:first-child {
									-webkit-border-top-left-radius: 3px;
									-webkit-border-top-right-radius: 3px;
									-moz-border-radius-topleft: 3px;
									-moz-border-radius-topright: 3px;
									border-top-left-radius: 3px;
									border-top-right-radius: 3px;
								}
								&:last-child {
									-webkit-border-bottom-right-radius: 3px;
									-webkit-border-bottom-left-radius: 3px;
									-moz-border-radius-bottomright: 3px;
									-moz-border-radius-bottomleft: 3px;
									border-bottom-right-radius: 3px;
									border-bottom-left-radius: 3px;
								}
							}
						}
					}
				}
			}
		}
		
		#webSearchContainer {
			.fl-widget-inner {
				position: relative;
				
				#webSearchForm {
					#webSearchInput {
						width: 250px;
						padding-right: 30px;
					}
					#webSearchSubmit {
						position: absolute;
						top: 8px;
						right: 6px;
						background: url(images/search_field_button.gif) no-repeat;
						width: 14px;
						height: 16px;
						text-indent: -999em;
						border: none;
					}
				}
			}
		}
	}
}