.up {
	#portalPage {
		width: 100%;
	}
	
	a {
		&:link {
			color: #0066CC;
			text-decoration: none;
		}
		&:visited {
			color: #0066CC;
		}
		&:hover {
			color: #0066CC;
			text-decoration: underline;
		}
		&:focus, &:active {
			color: #0066CC;
		}
	}
	// Apply baseline button styling once to every kind of button.
	.button, .up button, .up input[type='submit'], .up input[type='button'], .portlet .titlebar .toolbar .button, .portlet .titlebar .toolbar a.button, .prm-mgr .permission-lookup form input[type="submit"] {
		display: inline;
		background: #42ad29; /* Old browsers */
		background: -moz-linear-gradient(top,  #42ad29 0%, #347a25 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#42ad29), color-stop(100%,#347a25)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #42ad29 0%,#347a25 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #42ad29 0%,#347a25 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #42ad29 0%,#347a25 100%); /* IE10+ */
		background: linear-gradient(top,  #42ad29 0%,#347a25 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42ad29', endColorstr='#347a25',GradientType=0 ); /* IE6-9 */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0px 3px 0px 0px #29611d;
		-moz-box-shadow: 0px 3px 0px 0px #29611d;
		box-shadow: 0px 3px 0px 0px #29611d;
		border-bottom: 1px solid #3ea226;
		border-top: 1px solid #347a25;
		border-left: none;
		border-right: none;
		color: white !important;
		text-decoration: none;
		padding: 0.3em 1em;
		
		&:hover {
			background: #00eb00; /* Old browsers */
			background: -moz-linear-gradient(top,  #00eb00 0%, #3c9c2a 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00eb00), color-stop(100%,#3c9c2a)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #00eb00 0%,#3c9c2a 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #00eb00 0%,#3c9c2a 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #00eb00 0%,#3c9c2a 100%); /* IE10+ */
			background: linear-gradient(top,  #00eb00 0%,#3c9c2a 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eb00', endColorstr='#3c9c2a',GradientType=0 ); /* IE6-9 */
			-webkit-box-shadow: 0px 3px 0px 0px #307c21;
			-moz-box-shadow: 0px 3px 0px 0px #307c21;
			box-shadow: 0px 3px 0px 0px #307c21;
			border-bottom: 1px solid #00c200;
			border-top: 1px solid #348624;
			text-decoration: none;
		}
	}
	
	a.button {
		display: inline-block;
	}
	
	.button[disabled='disabled'], 
	button[disabled='disabled'], 
	input[disabled='disabled'], 
	input[disabled='disabled']:hover, 
	input[disabled='disabled']:focus {
		background: #dcdcdc !important;
		border-color: #a9a9a9 !important;
		color: #a9a9a9 !important;
		text-shadow: none !important;
		cursor: default !important;
	}
	
	.button.active, 
	button.active, 
	input[type='submit'].active, 
	input[type='button'].active {
		border-color: #294d6b;
		background: #4682b4;
		color: white;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
		background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
		background-image: linear-gradient(top, #4682b4, #294d6b);
	}
	
	// general form styling
	
	form input[type='text'], 
	form input[type='email'], 
	form input[type='tel'], 
	form input[type='url'], 
	form input[type='search'],
	form input[type='password'], 
	form select, 
	form textarea {
		font-family: Helvetica, arial, sans-serif;
		border: 1px solid #a9a9a9;
		font-size: 14px;
		padding: 0.5em;
	}
	
	form select {
		padding: 0.1em;
		-moz-border-radius: 0.2em;
		-webkit-border-radius: 0.2em;
		border-radius: 0.2em;
	}
	
	form select:focus, 
	form input[type='text']:focus, 
	form input[type='email']:focus, 
	form input[type='tel']:focus, 
	form input[type='url']:focus, 
	form input[type='search']:focus, 
	form select:focus, 
	form textarea:focus {

	}
}