/* 
* AUTHENTICATED & FOCUSED MOBILE VIEW 
*
* Styles defined within this stylesheet affect the portal once a user has been authenticated 
* and a portlet or channel has been selected. The portal receives a top level <div> wrapper 
* with a .mobile-focused class name when a user has been authenticated and a portlet or channel 
* has been focused.
*
* Date: 08/14/2008
* Author: Matt Polizzotti
* Company: Unicon,Inc.
* uPortal Version: uP3.0.0 and up
*/


/** START: MOBILE-FOCUSED **/
	.mobile-focused{}
	
	/* header */
	.mobile-focused .mobile-header{background:#000066;}
	.mobile-focused .mobile-header .mobile-logo{padding:5px;}
	
	/* back to main */
	.mobile-focused .mobile-back-to-main{background:#9999cc; padding:5px; border-top:2px solid #000000; border-bottom:1px solid #6666cc; font-size:77%; color:#000066;}
	.mobile-focused .mobile-back-to-main a, .mobile-focused .mobile-back-to-main a:visited{color:#FFFFFF; text-decoration:none;}
	.mobile-focused .mobile-back-to-main a:hover{color:#FFFFFF; text-decoration:underline;}
	
	/* select */
	.mobile-focused .mobile-select-nav{background:#9999CC; padding:5px; font-size:77%; border-bottom:1px solid #6666cc;}
	.mobile-focused .mobile-select-nav label{padding-right:5px;}
	.mobile-focused .mobile-select-nav .mobile-nav-select{}
	.mobile-focused .mobile-select-nav input{background-color:#FF6600; border-top:1px solid #FFCA95; border-left:1px solid #FFCA95; border-right:1px solid #884400; border-bottom:1px solid #884400; font-weight:bold; margin-left:5px;}
	
	/* channel title */
	.mobile-focused .mobile-channel-title{background:#FFFFFF; color:#FF6600; padding:5px; font-weight:bold; font-size:150%;}
	.mobile-focused .mobile-channel-title h2{border-bottom:1px solid #FF6600; padding-bottom:5px;}
	
	/* content */
	.mobile-focused .mobile-content{background:#FFFFFF; padding:15px 5px; color:#000000;}
	
	/* footer */
	.mobile-focused .mobile-footer{background:#000066; padding:5px; font-size:77%; color:#FFFFFF; border-top:2px solid #000000;}
	.mobile-focused .mobile-footer a, .mobile .mobile-footer a:visited{color:#FFFFFF;}
	.mobile-focused .mobile-footer a:hover{color:#FFFFFF;}
/** END: MOBILE-FOCUSED **/