/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body{font-family:verdana,helvetica,sans-serif;font-size:12px;}
img{border:0;}
.image-container{overflow:hidden;width:100%;margin-top:50px;}
.image-inner-container{height:100px;width:140px;background-color:#eee;overflow:hidden;margin:0 auto 3px auto;}
.image-inner-container img{width:150px;}
.orderable-default{height:150px!important;width:150px;border:2px solid #ddd;float:left;margin:5px!important;text-align:center;padding-top:10px;cursor:move;}
.orderable-hover{height:150px!important;width:150px;border:2px solid #666;float:left;margin:5px!important;text-align:center;padding-top:10px;}
.orderable-selected{height:150px!important;width:150px;border:2px solid #666;background-color:#ddd;float:left;margin:5px!important;text-align:center;padding-top:10px;cursor:move;}
.orderable-selected img{border:1px solid #eee;}
.orderable-dragging{height:150px!important;width:150px;border:2px solid #666;background-color:#eee;float:left;margin:5px!important;text-align:center;opacity:.2;filter:alpha(opacity=20);padding-top:10px;}
.image-title{margin-top:5px;height:40px;overflow:hidden;}
.image-title a{text-decoration:none;}
.image-title a:hover{text-decoration:underline;}
div .orderable-drop-marker{height:160px!important;margin:0 -2px;padding:0 2px;background-color:red;float:left;}
.image-reorderer-instructions{color:#666;background-color:lightyellow;padding:3px;border:2px solid #ddd;font-size:.9em;position:absolute;top:0;right:0;width:340px;}
.image-reorderer-downarrow{font-size:0;line-height:0;width:0;margin:5px 8px 30px 0;float:left;border-top:10px solid red;border-left:10px solid lightyellow;border-right:10px solid lightyellow;}
.screen-reader-instructions{position:absolute;left:0;top:-500px;width:1px;height:1px;overflow:hidden;}