//====================================
// IVY SKIN: Config
//====================================
// This file is written in SASS. To find out how to install SASS to generate CSS visit http://sass-lang.com

// Configure these settings to make both broad and fine adjustments to the skin.
// If there isn't a configuration here you need, make an override in "_skin-overrides.scss".
//
// For colors, the main color palette is in "_skin-colors.scss".
// SASS will take the colors defined in the palette and create shade variations for each color.
// For example:
// $c1				: $skinColor1;
// $c1dark			: darken($c1, 10%);
// $c1darker		: darken($c1, 20%);
// $c1darkest		: darken($c1, 30%);
// $c1light			: lighten($c1, 10%);
// $c1lighter		: lighten($c1, 20%);
// $c1lightest		: lighten($c1, 30%);
//
// Use the $cX references in the rest of the color delcarations below to customize which color from the palette + shade variations your skin uses for different areas and components of the portal.
//
// Anywhere there is a background specified, you can expand a simple color variable to include an image with normal css background syntax.
//
// Some things may be turned off by using "false" instead of a variable or css value.


//====================================
// General
//====================================
$fontSize						: 14px; // Use a value to override the reset font size. "false" will keep the reset font size.
$font							: serif;
$headingFont					: serif;
$buttonFont						: sans-serif;
$formElementFont				: serif;

//====================================
// Page
//====================================
$portalWidth					: 100%;
$portalMinWidth					: 960px;
$portalPageSideBorder			: 1px solid $graydark;
$portalBackground				: $c2;
$portalGradient1				: false;
$portalGradient2				: false;
$portalPageBodyInnerPadding		: 2.5em 25px;

//====================================
// Header
//====================================
$headerBackground				: $c1;
$headerGradient1				: $c1light;
$headerGradient2				: $c1dark;
// Logo
$portalLogoPadding				: 1.3em 25px;
$portalFocusedLogoPadding		: 1.5em 0;
// Login (assumes CAS)
$loginPositionTop				: 1.5em;
$loginPositionRight				: 25px;
$loginButtonWidth				: 10em;
// User Welcome
$headerWelcomeTop				: 3em;
$headerWelcomeLeft				: 195px;
$headerWelcome					: $c1lightest;
$headerUserName					: $white;
// Portal Bar
$portalBarBackground			: $c1darker url("images/headerbar.jpg") 0 0 repeat-x;
$portalBarGradient1				: false;
$portalBarGradient2				: false;
$portalBarPadding				: 0.5em 25px;
$portalBarFontSize				: 100%;
$portalBarTextAlign				: right;
$portalBarTextTransform			: capitalize;
$portalBarLink					: $c1lighter;
$portalBarLinkHover				: $white;
$portalBarLinkPadding			: 0 5px;
$portalBarPipes					: 1px solid rgba($c1lightest, .25);
// Web Search
$webSearchTop					: 5em;
$webSearchRight					: 25px;
$webSearchSelectHide			: true;
$webSearchInput					: $c1light;
$webSearchInputBorder			: $c1dark;
$webSearchInputText				: $text;
$webSearchInputHover			: $c1lighter;
$webSearchInputFocus			: $white;
$webSearchInputBorderFocus		: $c1dark;
$webSearchInputFocusText		: $text;
$webSearchInputRound			: true;
$webSearchInputRoundTL			: 0.6em;
$webSearchInputRoundTR			: 0;
$webSearchInputRoundBR			: 0;
$webSearchInputRoundBL			: 0.6em;
// Tips

// Emergency Alerts
$headerBlockBackground      : $c1darker;

//====================================
// Navigation
//====================================
$navBackground					: $c1dark;
$navGradient1					: false;
$navGradient2					: false;
$navTabMargin					: 0 0 0 25px;
// Tabs
$navTabBackground				: $c1;
$navTabGradient1				: $c1;
$navTabGradient2				: $c1;
$navTabGradient3				: $c1dark; // set to "false" for a 2-color gradient
$navTabRound					: false;
$navTabBorderLeft				: 1px solid rgba($white,.25);
$navTabBorderRight				: 1px solid rgba($black,.25);
$navTabPadding					: 8px 20px;
$navTabMarginRight				: 2px;
$navTabLink						: $white;
$navTabWeight					: bold;
$navTabTextShadow				: dark;
$navTabHoverBackground			: $c1lighter;
$navTabHoverGradient1			: $c1lighter;
$navTabHoverGradient2			: $c1light;
$navTabHoverGradient3			: $c1; // set to "false" for a 2-color gradient
$navTabLinkHover				: $white;
$navTabHoverTextShadow			: dark;
// Active Tab
$navTabActiveBackground			: $c5;
$navTabActiveGradient1			: $c5;
$navTabActiveGradient2			: $c5dark;
$navTabActiveGradient3			: $c5darker; // set to "false" for a 2-color gradient
$navTabActiveLink				: $white;
$navTabActiveTextShadow			: dark;
$navTabActiveHoverBackground	: $c5light;
$navTabActiveHoverGradient1		: $c5light;
$navTabActiveHoverGradient2		: $c5;
$navTabActiveHoverGradient3		: $c5dark; // set to "false" for a 2-color gradient
$navTabActiveHoverLink			: $white;
$navTabActiveHoverTextShadow	: dark;
// Add Tab
$navAddTabTopPosition			: 7px;
$navAddTabPadding				: 5px 8px 2px 20px;
$navAddTabBackground			: transparent;
$navAddTabBorder				: none;
$navAddTabRound					: 3px;
$navAddTabLink					: $white;
$navAddTabFontSize				: 86%;
$navAddTabImage					: url("images/add.png");
$navAddTabImagePosition			: 5px 2px;
$navAddTabHover					: $c1darker;
$navAddTabLinkHover				: $white;
// Tab Reorder
$navReorderGripperImage			: transparent url("images/gripper.png") 0px 0px no-repeat;
$navReorderAvatarBackground		: $black;
$navReorderAvatarLink			: $white;
$navReorderAvatarRound			: 5px;
$navReorderAvatarBoxShadow		: 0px, 0px, 4px, $dgray;
// Remove Tab
$navRemoveTabImage				: transparent url("images/remove.png") 0px 0px no-repeat;
// Flyouts
$navFlyoutBackground			: $c2;
$navFlyoutGradient1				: false;
$navFlyoutGradient2				: false;
$navFlyoutBorder				: 4px solid $c2;
$navFlyoutBorderTopWidth		: 1px;
$navFlyoutRound					: false;
$navFlyoutRoundTL				: 0;
$navFlyoutRoundTR				: 0;
$navFlyoutRoundBL				: 0.6em;
$navFlyoutRoundBR				: 0.6em;
$navFlyoutBoxShadow				: 2px 4px 6px $graydarker;
$navFlyoutLinkBackground		: $white;
$navFlyoutLinkGradient1			: false;
$navFlyoutLinkGradient2			: false;
$navFlyoutLinkBorderTop			: 1px solid $c2;
$navFlyoutLinkBorderBottom		: false;
$navFlyoutLinkTextSize			: 85%;
$navFlyoutLinkColor				: $c2dark;
$navFlyoutHoverBackground		: $c1dark;
$navFlyoutLinkHoverColor		: $white;
// Portlet Nav
$navPortletHeading				: $white;
$navPortletImage				: transparent url("/ResourceServingWebapp/rs/famfamfam/silk/1.3/tab_go.png") 0px 0px no-repeat;
// Breadcrumb
$breadcrumbText					: $graylighter;
$breadcrumbLink					: $gray;
$breadcrumbFontWeight			: normal;
$breadcrumbLinkHover			: $graydark;

//====================================
// Body
//====================================
$portalPageBackground			: $c1lightest;
// Portlet Wrapper
$portletRound					: 0;
$portletContentRound			: 0;
$portletPadding					: 3px 0 0 0;
$portletShadow					: false;
$portletTitlePadding			: 0 0 3px 0.5em;
$portletTitleFontSize			: 100%;
$portletTitleFontWeight			: normal;
$portletTitleTextTransform		: capitalize;
// Portlet Controls
$portletControlsTop				: 0;
$portletControlsPadding			: 0 0.5em 0 0;
$portletControlsFontSize		: 90%;
$portletControlIconSprite		: url("../common/images/portlet_icons_with_print_flat.png"); //transparent url("../common/images/portlet_icons_flat.png") no-repeat 0 0;
$portletControlIconSize			: 16px;
$portletControlLink				: $c1lightest;
$portletControlLinkHover		: $white;
// Portlet Default
$portletBackground				: $c1 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
$portletGradient1				: $c1;
$portletGradient2				: $c1lighter;
$portletTitle					: $c2dark;
$portletTitleShadow				: light;
$portletTitleHover				: $c5darkest;
$portletBorder					: 1px solid $c1;
$portletContentBorder			: none;
$portletContentBackground		: $white;
// Portlet Alternate
$portletAltBackground			: $c4darkest url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
$portletAltGradient1			: $c4darker;
$portletAltGradient2			: $c4darkest;
$portletAltTitle				: $c3darkest;
$portletAltTitleShadow			: light;
$portletAltTitleHover			: $c2darker;
$portletAltBorder				: 1px solid $c4darker;
$portletAltContentBorder		: none;
$portletAltContentBackground	: $white;
// Portlet Highlight
$portletHLBackground			: $c5darker url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
$portletHLGradient1				: $c5;
$portletHLGradient2				: $c5darker;
$portletHLTitle					: $c5darkest;
$portletHLTitleShadow			: light;
$portletHLTitleHover			: $c2darkest;
$portletHLBorder				: 1px solid $c5darker;
$portletHLContentBorder			: none;
$portletHLContentBackground		: $c5lightest;
// Portlet Locked
$portletLockedBackground		: $c1dark url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
$portletLockedGradient1			: $c1dark;
$portletLockedGradient2			: $c1;
$portletLockedTitle				: $c1lighter;
$portletLockedTitleShadow		: dark;
$portletLockedTitleHover		: $white;
$portletLockedBorder			: 1px solid $c1dark;
$portletLockedContentBorder		: none;
$portletLockedContentBackground	: $white;
$portletLockedTitleIcon			: false;
// Sidebar
$sidebarPadding					: 0 0 0 15px;
// Sidebar Widget
$sidebarWidgetRound				: 5px;
$sidebarWidgetContentRound		: 3px;
$sidebarWidgetShadow			: false;
$sidebarWidgetBackground		: $c2 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
$sidebarWidgetGradient1			: $c2lightest;
$sidebarWidgetGradient2			: $c2;
$sidebarWidgetTitle				: $c1lightest;
$sidebarWidgetTitleWeight		: bold;
$sidebarWidgetTitleSize			: 100%;
$sidebarWidgetTitleTransform	: uppercase;
$sidebarWidgetTitleShadow		: dark;
$sidebarWidgetTitlePadding		: 0;
$sidebarWidgetBorder			: 1px solid $c2dark;
$sidebarWidgetContentBorder		: 1px solid $c2;
$sidebarWidgetContentBackground	: $c1dark;
$sidebarWidgetContentText		: $c1lightest;
$sidebarWidgetContentPadding	: 1em 12px; // For widgets that don't contain listmenus.
// Sidebar Listmenu
$sidebarListBackground			: $c1dark;
$sidebarListBorder				: 1px solid $c1dark;
$sidebarLIBackground			: $c1dark;
$sidebarLIBorder				: 1px solid $c1dark;
$sidebarLIText					: $c1lightest;
$sidebarLIPadding				: 5px;
$sidebarLIBackgroundHover		: $c4darker;
$sidebarLITextHover				: $white;
$sidebarLIActiveBackground		: $c1darker;
$sidebarLIActiveText			: $c1lighter;
$sidebarLIActiveBackgroundHover	: $c4darkest;
$sidebarLIActiveTextHover		: $white;


//====================================
// Footer
//====================================
$footerBackground				: $c2;
$footerText						: $c2lightest;
$footerLink						: $c2lighter;
$footerLinkDecoration			: none;
$footerLinkHover				: $white;
$footerInnerPadding				: 25px;
$footerFontSize					: 80%;
$footerInnerBackground			: transparent url("images/portal_poweredby.png") 25px 65px no-repeat;
$footerLinkListMargin			: 0 0 2em 0;
$footerLinkListFontWeight		: bold;
$footerLinkListColor			: $white;
$footerLinkListHoverColor		: $c5lighter;
$footerEtcMargin				: 0 0 0 120px;

//====================================
// Buttons
//====================================
// Global Buttons
$buttonPadding					: 0.3em 15px 0.4em 15px;
$buttonBorderWidth				: 1px;
$buttonBorderStyle				: solid;
$buttonFontWeight				: bold;
$buttonFontSize					: 12px;
$buttonTextAlign				: center;
$buttonTextTransform			: capitalize;
$buttonRound					: 0.6em;
$buttonShadow					: 0, 1px, 3px, rgba(0, 0, 0, .5); // drop shadow
// Default Button
$buttonBorder					: $c1darker;
$buttonBackground				: $c1;
$buttonText						: $white;
$buttonTextShadow				: dark;
$buttonGradient1				: $c1;
$buttonGradient2				: $c1darker;
$buttonHoverBorder				: $c1darker;
$buttonHoverBackground			: $c1light;
$buttonHoverText				: $white;
$buttonHoverTextShadow			: dark;
$buttonHoverGradient1			: $c1lighter;
$buttonHoverGradient2			: $c1darker;
$buttonDownBorder				: $c1darker;
$buttonDownBackground			: $c1dark;
$buttonDownText					: $white;
$buttonDownTextShadow			: dark;
$buttonDownGradient1			: $c1darker;
$buttonDownGradient2			: $c1;
// Dark Button
$darkButtonBorder				: $c3darker;
$darkButtonBackground			: $c3;
$darkButtonText					: $white;
$darkButtonTextShadow			: dark;
$darkButtonGradient1			: $c3;
$darkButtonGradient2			: $c3darker;
$darkButtonHoverBorder			: $c3darker;
$darkButtonHoverBackground		: $c3light;
$darkButtonHoverText			: $white;
$darkButtonHoverTextShadow		: dark;
$darkButtonHoverGradient1		: $c3light;
$darkButtonHoverGradient2		: $c3darker;
$darkButtonDownBorder			: $c3darker;
$darkButtonDownBackground		: $c3dark;
$darkButtonDownText				: $white;
$darkButtonDownTextShadow		: dark;
$darkButtonDownGradient1		: $c3dark;
$darkButtonDownGradient2		: $c3light;
// Light Button
$lightButtonBorder				: $graylight;
$lightButtonBackground			: $graylightest;
$lightButtonText				: $graydarkest;
$lightButtonTextShadow			: light;
$lightButtonGradient1			: $white;
$lightButtonGradient2			: $graylightest;
$lightButtonHoverBorder			: $graydark;
$lightButtonHoverBackground		: $gray;
$lightButtonHoverText			: $graydarkest;
$lightButtonHoverTextShadow		: light;
$lightButtonHoverGradient1		: $graylightest;
$lightButtonHoverGradient2		: $graylighter;
$lightButtonDownBorder			: $graydark;
$lightButtonDownBackground		: $graydark;
$lightButtonDownText			: $graydarkest;
$lightButtonDownTextShadow		: light;
$lightButtonDownGradient1		: $graylighter;
$lightButtonDownGradient2		: $white;
// Login Button
$loginButtonBorder				: $c4dark;
$loginButtonBackground			: $c4;
$loginButtonText				: $white;
$loginButtonTextShadow			: dark;
$loginButtonGradient1			: $c4light;
$loginButtonGradient2			: $c4dark;
$loginButtonHoverBorder			: $c4dark;
$loginButtonHoverBackground		: $c4light;
$loginButtonHoverText			: $white;
$loginButtonHoverTextShadow		: dark;
$loginButtonHoverGradient1		: $c4lighter;
$loginButtonHoverGradient2		: $c4dark;
$loginButtonDownBorder			: $c4darker;
$loginButtonDownBackground		: $c4dark;
$loginButtonDownText			: $white;
$loginButtonDownTextShadow		: dark;
$loginButtonDownGradient1		: $c4dark;
$loginButtonDownGradient2		: $c4light;
// Web Search Button
$websearchButtonPadding			: 0.3em 12px;
$websearchButtonBorder			: $c1darker;
$websearchButtonBackground		: $c1;
$websearchButtonText			: $white;
$websearchButtonTextShadow		: dark;
$websearchButtonGradient1		: $c1;
$websearchButtonGradient2		: $c1darker;
$websearchButtonHoverBorder		: $c4darker;
$websearchButtonHoverBackground	: $c4light;
$websearchButtonHoverText		: $white;
$websearchButtonHoverTextShadow	: dark;
$websearchButtonHoverGradient1	: $c4lighter;
$websearchButtonHoverGradient2	: $c4dark;
$websearchButtonDownBorder		: $c4darker;
$websearchButtonDownBackground	: $c4dark;
$websearchButtonDownText		: $white;
$websearchButtonDownTextShadow	: dark;
$websearchButtonDownGradient1	: $c4dark;
$websearchButtonDownGradient2	: $c4light;
// Search Button
$searchButtonPadding			: 0.3em 12px;
$searchButtonBorder				: $c1darker;
$searchButtonBackground			: $c1;
$searchButtonText				: $white;
$searchButtonTextShadow			: dark;
$searchButtonGradient1			: $c1;
$searchButtonGradient2			: $c1darker;
$searchButtonHoverBorder		: $c4darker;
$searchButtonHoverBackground	: $c4light;
$searchButtonHoverText			: $white;
$searchButtonHoverTextShadow	: dark;
$searchButtonHoverGradient1		: $c4lighter;
$searchButtonHoverGradient2		: $c4dark;
$searchButtonDownBorder			: $c4darker;
$searchButtonDownBackground		: $c4dark;
$searchButtonDownText			: $white;
$searchButtonDownTextShadow		: dark;
$searchButtonDownGradient1		: $c4dark;
$searchButtonDownGradient2		: $c4light;
// Utility Button
$utilityButtonBorder			: $c3dark;
$utilityButtonBackground		: $c3;
$utilityButtonText				: $white;
$utilityButtonTextShadow		: dark;
$utilityButtonGradient1			: $c3light;
$utilityButtonGradient2			: $c3dark;
$utilityButtonHoverBorder		: $c3dark;
$utilityButtonHoverBackground	: $c3light;
$utilityButtonHoverText			: $white;
$utilityButtonHoverTextShadow	: dark;
$utilityButtonHoverGradient1	: $c3lighter;
$utilityButtonHoverGradient2	: $c3dark;
$utilityButtonDownBorder		: $c3darker;
$utilityButtonDownBackground	: $c3dark;
$utilityButtonDownText			: $white;
$utilityButtonDownTextShadow	: dark;
$utilityButtonDownGradient1		: $c3dark;
$utilityButtonDownGradient2		: $c3light;
// Active (global "on") state.
$activeButtonBorder				: $c1darker;
$activeButtonBackground			: $c1;
$activeButtonText				: $white;
$activeButtonTextShadow			: dark;
$activeButtonGradient1			: $c1;
$activeButtonGradient2			: $c1darker;
// Disabled Button
$disabledButtonBorder			: $gray;
$disabledButtonBackground		: $graylighter;
$disabledButtonText				: $gray;

//====================================
// Forms
//====================================
$formElementFontSize			: 14px;
$formElementBorder				: 1px solid $gray;
$formElementPadding				: 0.2em 0.4em;
$formElementLineHeight			: 1.4;
$formElementBackground			: $white;
$formElementBoxShadow			: 0 1px 4px rgba(0, 0, 0, 0.2) inset; // subtle inner-shadow
$formElementRound				: 0.6em;
$formSelectPadding				: 0.1em;
$formSelectRound				: 0.2em;
$formElementFocus				: 0 0 10px $c1light; // box-shadow "glow"

//====================================
// Customization
//====================================
// Gallery
$galleryBackground				: $dgray;
$galleryBorder					: 1px solid $gray;
$galleryHandleBackground		: $black url("../common/images/gallery-bar.png") bottom left repeat-x;
$galleryHandleBorder			: 1px solid $graydark;
$galleryHandleLinkBackround		: $white scroll url("../common/images/gallery-handle.png") 0 0 repeat-x;
$galleryHandleLink				: $text;
$galleryHandleRound				: 3px;
$galleryHandleShadow			: 0 1px 2px $gray;
$galleryHandleIconClosed		: url("../common/images/gallery-handle-arrow-down.png");
$galleryHandleIconOpen			: url("../common/images/gallery-handle-arrow-up.png") !important;
$galleryBarBackground			: transparent url("../common/images/gallery-bar.png") top left repeat-x;
$galleryMenuBackground			: $dgraylight;
$galleryMenuBorder				: 1px solid $graylight;
$galleryMenuItemBackground		: $dgraylighter;
$galleryMenuItemBorder			: 1px solid $graydark;
$galleryMenuItemLink			: $graylight;
$galleryMenuItemBackgroundHover	: $c1darkest;
$galleryMenuItemLinkHover		: $white;
$galleryMenuItemActiveBackground: $dgray;
$galleryMenuItemActiveLink		: $white;
$galleryMenuItemActiveIcon		: $dgray url("../common/images/gallery-arrow-right.png") 90% 50% no-repeat;
$galleryCloseButtonType			: defualt;
$galleryFilterBackground		: $dgraylight;
$galleryFilterBorder			: 1px solid $dgraylightest;
$galleryFilterRound				: 5px;
$galleryFilterTitleRound		: 5px;
$galleryFilterTitleBackground	: $dgray;
$galleryFilterTitle				: $c1dark;
$galleryFilterTitleHover		: $c1light;
$galleryFilterTitleActive		: $white;
$galleryFilterTitleActiveHover	: $c1lightest;
$galleryFilterTitleActiveBgd	: $dgraylight;
$galleryFilterSubtitle			: $graylighter;
$galleryFilterSubtitleLine		: 1px dotted $graydarkest;
$galleryFSearchInputBackground	: $dgraylightest;
$galleryFSearchInputText		: $dgray;
$galleryFSearchInputPadding		: 0.3em;
$galleryFSearchInputHover		: $graydarker;
$galleryFSearchInputFocus		: $white;
$galleryCatLink					: $graylight;
$galleryCatLinkHover			: $c1;
$galleryCatActiveLink			: $white;
$galleryPackagesText			: $graylighter;
$galleryResultsBottomPadding	: 5px;
$galleryResultsText				: $gray;
$galleryRIBackground			: $dgray;
$galleryRIBorder				: 1px solid $dgraylightest;
$galleryRIRound					: 5px;
$galleryRIShadow				: 1px 1px 2px $black;
$galleryRIUtilityHeight			: 16px;
$galleryRIUtilityBackground		: $dgraylight;
$galleryRIUtilityRound			: 5px;
$galleryRIGripper				: $dgraylight url("../common/images/gripper.png") 5px 0px no-repeat;
$galleryRITitle					: $white;
$galleryRIDescription			: $graylight;
$galleryRIBackgroundHover		: $dgraydarker;
$galleryRIBorderHover			: 1px soild $c1;
$galleryRIGradient1Hover		: $dgray;
$galleryRIGradient2Hover		: $dgraydarkest;
$galleryRILink					: $black;
$galleryRILinkBackground		: $dgraydark;
$galleryRILinkGradient1			: $gray;
$galleryRILinkGradient2			: $graydarkest;
$galleryRILinkRound				: 5px;
$galleryRILinkBackgroundHover	: $c1dark;
$galleryRILinkGradient1Hover	: $c1light;
$galleryRILinkGradient2Hover	: $c1dark;
$galleryRISelectedBackground	: $dgraydark;
$galleryRISelectedBorderWidth : 3px;
$galleryRISelectedBorderStyle : solid;
$galleryRISelectedBorderColor : $c1;
$galleryPagerText				: $white;
$galleryPagerButtonBackground	: $dgraylight;
$galleryPagerButtonBorder		: 1px solid $dgraylightest;
$galleryPagerButtonGradient1	: $dgraylighter;
$galleryPagerButtonGradient2	: $dgray;
$galleryPagerButtonRound		: 5px;
$galleryPagerBtnBackgroundHover	: $dgraylightest;
$galleryPagerBtnBorderHover		: 1px solid $c1;
$galleryPagerBtnGradient1Hover	: $dgraylighter;
$galleryPagerBtnGradient2Hover	: $dgraydarkest;
$galleryPagerBtnBgdDisabled		: $dgray !important;
$galleryPagerBtnBorderDisabled	: 1px solid $dgraylight !important;
// Customize Page Message
$customizePageMessagePointer	: transparent url("images/customize_message_arrow.png") 40px 0px no-repeat;
$customizePageMessageBackground	: $white;
$customizePageMessageBorder		: 2px solid $c4darker;
$customizePageMessageRound		: 7px;
$customizePageMessagePadding	: 1em 20px;
$customizePageMessageTitle		: $dgray;
$customizePageMessageTitleWeight: normal;
$customizePageMessageTitleMargin: 0 0 .3em 0;
$customizePageMessageStrong		: $c1dark;
// Fragment Administration
$fragAdminHeaderBackground		: $c3light;
$fragAdminHeaderBorder			: none;
$fragAdminHeaderBorderBottom	: 1px solid $c3darker;
$fragAdminHeaderRound			: 0;
$fragAdminHeaderTitle			: $c3darkest;
$fragAdminHeaderTitleSize		: 150%;
$fragAdminHeaderContentBgd		: $c3light;
$fragAdminHeaderButtonType		: dark;
$fragAdminPagePermsButtonType	: light;
$fragAdminColumnPermsButtonType	: light;
$fragDisabled					: $graydark;
// Layout Options
$layoutOptionSelectedBorder		: thin solid $gray; // 3.2 only; 4.0 uses the gallery instead.
// Drag and Drop
$dndSelectedOutline				: 2px solid $c4;
$dndAvatarBackground			: $white;
$dndAvatarBorder				: 1px dotted $gray;
$dndDropMarkerBackground		: $c4;
$dndDropMarkerBorder			: 2px dashed $c4darker;
$dndDropWarningBackground		: $c5;
$dndDropWarningBorder			: 2px solid $c5darker;
$dndDropWarningText				: $white;