BODY {
    background-color: Black;
	background-image : url(background.gif);
	
}
A {
	text-decoration : none;
	font-family : System, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : Green;
}
A:VISITED {
	color : Green;
}
A:HOVER {
	color : Lime;
}
A.navigation {
	color : Green;
}
A.navigation:visited {
	color : Green;
}
A.navigation:hover {
	color : Lime;
}
.uportal-text{
	color : Olive;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.uportal-text-small{
	color : Olive;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.uportal-button{
	color : Lime;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background : Black;
}
.uportal-label{
	color : Lime;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}
.uportal-input-text{
	color : Yellow;
	font-size: 12px;
	font-family: Monaco, Andale Mono, monospace;
	background : Black;
}
.uportal-text-reversed{
	color : White;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
A.uportal-navigation-category{
	color : Green;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:visited{
	color : Green;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:hover{
	color : Lime;
	font-size : 12px;
	font-weight : bold;
}
.uportal-navigation-category-selected{
	font-size : 12px;
	font-weight : bold;
	color : #666666;
}
A.uportal-navigation-channel{
	color : Green;
	font-size : 12px;
}
A.uportal-navigation-channel:visited{
	color : Green;
	font-size : 12px;
}
A.uportal-navigation-channel:hover{
	color : Lime;
	font-size : 12px;
}
.uportal-navigation-channel-selected{
	background : Black;
	font-size : 12px;
	color : #666666;
}
.uportal-crumbtrail{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #666666;
}
.uportal-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : 666666;
	font-style : italic;
}
.uportal-channel-text{
	color : Olive;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.uportal-channel-title{
	color : #990000;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 16px;
	font-weight : bold;
}
.uportal-channel-title-reversed{
	color : #996666;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-subtitle{
	color : #999999;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-subtitle-reversed{
	color : Lime;
	font-family : Georgia, "MS Sans Serif", Geneva, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-emphasis{
	font-weight : bold;
	font-size : 12px;
	font-family : Georgia, "Times New Roman", Times, serif;
}
.uportal-channel-strong{
	font-weight : bold;
	font-size : 12px;
	font-family : Georgia, "Times New Roman", Times, serif;
}
.uportal-channel-code{
	color : Olive;
	font-size: 12px;
	font-family: Monaco, Andale Mono, monospace;
}
.uportal-channel-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : 666666;
	font-style : italic;
}
.uportal-channel-warning{
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #993333;
}
.uportal-channel-error{
	color : Olive;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-caption{
	color : #32CD32;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	text-align: center;
}
.uportal-channel-table-header{
	color : #32CD32;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	text-align: left;
}
.uportal-channel-table-row-even{
	color : Olive;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-row-odd{
	color : Green;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-background{
	background : #555555;
}
.uportal-background-dark{
	background : #555555;
}
.uportal-background-med{
	background : #444444;
}
.uportal-background-light{
	background : #333333;
}
.uportal-background-content{
	background-color: #222222;
	background-image : url(contentBackground.gif);
}
.uportal-background-highlight{
	background : #00FF00;
}
.uportal-background-shadow{
	background : Green;
}
