/* JSR-168 Java Portlet Specification v1.0 */
/* PLT.C CSS Style Definitions */

/* PLT.C.1 Links (Anchor) */

/* PLT.C.2 Fonts */
.portlet-font {}
.portlet-font-dim {color:#999;}


/* PLT.C.3 Messages */
.portlet-msg-status,
.portlet-msg-info, 
.portlet-msg-error, 
.portlet-msg-alert, 
.portlet-msg-success {padding:1em 1em 1em 3em; border:2px solid #ccc; color:#666; background:#ddd url(../../icons/status.png) 1em 1em no-repeat;}

.portlet-msg-status h2,
.portlet-msg-info h2, 
.portlet-msg-error h2, 
.portlet-msg-alert h2, 
.portlet-msg-success h2 {margin:0; color:#000;}

.portlet-msg-status {}
.portlet-msg-info {color:#FE0000; background:#99ccff url(../../icons/information.png) 1em 1em no-repeat; border-color:#3399ff;}
.portlet-msg-error {color:#f00; background:#ffeeee url(../../icons/stop.png) 1em 1em no-repeat; border-color:#cc0000;}
.portlet-msg-alert {color: #000; background:#FFCC66 url(../../icons/error.png) 1em 1em no-repeat; border-color:#FF6600;}
.portlet-msg-success {color: #000; background:#D1F0E0 url(../../icons/tick.png) 1em 1em no-repeat; border-color:#009900;}


/* PLT.C.4 Sections */
.portlet-section-header {font-size:150%; font-weight: bold; border-bottom:1px solid #ccc;}
.portlet-section-body {}
.portlet-section-alternate {background-color:#eee;}
.portlet-section-selected {background:#efefef;}
.portlet-section-subheader {font-weight:bold;}
.portlet-section-footer {}
.portlet-section-text {}


/* PLT.C.5 Forms */
.portlet-form-label {}
.portlet-form-input-field {}
.portlet-form-button {}
.portlet-icon-label {}
.portlet-dlg-icon-label {}
.portlet-form-field-label {}
.portlet-form-field {}


/* PLT.C.7 Menus */
.portlet-menu {background-color:#ddd;}
.portlet-menu-item {}
.portlet-menu-item-selected {font-weight:bold;}
.portlet-menu-item-hover {background-color:#ffffcc; color:#000;}
.portlet-menu-item-hover-selected {}
.portlet-menu-cascade-item {}
.portlet-menu-cascade-item-selected {}
.portlet-menu-description {}
.portlet-menu-caption {}


















