/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*

/* uPORTAL PORTAL CSS
 * These declarations are scoped for the portal, and not specifically for portlets.
 * For portlet-specifc CSS, see "portlet.css" in the same directory.
 * CSS specified at the portal scope will naturally cascade into portlets.
 * This CSS assumes the use of a CSS reset (by default the FSS "fss-reset.css") for browser normalization.
 */
 
/* uPORTAL DEVELOPMENT STANDARDS AND GUIDELINES
 * For the standards and guidelines that govern the user interface of uPortal portlets including HTML, CSS, JavaScript, accessibilty, naming conventions, 3rd Party libraries (like jQuery and the Fluid Skinning System) and more, refer to:
 * http://www.ja-sig.org/wiki/x/cQ
 */
 
/* ICONS
 * This CSS uses the Silk icon set 1.3 by Mark James:
 * http://www.famfamfam.com/lab/icons/silk/
 * which is licensed under a Creative Commons Attribution 2.5 License:
 * http://creativecommons.org/licenses/by/2.5/
 * This icon set is free for use under the CCA 2.5 license, so long as there 
 * is a link back to the author's site.  This reference is present in the 
 * portal footer markup of the universality theme.
 */
 
/* 
------------------------------------
  Fluid Skinning System overrides.
------------------------------------
 * The Fluid Skinning System is a group of CSS files with a specially designed modular structure and class-specific format.
 * It is meant to work well as both a standalone CSS foundation for your site and Fluid Infusion components.
 * In FSS, "themes" refer to the color schemes and "window dressings" for basic markup and FSS Helpers, such as Tabs, Widgets, Menus, etc.
 * For more information on FSS themes, refer to:
 * http://wiki.fluidproject.org/x/egNS
 * uPortal skins generally use a FSS theme as the base CSS styling for the portal. 
 * If a FSS theme is used with this skin, it is specified in skin.xml and applied first (from the resource server).
 * These are any overrides to the FSS theme.
 */
 
.fl-theme-mist a {font-weight:normal;}
.fl-widget {-moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;}
.fl-widget-titlebar,
.fl-widget-content,
.fl-listmenu {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}


/* 
------------------------------------
  jQuery UI overrides.
------------------------------------ 
 * uPortal uses jQuery UI (http://jqueryui.com/) for animation, effects, and widgets.
 * jQuery UI themes are expected by uPortal to format jQuery UI elements used by the portal.
 * The specific jQuery UI theme used in this skin is specified in skin.xml
 * A default theme (smoothness) is available from the resource server.
 * Alternate themes can be used by changing the reference in skin.xml
 * These are any overrides to the jQuery UI theme.
*/

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, 
.ui-widget {font-size: 1em; font-family:arial,helvetica,clean,sans-serif;}
.ui-tabs .ui-tabs-nav li { list-style-image:none; list-style-position:outside;list-style-type:none; }

/* jQuery tooltip */
#tooltip {background-color: #fffbbf; color: #344461; border: thin solid #b1c6f2;}


/* 
------------------------------------
  uPortal specific CSS.
------------------------------------ 
 * Layering on top of FSS and jQueryUI, this css is specific to style uPortal.
 * uPortal is namespaced with "up", a class on the <body> tag.
 */

/* Universal Decorators */

/* Forms */
/*
 * Gives form elements a consistent look across the portal.
 */
.up select,
.up input[type="text"],
.up input:not([type="submit"]),
.up input:not([type="button"]),
.up textarea {font-family:"lucida grande",tahoma,verdana,arial,sans-serif; border:1px solid #BDC7D8; border-color:#96A6C5;}
.up input[type="text"],
.up input:not([type="submit"]),
.up input:not([type="button"]) {background-color:#fff; background-image:-webkit-gradient(linear, 0% 0%, 0% 12%, from(#ccc), to(#fff)); background-image:-moz-linear-gradient(0% 12% 90deg, #fff, #ccc);}
.up select:focus,
.up input[type="text"]:focus,
.up textarea:focus {-webkit-box-shadow:0 0 12px rgba(51,204,255,.9); -moz-box-shadow:0 0 12px rgba(51,204,255,.9); box-shadow:0 0 12px rgba(51,204,255,.9); outline:none;}

/* Buttons */
/*
 * Gives links and form buttons a consistent button look across the portal.
 * Add the "button" class to the element you want to be styled as a button.
 * If multiple buttons, add the "buttons" class to the wrapping element.
 * If multiple buttons, add the "primary" class to the element that is the default action (e.g., class="button primary").
 */
.up button, 
.up .button,
.up input[type="submit"],
.up input[type="button"] {
	border-width:1px;
	border-style:solid;
	border-color:#000;
	background:#336699 url(../common/images/button_bkd.png) top left repeat-x;
	color:#fff;
	font-size:11px;
	font-weight:bold;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	text-transform:capitalize;
	text-shadow:0 -1px 1px rgba(0,0,0,.5);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.5);
	box-shadow:0 1px 2px rgba(0,0,0,.5);
}
.up a.button {color:#fff !important;  text-decoration:none !important;}
.up .buttons {border-top:0.2em solid #ccc;}
.up .buttons .button {background-color:#F0F0F0; border-color:#000; color:#000; text-shadow:none;}
.up .buttons .primary {background-color:#336699; color:#fff; text-shadow:0 -1px 1px rgba(0,0,0,.5);}
.up .buttons a.button {color:#000 !important;}
.up .buttons a.primary {color:#fff !important;}
.up .button:hover,
.up .button:focus,
.up a.button:hover,
.up a.button:focus,
.up input[type="submit"]:hover,
.up input[type="submit"]:focus,
.up input[type="button"]:hover,
.up input[type="button"]:focus {background-color:#5a95cf !important; color:#fff !important; cursor:pointer; outline:none;}
.up button[disabled="disabled"],
.up .button[disabled="disabled"],
.up input[disabled="disabled"],
.up input[disabled="disabled"]:hover,
.up input[disabled="disabled"]:focus {background:#ddd !important; border:1px solid #999 !important; color:#999 !important; text-shadow:none; cursor:default;}

/* Page */
.up {font-family:Verdana, Arial, Helvetica, sans-serif; color:#333;}
.up h1, .up h2, .up h3, .up h4, .up h5, .up h6 {font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif}
.up #portalPage {background-color:#fff;}

/* Portal Page Bar */
.up #portalPageBarLinks {float:right; margin-left:250px; padding-right:15px;}
.up .logged-in #portalPageBarLogout .portal-pipe {display:none;}
.up .not-logged-in #portalPageBarHelp .portal-pipe {display:none;}

/* Header */
.up #portalPageHeader {background:transparent url(images/header_bkd.jpg) bottom left repeat-x;}
.up #portalLogo {padding:20px 50px;}
.up .focused #portalLogo {padding:10px 30px;}

/* Welcome
 Keep the top value relative to the text size so that the top position remains good when the browser text size is increased. 
 Set the left width to the width of your logo (plus logo margins).
 This margin prevents it from colliding with the logo if the browser window is shrunk down. 
*/
.up #portalWelcome {top:3.5em; left:250px;}

/* Web Search */
.up #portalPageHeader #webSearchContainer,
.up #portalPageHeader #webSearchContainer .fl-widget-content {margin:0; padding:0; background:transparent; border:none;} {background:transparent; border:none;}
.up #webSearchContainer select {display:none;}
.up #webSearchContainer #webSearchSubmit {background:#000 url(images/btn_bkd.gif) top left repeat-x; border:1px solid #000; color:#333; font-size:90%; font-weight:bold; padding:0.1em 0.5em; text-shadow:0 -1px 1px rgba(0,0,0,.2);}
.up #webSearchContainer #webSearchSubmit:hover {background-position:0 -200px; cursor:pointer;}

/* Navigation */
.up #portalNavigation {background:#98b6c1 url(images/nav_bkd_btm.gif) bottom right repeat-x; border-top:1px solid #44626a;}
.up #portalNavigationInner {background:transparent url(images/nav_bkd_top.gif) top right repeat-x; border-top:1px solid #44626a;}
.up #portalNavigation .fl-tabs,
.up #portalNavigation .fl-tabs li,
.up #portalNavigation .fl-tabs li a {padding:0; margin:0; border:none; background:transparent;}
.up #portalNavigation .fl-tabs {padding:0.4em 0; text-align:center; border:none;}
.up #portalNavigation .fl-tabs li.portal-navigation {position:relative; padding:0.4em 0;}
.up #portalNavigation .fl-tabs li.portal-navigation a {padding:0.4em 2em; font-size:120%; font-weight:bold; color:#fff !important; text-decoration:none; text-shadow:1px 1px 1px rgba(0,0,0,.5);}
*:first-child+html .up #portalNavigation .fl-tabs,
*:first-child+html .up #portalNavigation .fl-tabs li.portal-navigation {padding:0;} /* hack needed for IE7 */
.up #portalNavigation .fl-tabs li.portal-navigation:hover,
.up #portalNavigation .fl-tabs li.portal-navigation:focus,
.up #portalNavigation .fl-tabs li.portal-navigation:hover a,
.up #portalNavigation .fl-tabs li.portal-navigation:focus a,
.up #portalNavigation .fl-tabs li.portal-navigation a:hover,
.up #portalNavigation .fl-tabs li.portal-navigation a:focus {background:#608695 url(images/nav_tab_bkd.gif) 0px -300px repeat-x}
.up #portalNavigation .fl-tabs li.portal-navigation.fl-tabs-active a.portal-navigation-link,
.up #portalNavigation .fl-tabs li.portal-navigation.fl-tabs-active a.portal-navigation-link:hover {background:#2e5579 url(images/nav_tab_bkd.gif) top left repeat-x; border-left:1px solid #1e3851; border-right:1px solid #1e3851; color:#fff;}
.up #portalNavigation .fl-tab-content {background-color:#fff; color:#000;}
.up #portalNavigationSubrow.fl-tab-content {text-align:center; background:#336699 url(images/nav_subrow_bkd.gif) top right repeat-x;}
.up #portalNavigationSubrow a {text-decoration:none; color:#acc9e6 !important; text-shadow:1px 1px 1px rgba(0,0,0,.5);}
.up #portalNavigationSubrow a:hover,
.up #portalNavigationSubrow a:focus {color:#eee !important;}

/* Flyout Navigation */
.up #portalNavigation .portal-flyout-container {padding:0 3px 3px 0; background:transparent url(../common/images/drop_shadow.png) bottom right no-repeat;}
.up #portalNavigation .portal-flyout-container-inner {padding:2px; background-color:#336699;}
.up #portalNavigation .portal-flyout-container .portal-subnav-list .portal-subnav {border-bottom:1px solid #336699;}
.up #portalNavigation .portal-flyout-container .portal-subnav-list .portal-subnav a.portal-subnav-link {padding:4px 10px 4px 25px; color:#336699 !important; font-weight:bold; font-size:100%; background-color:#98b6c1; background-position:5px 3px; background-repeat:no-repeat; background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/application.png); text-decoration:none; text-align:left; display:block; border:none; text-shadow:1px 1px 1px rgba(0,0,0,.2);}
.up #portalNavigation .portal-flyout-container .portal-subnav-list .edit a.portal-subnav-link {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/layout_content.png);}
.up #portalNavigation .portal-flyout-container .portal-subnav-list .delete a.portal-subnav-link {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/cross.png);}
.up #portalNavigation .portal-flyout-container .portal-subnav-list .move-left a.portal-subnav-link {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/arrow_left.png);}
.up #portalNavigation .portal-flyout-container .portal-subnav-list .move-right a.portal-subnav-link {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/arrow_right.png);}
.up #portalNavigation .portal-flyout-container .portal-subnav-list .permissions a.portal-subnav-link {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/key.png);}
.up #portalNavigation .portal-flyout-container .portal-subnav-list .portal-subnav a.portal-subnav-link:hover,
.up #portalNavigation .portal-flyout-container .portal-subnav-list .portal-subnav a.portal-subnav-link:focus {color:#fff !important; background-color:#5a95cf;}

/* Body */
.up .sidebar-left-100 #portalPageBodyTitleRow,
.up .sidebar-left-150 #portalPageBodyTitleRow,
.up .sidebar-left-200 #portalPageBodyTitleRow,
.up .sidebar-left-250 #portalPageBodyTitleRow,
.up .sidebar-left-300 #portalPageBodyTitleRow {background:transparent url(images/page_corner_topleft.png) top left no-repeat;}
.up .sidebar-right-100 #portalPageBodyTitleRow,
.up .sidebar-right-150 #portalPageBodyTitleRow,
.up .sidebar-right-200 #portalPageBodyTitleRow,
.up .sidebar-right-250 #portalPageBodyTitleRow,
.up .sidebar-right-300 #portalPageBodyTitleRow {background:transparent url(images/page_corner_topright.png) top right no-repeat;}
.up #portalPageBodyTitleRow {padding-top:2em;}
.up #portalPageBodyTitleRow h1 {/*padding:0.2em 0 0.2em 0.5em; color:#333; font-size:200%; border:none;*/ display:none;}
/* Focused */
.up #portalPageBodyBreadcrumb {/*font-size:90%; color:#ddd;*/ display:none;}
.up #portalPageBodyBreadcrumb a {font-weight:normal;}

/* Columns */
.up #portalPageBodyColumns.fl-col-flex,
.up .layout-1-columns .portal-page-column.fl-col-flex {padding:0;} /* Removes default padding from FSS  */

/* Sidebar */
.up #portalSidebar {background:#336699 url(../common/images/rounded_corner_bottomleft.png) bottom left no-repeat;}
.up #portalSidebarInner {background:transparent url(../common/images/rounded_corner_bottomright.png) bottom right no-repeat;}
/* Sidebar Widgets */
.up #portalSidebar .fl-widget {padding:7px; font-size:85%; background:transparent url(../common/images/light_top_100px_30.png) 0 0 repeat-x; border:1px solid #ACC9E6;}
.up #portalSidebar .fl-widget .fl-widget-titlebar {margin:0;}
.up #portalSidebar .fl-widget .fl-widget-titlebar h2 {color:#eee; font-size:1em; font-weight:bold; border:none;}
.up #portalSidebar .fl-widget-content,
.up #portalSidebar .fl-widget .fl-listmenu {background-color:#336699;}
.up #portalSidebar .fl-widget .fl-listmenu {border-width:0px; border-bottom-width:1px;}
.up #portalSidebar .fl-widget .fl-listmenu a {padding-left:28px; background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/application.png); background-position:0.5em 0.5em; background-repeat:no-repeat;}
.up #portalSidebar .fl-widget .fl-listmenu li,
.up #portalSidebar .fl-widget .fl-listmenu li a {background-color:#336699 !important; color:#ACC9E6 !important;}
.up #portalSidebar .fl-widget .fl-listmenu li:hover,
.up #portalSidebar .fl-widget .fl-listmenu li:focus,
.up #portalSidebar .fl-widget .fl-listmenu li a:hover,
.up #portalSidebar .fl-widget .fl-listmenu li a:focus {color:#fff !important; background-color:#5a95cf !important; outline:none;}

/* Login */
.up #portalLogin {}
.up #portalLogin .fl-widget-content {padding:1em;}
.up #portalLogin #portalLoginButton,
.up #portalLogin #portalCASLoginLink {display:block; padding:0.5em 1em; text-decoration:none; text-align:center; font-weight:bold; color:#fff !important; background-color:#FF6600; background-image:none; border-top:1px solid #FFCA95; border-left:1px solid #FFCA95; border-bottom:1px solid #884400; border-right:1px solid #884400;}
.up #portalLogin #portalLoginButton:hover,
.up #portalLogin #portalCASLoginLink:hover {background-color:#FF3300; cursor:pointer;}
.up #portalLogin #portalLoginButton {padding:0.3em 1em;}
.up .via-cas {color:#FFCC66;}
.up #portalLogin p {margin:1em 0 0 0;}
.up #portalLogin #portalLoginForgot,
.up #portalLogin #portalLoginErrorForgot {font-weight:normal;}
.up #portalLogin a#portalLoginErrorForgot {color:#FF6600;}
.up #portalLogin a#portalLoginErrorForgot:hover {color:#000;}

/* Customization Links */
.up #portalCustomizationLinks #portalCustomizationLinksAddContent a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/application_add.png);}
.up #portalCustomizationLinks #portalCustomizationLinksChangeLayout a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/layout_content.png);}
.up #portalCustomizationLinks #portalCustomizationLinksChooseSkin a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/color_swatch.png);}
.up #portalCustomizationLinks #portalCustomizationLinksAddTab a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/tab_add.png);}

/* Administration Links */
.up #portalAdminLinks #portalAdminLinksPortletAdmin a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/application_cascade.png);}
.up #portalAdminLinks #portalAdminLinksCustomize a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/overlays.png);}

/* Portlet Navigation (focused view) */
.up #portletNavigation #portletNavigationLinkHome a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/tab_go.png);}
.up #portletNavigation h3 {color:#fff;}

/* Fragment Administration */
.up #portalFragAdminExit {margin:0; background:#ffffcc; border:none; border-bottom:1px solid #ff6600; -moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px;}
.up #portalFragAdminExit h2 {color:#ff6600; font-size:150%;}
.up #portalFragAdminExit .fl-widget-content {background:#ffffcc;}
.up #portalFragAdminExit #exitFragment {font-weight:bold; color:#fff; background-color:#FF6600; background-image:none; border-top:1px solid #FFCA95; border-left:1px solid #FFCA95; border-bottom:1px solid #884400; border-right:1px solid #884400;}
.up #portalFragAdminExit #exitFragment:hover {background-color:#FF3300 !important; cursor:pointer;}
.up .column-permissions {margin-bottom:0.5em;}
.up .column-permissions a {text-decoration:none; display:block; padding:0.2em 0.5em; border-top:1px dotted #ccc; border-bottom:1px dotted #ccc;}
.up .column-permissions a .icon {display:inline-block; height:16px; width:16px; padding:0; background:transparent url(images/portlet_icons_flat.png) no-repeat -96px 0;}
.up .column-permissions a:hover,
.up .column-permissions a:focus {border-top:1px solid #369; border-bottom:1px solid #369;}
.up .column-permissions a:hover .icon,
.up .column-permissions a:focus .icon {background-position:-96px -16px;}

/* Portlets */
/* The styling here is for the portlet container or "chrome" that uPortal renders.  CSS that directly styles portlet content is specified in portlet.css. */
.up .up-portlet-wrapper-top,
.up .up-portlet-wrapper-bottom {display:none;}
.up .up-portlet-titlebar  {white-space:nowrap;}
.up .up-portlet-titlebar h2 {padding-left:0.5em; font-size:100%; text-transform:uppercase;}
.up .up-portlet-titlebar h2 a {color:#808080 !important; text-decoration:none;}
.up .up-portlet-controls {top:2px; padding-right:0.5em;}
.up .up-portlet-controls .up-portlet-control {display:block; float:left; height:16px; width:16px; padding:0; font-size:90%; background:transparent url(images/portlet_icons_flat.png) no-repeat 0 0;}
.up .up-portlet-controls .focus:hover,
.up .up-portlet-controls .focus:focus {background-position:0 -16px;}
.up .up-portlet-controls .edit {background-position:-16px 0;}
.up .up-portlet-controls .edit:hover,
.up .up-portlet-controls .edit:focus {background-position:-16px -16px;}
.up .up-portlet-controls .info {background-position:-32px 0;}
.up .up-portlet-controls .info:hover,
.up .up-portlet-controls .info:focus {background-position:-32px -16px;}
.up .up-portlet-controls .help {background-position:-48px 0;}
.up .up-portlet-controls .help:hover,
.up .up-portlet-controls .help:focus {background-position:-48px -16px;}
.up .up-portlet-controls .remove {background-position:-64px 0;}
.up .up-portlet-controls .remove:hover,
.up .up-portlet-controls .remove:focus {background-position:-64px -16px;}
.up .up-portlet-controls .add {background-position:-80px 0;}
.up .up-portlet-controls .add:hover,
.up .up-portlet-controls .add:focus {background-position:-80px -16px;}
.up .up-portlet-controls .permissions {background-position:-96px 0;}
.up .up-portlet-controls .permissions:hover,
.up .up-portlet-controls .permissions:focus {background-position:-96px -16px;}
.up .up-portlet-controls .up-portlet-control span {display:none;}
.up .up-portlet-content-wrapper {border:1px solid #ccc;}
/* No Chrome */
.up .no-chrome .up-portlet-content-wrapper {padding:1em; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;}
/* Alternate */
.up .dashboard .alternate {border-color:#98b6c1; background:#98b6c1 url(../common/images/light_top_100px_flat.png) repeat-x 0 0;}
.up .dashboard .alternate .up-portlet-titlebar h2 a {color:#333 !important;}
/* Highlight */
.up .dashboard .highlight {border-color:#FF6600; background:#FF6600 url(../common/images/light_top_100px_flat.png) repeat-x 0 0;}
.up .dashboard .highlight .up-portlet-titlebar a {color:#fff !important;}
/* Locked Portlet */
.up .dashboard .locked {background:#e5e5e5;}
.up .dashboard .locked .up-portlet-titlebar {padding:0.2em 0.5em; background:#e5e5e5; border:1px solid #ccc;}
.up .dashboard .locked .up-portlet-content-wrapper {border:none; padding:0;}
/* Focused
.up .focused .up-portlet-wrapper { padding:0; border:none; background:#fff;}
.up .focused .up-portlet-titlebar h2 {font-size:300%;}
.up .focused .up-portlet-titlebar h2 a {color:#333 !important; text-decoration:none;} */
.up .focused .up-portlet-controls .up-portlet-control {height:auto; width:auto; padding-left:18px; margin-left:1.5em;}
.up .focused .up-portlet-controls .up-portlet-control span {display:inline;}
.up .focused .up-portlet-controls .return {background:transparent url(images/portlet_icon_return_flat.png) no-repeat 0 0;}
.up .focused .up-portlet-controls .return:hover {background-position:0 -16px;}

/* Footer */
.up #portalPageFooter {text-align:center; color:#999;}
.up #portalPageFooterInner {border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.up #portalPageFooter #portalProductAndVersion,
.up #portalPageFooter #portalCopyright,
.up #portalPageFooter #silkIconsAttribution {font-size:80%;}
.up #portalPageFooter #portalProductAndVersion a,
.up #portalPageFooter #portalCopyright a,
.up #portalPageFooter #silkIconsAttribution a {color:#999 !important;}
.up #portalPageFooter #portalProductAndVersion a:hover,
.up #portalPageFooter #portalCopyright a:hover,
.up #portalPageFooter #silkIconsAttribution a:hover {color:#5a95cf !important;}

/* Fluid Layout Customizer (drag and drop) */
.up .fl-reorderer-movable-hover {cursor:move;}
.up .fl-reorderer-movable-dragging-mouse {display:none;}
.up .fl-reorderer-movable-dragging {filter:alpha(opacity=50); opacity:.5;}
.up .fl-reorderer-movable-selected {outline: 1px solid #f68922;}
.up .fl-reorderer-avatar {background-color:#fff; border:1px dotted #999; width:auto; filter:alpha(opacity=60); opacity:.6;}
.up .fl-reorderer-dropMarker {height:200px !important; background-color:#D1F0E0; border:1px dashed #009900; margin-bottom:1em;}
.up .drop-warning {position:absolute; top:50px; left:10px; border:2px solid red; background-color:#ffd7d7; display:none; padding:10px; margin:5px; z-index:65535;}
.up .drop-warning p {margin:0em; padding:0.5em 1em;}

/* Focus */
.up :focus{outline:1px dotted #f68922;}
.up .fl-reorderer-movable-selected:focus,
.up .fl-reorderer-movable-dragging:focus {outline:2px solid #f68922;}

.fragment-disabled, .fragment-disabled h2.fragment-title {color:#666;}