/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* uPORTAL PORTLET STYLE CSS
 * These declarations are scoped for portlet content specifically.
 * These declarations may be scoped for all portlets and/or for a specific portlet.
 * These declarations may override the portal-scoped css (see "portal.css" in the same directory).
 * These declarations are for visual styling only, not for layout.
 * For portlet-specifc layout CSS, see "layout-portlet.css" in the universality/common/css directory.
 * This CSS assumes the use of a CSS reset (by default the FSS "fss-reset.css") for browser normalization.
 */
 
/* uPORTAL DEVELOPMENT STANDARDS AND GUIDELINES
 * For the standards and guidelines that govern the user interface of uPortal portlets including HTML, CSS, JavaScript, accessibilty, naming conventions, 3rd Party libraries (like jQuery and the Fluid Skinning System) and more, refer to:
 * http://www.ja-sig.org/wiki/x/cQ
 */

/* ICONS
 * This CSS uses the Silk icon set 1.3 by Mark James:
 * http://www.famfamfam.com/lab/icons/silk/
 * which is licensed under a Creative Commons Attribution 2.5 License:
 * http://creativecommons.org/licenses/by/2.5/
 * This icon set is free for use under the CCA 2.5 license, so long as there is a link back to the author's site.  This reference is present in the portal footer markup of the universality theme.
 */


/*====================================*/
/* Fluid Skinning System Extensions */
/*====================================*/
/* Overrides and extenstions to FSS specific to portlets. */

/* Helper: Widget */
/* 
 * The FSS fl-widget structure should be applied to portlets.
 * However, the fl-widget structure can be used for more than portlets.
 * These classes specify how the fl-widget classes style a portlet.
 * Use: .fl-widget.portlet
 */
.fl-widget.portlet {background:transparent; border:none;}
.fl-widget-content.portlet-content {padding:0 0.1em;}


/*====================================*/
/* uPortal Portlet Extensions */
/*====================================*/
/* uPortal-specific additions, extensions, and overrides. */

/* Portlet */
/* 
 * Portlet is a structural element, the root portlet div and namespace.
 * Portlet contains 
 * Portlets are mapped to the WAI-ARIA role "section";
 * "A renderable structural containment unit in a document or application."
 * Refer to: http://www.w3.org/TR/wai-aria/roles#section
 * Additional classes on the root div include:
 * the FSS structural class ("fl-widget")
 * the specific portlet class (e.g., "prm-mgr" for Permissions Manager portlet)
 * and the current portlet view class (e.g., "view-detail" for the Detail view).
 * For example: <div class="fl-widget portlet prm-mgr view-detail" role="section">
 */
.portlet {}


/* Decorators */
/* 
 * Global decorators that can be applied broadly.
 * For example, add the "highlight" class to give a piece of content visual importance.
 */
.portlet .highlight {background-color:#F5FFFA; border-color:#ff0000; color:#000;}


/* Views */
/* 
 * Lists different views of the portlet as tabbed navigation.
 * View navigation is the top-most content (sits above the Titlebar).
 * View navigation is mapped to the WAI-ARIA role "tablist";
 * "A list of tab elements, which are references to tabpanel elements"
 * Refer to: http://www.w3.org/TR/wai-aria/roles#tablist
 * Uses FSS fl-tabs for base structure and formatting.
 * Active view (selected tab) contents are contained in the fl-tab-content div
 * and mapped to the WAI-ARIA role "tabpanel".
 */
.portlet .portlet-views {}
.portlet .portlet-views > .tabs {}
.portlet .portlet-views > .content {border:1px solid #4070A1; border-top:none;}


/* Titlebar */
/* 
 * The portlet view "header" which minimally includes the view title.
 * Titlebar maps to the WAI-ARIA role "sectionhead";
 * "A structure that labels or summarizes the topic of its related section."
 * Refer to: http://www.w3.org/TR/wai-aria/roles#sectionhead
 * Titlebar may also contain:
 * Subtitle, breadcrumb, options, actions, tags, details or toolbar.
 * Subtitle is a secondary descriptor of the title, sits just below the title.
 * Breadcrumb is a navigation marker and trail, sits on top of the title.
 * Actions are primary actions directly associated with the title, displayed as links/s on the same line as the title.
 * Tags is a list of tags applied to the portlet/view.
 * Details is a metadata area; not the main content of the view, but supporting information of the title.
 */
.portlet .titlebar {}
.portlet .titlebar .breadcrumb {font-size:10px; color:#ccc;}
.portlet .titlebar .breadcrumb .separator {font-size:90%;}
.portlet .titlebar .breadcrumb a {color:#bbb !important; font-weight:normal; text-decoration:none !important;}
.portlet .titlebar .breadcrumb a:hover,
.portlet .titlebar .breadcrumb a:focus {color:#999 !important; text-decoration:underline !important;}
.portlet .titlebar .actions li {border:none;}
.portlet .titlebar .return-link {font-weight:bold; text-decoration:none !important;}
.portlet .titlebar .toolbar {background:#e2e8e7; border-top:1px solid #ccc;}
.portlet .titlebar .details {font-size:85%;}
.portlet .titlebar .details .sysid .name {font-family:"Courier New", Courier, monospace;}
.portlet .titlebar .details a {font-weight:normal;}
.portlet .portlet-titlebar {}
.portlet .portlet-titlebar > .title {font-size:150%; border-bottom:1px solid #ccc; color:#369;}
.portlet .portlet-titlebar > .subtitle {font-size:120%; border-top:2px solid #ccc; color:#777;}
.portlet .portlet-titlebar > .options {border-top:1px solid #ccc;}


/* Tags */
/*
 * A taxonomy of terms applied to the content, displayed as a horizontal list of links.
 */
.portlet .titlebar .tags {font-size:11px;}
.portlet .titlebar .tags .label {font-size:100%;}
.portlet .titlebar .tags a {font-weight:normal;}


/* Content */
/* 
 * The main content area of the portlet view.
 * Content maps to the WAI-ARIA role "main";
 * "The main content of a document."
 * Refer to: http://www.w3.org/TR/wai-aria/roles#main
 */
.portlet .portlet-content {}


/* Messages */
/* 
 * Dynamic system messages to tell people that an (otherwise invisible, backend) event occurred.
 * Messages can be of these types: status, info, error, alert, success.
 * Change the base CSS class for the appropriate type of message.
 * Use an appropriate WAI-ARIA role (either "status" or "alert") on the HTML element to describe the message.
 * Refer to: http://www.w3.org/TR/wai-aria/roles#status
 * Use an h3 for the message title, and a paragraph for the message text.
 * Messages communicate a system event, but should be written so that a _person_ can understand it. Use plain, people-oriented language. 
 */
.portlet .portlet-msg {border:2px solid #FFFF00; color:#666; background:#FFFFCC url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/bell.png) 0.5em 0.3em no-repeat;}
.portlet .portlet-msg .title {}
.portlet .portlet-msg .content {}
.portlet .portlet-msg.status {}
.portlet .portlet-msg.info {color:#000; background:#99ccff url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/information.png) 0.5em 0.3em no-repeat; border-color:#3399ff;}
.portlet .portlet-msg.error {color:#f00; background:#ffeeee url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/exclamation.png) 0.5em 0.3em no-repeat; border-color:#cc0000;}
.portlet .portlet-msg.alert {color:#000; background:#FFCC66 url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/error.png) 0.5em 0.3em no-repeat; border-color:#FF6600;}
.portlet .portlet-msg.success {color:#000; background:#D1F0E0 url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/tick.png) 0.5em 0.3em no-repeat; border-color:#009900;}


/* Notes */
/* 
 * Optional. These notes help people know what to do in the active portlet view.
 * Notes may also be used in Sections (below)
 * Maps to the WAI-ARIA role "note";
 * "A section whose content is parenthetic or ancillary to the main content of the resource."
 * Refer to: http://www.w3.org/TR/wai-aria/roles#note
 */
.portlet .portlet-content .note {}


/* Sections */
/* 
 * A portlet-section is a structural element.
 * Sections are mapped to the WAI-ARIA role "region";
 * "A large perceivable section of a web page or document, 
 * that the author feels should be included in a summary of page features."
 * Refer to: http://www.w3.org/TR/wai-aria/roles#region
 * A section has a Titlebar (with Options), and Content.
 */
.portlet .portlet-section {}
.portlet .portlet-section > .titlebar .title {border-bottom:0.1em solid #ddd;}
.portlet .portlet-section > .titlebar .options {background-color:#fff; font-size:85%;}
.portlet .portlet-section > .titlebar .options a {text-decoration:none; color:#666; border-bottom:1px solid #ddd;}
.portlet .portlet-section > .titlebar .options a:hover,
.portlet .portlet-section > .titlebar .options a:focus {text-decoration:none; background-color:#dfefff; color:#000;}
.portlet .portlet-section > .content {}
.portlet .portlet-section > .content > .note {}


/* Section Titles */
/*
 * Unique treatment for specific section titles.
 */
.portlet .title.selections,
.portlet .title.search,
.portlet .title.browse {background:transparent url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/accept.png) 0 0 no-repeat; color:#000; font-size:120%}
.portlet .title.selections {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/accept.png);}
.portlet .title.search {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/magnifier.png);}
.portlet .title.browse {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/chart_organisation.png);}


/* 2 Panel */
/*
 * Two side-by-side, colored panels.  
 */
.portlet .portlet-2panel {border:2px solid #336699;}
.portlet .portlet-2panel .portlet-panel-left {background-color:#e2e8e7;}
.portlet .portlet-2panel .portlet-panel-right {background-color:#fff;}


/* Tables */
/*
 * Tables are meant to display data. Avoid using tables for layout.
 * For a nicely formatted table to display data, add the "portlet-table" class to your table.
 * If you must use a table for layout, add the "purpose-layout" class to the table.
 * The purpose-layout class will remove all padding, borders, and colors on the table.
 * There is still a lot of portlets and content pulled into the portal that uses tables for layout 
 * (and has no concept of the purpose-layout class), therefore the default display for tables is no borders.
 */
.up table,
.up table th,
.up table td {border:none !important;} 
.portlet table.portlet-table,
.portlet table.portlet-table th,
.portlet table.portlet-table td {border-style:solid !important; border-width:1px !important; border-color:#ccc !important; border-collapse:collapse !important;}
.portlet table.portlet-table {border-width:2px !important; border-color:#999 !important;}
.portlet table.portlet-table th,
.portlet table.portlet-table td {border-color:#ccc !important;}
.portlet table.portlet-table th {background-color:#E2E8E7 !important; color:#333; font-size:85%; padding:1px 1em; text-align:left;}
.portlet table.portlet-table th a {color:#333 !important; padding-right:16px; background:transparent url(images/sort.png) 0 0 no-repeat;}
.portlet table.portlet-table td {padding:5px 1em;}
.portlet table.portlet-table th:hover,
.portlet table.portlet-table th:focus {background-color:#336699 !important; color:#fff !important;}
.portlet table.portlet-table th:hover a
.portlet table.portlet-table th:focus a {color:#fff !important;}
.portlet table.portlet-table tbody tr:hover,
.portlet table.portlet-table tbody tr:focus {background-color:#FFE4B5;}
.portlet table.portlet-table tbody tr:hover td,
.portlet table.portlet-table tbody tr:focus td { border-bottom-color:#FFA500 !important;}
.portlet table.portlet-table td:hover,
.portlet table.portlet-table td:focus {background-color:#F4A460;}
.portlet table.portlet-table tbody tr:hover a,
.portlet table.portlet-table tbody tr:focus a {color:#FFA500 !important;}
.portlet table.portlet-table tbody tr:hover td:hover a,
.portlet table.portlet-table tbody tr:focus td:focus a,
.portlet table.portlet-table tbody tr:hover td:hover a:hover,
.portlet table.portlet-table tbody tr:focus td:focus a:focus {color:#fff !important;}
.portlet table.purpose-layout,
.portlet table.purpose-layout th,
.portlet table.purpose-layout td {border:none !important; background:none !important; background-color:transparent !important;}


/* Forms */
/*
 * Some universal form element styles are declared in portal.css.
 * Use the "portlet-form" class on a wrapper element of a form to produce a nicely formatted, boxed form.
 * If using a table with the form, do not use the "portlet-table" class on the table,
 * But do add the class "label" to the first td in each row that contains the label.
 * Form buttons should use the Buttons classes (see next section).
 */
.portlet .portlet-form {background-color:#eee; border:1px solid #ccc;}
.portlet .portlet-form form fieldset {border:1px solid #ccc;}
.portlet .portlet-form form legend {font-size:85%; color:#ccc;}
.portlet .portlet-form form .buttons {border:none;}


/* Buttons */
/*
 * Gives links and form buttons a consistent button look.
 * Most of the universal button styling is declared in portal.css. 
 * Add the "button" class to the element you want to be styled as a button.
 * If multiple buttons, add the "buttons" class to the wrapping element.
 * If multiple buttons, add the "primary" class to the element that is the default action (e.g., class="button primary").
 */
.portlet button, 
.portlet .button,
.portlet form input[type="submit"] {border-width:1px; border-style:solid; border-color:#000; background:#336699 url(../common/images/button_bkd.png) top left repeat-x; color:#fff; font-size:11px; font-weight:bold; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; text-transform:capitalize; text-shadow:0 1px 1px rgba(255,255,255,.85); -webkit-box-shadow:0 1px 2px rgba(0,0,0,.5); -moz-box-shadow:0 1px 2px rgba(0,0,0,.5); box-shadow:0 1px 2px rgba(0,0,0,.5);}
.portlet a.button {color:#fff !important;  text-decoration:none !important;}
.portlet .buttons {border-top:0.2em solid #ccc;}
.portlet .buttons .button {background-color:#F0F0F0; border-color:#000; color:#000;}
.portlet .buttons .button.primary {background-color:#336699; color:#fff;}
.portlet .buttons a.button {color:#000 !important;}
.portlet .buttons a.button.primary {color:#fff !important;}
.portlet .button:hover,
.portlet .button:focus,
.portlet form input[type="submit"]:hover,
.portlet form input[type="submit"]:focus {background-color:#5a95cf !important; /*background-color:#7a9e0d;*/}
.portlet .button:hover,
.portlet .button:focus,
.portlet a.button:hover,
.portlet a.button:focus,
.portlet form input[type="submit"]:hover,
.portlet form input[type="submit"]:focus {color:#fff !important;}
.portlet form input[type="submit"]:hover,
.portlet form input[type="submit"]:focus {cursor:pointer;}
.portlet .titlebar .toolbar .button,
.portlet .titlebar .toolbar a.button {border-color:#ccc; background-color:#e2e8e7; color:#555;}
.portlet .titlebar .toolbar .button:hover,
.portlet .titlebar .toolbar .button:focus,
.portlet .titlebar .toolbar a.button:hover,
.portlet .titlebar .toolbar a.button:focus {border-color:#000; background-color:#7a9e0d !important;}


/* Overflow box */
/*
 *
 */
.portlet .fl-overflow {border:2px solid #dfdfdf;}
.portlet .fl-overflow li {background:#fff;}
.portlet .fl-overflow li:hover,
.portlet .fl-overflow li:focus {background:#b2b4bf;}
.portlet .fl-overflow li a,
.portlet .fl-overflow li a:active,
.portlet .fl-overflow li a:visited,
.portlet .fl-overflow li a:hover,
.portlet .fl-overflow li a:focus {color:#000; text-decoration:none;}
.portlet .fl-overflow li.portal-section-subheader {font-weight:bold;}


/* Pager */
/*
 * Formats pagination controls.
 * Assumes the Fluid Infusion pager component.
 */
.fl-pager th a {color:#3d80b3; text-decoration:none;}
.fl-pager th a:hover,
.fl-pager th a:focus {color:#2694e8; text-decoration:none;}
.flc-pager-links a {color:#666666; text-decoration:none;}
.flc-pager-links a:hover,
.flc-pager-links a:focus {color:#333333;}


/* Selection Basket */
/*
 * A box showing the items a user has selected.
 */
.portlet .selection-basket {border:1px solid #4070A1;}
.portlet .selection-basket a {background:transparent url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/tick.png) 0 50% no-repeat; color:#009900;}
.portlet .selection-basket a:hover,
.portlet .selection-basket a:focus {background-color:#FFFFCC; color:#336699; background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/delete.png)}


/* Hierarchy Browser */
/*
 * A "folder-view" browser of hierarchy.
 */
.portlet .browse-hierarchy {}
.portlet .browse-hierarchy > .content {border:1px solid #ccc;}
.portlet .browse-hierarchy .entity {}
.portlet .browse-hierarchy .entity > .titlebar {border-bottom:2px solid #ccc; background-color:#e7e7e7;}
.portlet .browse-hierarchy .entity > .titlebar .title {font-size:150%; font-weight:normal;}
.portlet .browse-hierarchy .entity > .titlebar.selected {background-color:#D1F0E0;}
.portlet .browse-hierarchy .entity > .titlebar.selected .title {background:transparent url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/tick.png) 10px 50% no-repeat; color:#009900;}
.portlet .browse-hierarchy .entity .breadcrumb {font-size:85%;}
.portlet .browse-hierarchy .entity .breadcrumb span {color:#999;}
.portlet .browse-hierarchy .entity .breadcrumb a {font-weight:normal; color:#666 !important; text-decoration:none !important;}
.portlet .browse-hierarchy .entity .breadcrumb a:hover,
.portlet .browse-hierarchy .entity .breadcrumb a:focus {color:#000 !important; text-decoration:underline !important;}
.portlet .browse-hierarchy .entity .member-list a {background-position:0 50%; background-repeat:no-repeat;}
.portlet .browse-hierarchy .entity .group .member-list a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/folder.png)}
.portlet .browse-hierarchy .entity .person .member-list a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/vcard.png)}
.portlet .browse-hierarchy .entity .category .member-list a {background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/tag_orange.png)}
.portlet .browse-hierarchy .entity .member-list a:hover,
.portlet .browse-hierarchy .entity .member-list a:focus {background-color:#FFFFCC; color:#336699;}



/*====================================*/
/* Specific Portlets */
/*====================================*/
/* Style definitions for structures and elements unique to a specific portlet. */

/* Groups Manager Channel */
.portlet .groupmgr-two-pane {border:2px solid #336699;}
.portlet .groupmgr-left-pane {padding:1em; background-color:#e2e8e7;}
.portlet .groupmgr-right-pane {padding:1em 2em; background-color:#fff;}

/* CSyndFeed Channel - RSS */
.portlet .news-source p {border-bottom:1px solid #ccc;}
.portlet .news-item-title {}
.portlet .news-item-excerpt {font-size:85%; color:#666;}

/* Groups Manager Channel */
.groupmgr-entity,
.groupmgr-group {border-bottom:1px solid #ccc;}
.groupmgr-group .uportal-channel-table-row-even {background-color:transparent;}
.groupmgr-entity strong {color:#666;}
.groupmgr-entity table {border:1px solid #ccc;}
.groupmgr-entity table th {border:1px solid #ccc; background-color:#eee; color:#666; font-size:85%;}
.groupmgr-entity table td {border:1px solid #ccc;}
.groupmgr-tree-hierarchy-line {background:transparent url(../../../icons/tree_bullet.png) top left repeat-y;}
.groupmgr-hide-info {text-decoration:none;}

/* Cache Manager Portlet */
.cache-manager .cache-member a {font-weight: normal; }
.cache-manager .cache-member .cache-name a {padding:0.2em 0 0.2em 20px; background-position:0 50%; background-repeat:no-repeat; background-image:url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/drive.png)}
.cache-manager .cache-member:hover,
.cache-manager .cache-member:focus {background-color:#FFFFCC; color:#336699;}

/* Portlet Manager */
.override-preference td {color:graytext; text-decoration:line-through;}