/* This CSS is called from the theme (xhtml-theme.xsl) and then imports other CSS files.  With this setup, you can add your own CSS files to the import list and not have to alter the markup or XSL.  If you add additional CSS files to be imported, be sure to add them to the bottom of the list, which will ensure that your added CSS will override the defaults. */

@import url("print.css");
@import url("layout.css");
@import url("uportal3_base.css");
@import url("uportal3_ie6override.css");
@import url("jsr168_portlet_spec.css");
/* @import url("my.css"); Add your CSS files here. */