//====================================
// Skin Colors
//====================================
// Skin-specific color palette overrides.

// Main text color.
$skinTextColor		: rgba(0,0,0,1); // translates to #000.

// Page background color.
$skinBackgroundColor: rgba(0,0,0,1); // translates to #000.

// Grayscale (medium value) base color.
$skinGrayColor		: rgba(169, 169, 169, 1); // translates to #999.

// Grayscale (dark hue) base color.
$skinDarkGrayColor	: rgba(51, 51, 51, 1); // translates to #333.

// Primary color, c1 - generally expects to be a medium value.
$skinColor1			: rgba(64, 64, 64, 1);


// Secondary color, c2 - generally expects to be a darker value.
$skinColor2			: rgba(41, 27, 27, 1);


// Tertiary color, c3 - generally expects to be a medium or lighter value.
$skinColor3			: rgba(110, 42, 23, 1);


// Highlight color, c4 - generally expects to be a lighter value with brighter saturation.
$skinColor4			: rgba(235, 155, 0, 1);


// Secondary Highlight color, c5 - generally expects to be a lighter value with brighter saturation.
$skinColor5			: rgba(163, 84, 20, 1);