//====================================
// Skin Config
//====================================
// Configure these settings to make both broad and fine adjustments to the skin.
// If there isn't a configuration here you need, make an override in "_skin-overrides.scss".
//
// For colors, the main color palette is in "_skin-colors.scss".
// SASS will take the colors defined in the palette and create shade variations for each color.
// For example:
// $c1				: $skinColor1;
// $c1dark			: darken($c1, 10%);
// $c1darker		: darken($c1, 20%);
// $c1darkest		: darken($c1, 30%);
// $c1light			: lighten($c1, 10%);
// $c1lighter		: lighten($c1, 20%);
// $c1lightest		: lighten($c1, 30%);
//
// Use the $cX references in the rest of the color delcarations below to customize which color from the palette + shade variations your skin uses for different areas and components of the portal.
//
// Anywhere there is a background specified, you can expand a simple color variable to include an image with normal css background syntax.
//
// Some things may be turned off by using "false" instead of a variable or css value.


//====================================
// General
//====================================
$fontSize						: 16px; // Use a value to override the reset font size. "false" will keep the reset font size.
$font							: Verdana, sans-serif;
$headingFont					: sans-serif;
$buttonFont						: sans-serif;
$formElementFont				: serif;

//====================================
// Page
//====================================
$portalWidth					: 100%;
$portalMinWidth					: 960px;
$portalPageSideBorder			: 1px solid $black;
$portalBackground				: $white;
$portalGradient1				: false;
$portalGradient2				: false;
$portalPageBackground			: $white;
$portalPageBodyInnerPadding		: 2.5em 25px;


//====================================
// Header
//====================================
$headerBackground				: $c1;
$headerGradient1				: false;
$headerGradient2				: false;
// Logo
$portalLogoPadding				: 1.3em 25px;
$portalFocusedLogoPadding		: 1.5em 0;
// Login (assumes CAS)
$loginPositionTop				: 1.5em;
$loginPositionRight				: 25px;
$loginButtonWidth				: 10em;
// User Welcome
$headerWelcomeTop				: 3em;
$headerWelcomeLeft				: 195px;
$headerWelcome					: $white;
$headerUserName					: $white;
// Portal Bar
$portalBarBackground			: $black;
$portalBarGradient1				: false;
$portalBarGradient2				: false;
$portalBarPadding				: 0.5em 25px;
$portalBarFontSize				: 100%;
$portalBarTextAlign				: right;
$portalBarTextTransform			: uppercase;
$portalBarLink					: $white;
$portalBarLinkHover				: $white;
$portalBarLinkPadding			: 0 5px;
$portalBarPipes					: none;
// Web Search
$webSearchTop					: 4em;
$webSearchRight					: 25px;
$webSearchSelectHide			: true;
$webSearchInput					: $white;
$webSearchInputBorder			: $white;
$webSearchInputText				: $text;
$webSearchInputHover			: $white;
$webSearchInputFocus			: $white;
$webSearchInputBorderFocus		: $c4;
$webSearchInputFocusText		: $text;
$webSearchInputRound			: true;
$webSearchInputRoundTL			: 0.6em;
$webSearchInputRoundTR			: 0;
$webSearchInputRoundBR			: 0;
$webSearchInputRoundBL			: 0.6em;

//====================================
// Navigation
//====================================
$navBackground					: $c2;
$navGradient1					: false;
$navGradient2					: false;
$navTabMargin					: 0 0 0 25px;
// Tabs
$navTabBackground				: $white;
$navTabGradient1				: false;
$navTabGradient2				: false;
$navTabGradient3				: false; // set to "false" for a 2-color gradient
$navTabRound					: false;
$navTabBorderLeft				: none;
$navTabBorderRight				: none;
$navTabPadding					: 8px 20px;
$navTabMarginRight				: 1em;
$navTabLink						: $black;
$navTabWeight					: bold;
$navTabTextShadow				: light;
$navTabHoverBackground			: $black;
$navTabHoverGradient1			: false;
$navTabHoverGradient2			: false;
$navTabHoverGradient3			: false; // set to "false" for a 2-color gradient
$navTabLinkHover				: $white;
$navTabHoverTextShadow			: dark;
// Active Tab
$navTabActiveBackground			: $c4;
$navTabActiveGradient1			: false;
$navTabActiveGradient2			: false;
$navTabActiveGradient3			: false; // set to "false" for a 2-color gradient
$navTabActiveLink				: $white;
$navTabActiveTextShadow			: dark;
$navTabActiveHoverBackground	: $black;
$navTabActiveHoverGradient1		: false;
$navTabActiveHoverGradient2		: false;
$navTabActiveHoverGradient3		: false; // set to "false" for a 2-color gradient
$navTabActiveHoverLink			: $white;
$navTabActiveHoverTextShadow	: dark;
// Add Tab
$navAddTabTopPosition			: 0;
$navAddTabPadding				: 0.3em 1em;
$navAddTabBackground			: $white;
$navAddTabBorder				: none;
$navAddTabRound					: 5px;
$navAddTabLink					: $black;
$navAddTabFontSize				: 100%;
$navAddTabImage					: none;
$navAddTabImagePosition			: 5px 2px;
$navAddTabHover					: $black;
$navAddTabLinkHover				: $white;
// Tab Reorder
$navReorderGripperImage			: transparent url("images/gripper.png") 0px 0px no-repeat;
$navReorderAvatarBackground		: $black;
$navReorderAvatarLink			: $white;
$navReorderAvatarRound			: 5px;
$navReorderAvatarBoxShadow		: 0px, 0px, 4px, $dgray;
// Remove Tab
$navRemoveTabImage				: transparent url("images/remove.png") 0px 0px no-repeat;
// Flyouts
$navFlyoutBackground			: $black;
$navFlyoutGradient1				: false;
$navFlyoutGradient2				: false;
$navFlyoutBorder				: thick solid $black;
$navFlyoutBorderTopWidth		: thick;
$navFlyoutRound					: true;
$navFlyoutRoundTL				: 0;
$navFlyoutRoundTR				: 0;
$navFlyoutRoundBL				: 0.6em;
$navFlyoutRoundBR				: 0.6em;
$navFlyoutBoxShadow				: none;
$navFlyoutLinkBackground		: $white;
$navFlyoutLinkGradient1			: false;
$navFlyoutLinkGradient2			: false;
$navFlyoutLinkBorderTop			: thick solid $black;
$navFlyoutLinkBorderBottom		: false;
$navFlyoutLinkTextSize			: 85%;
$navFlyoutLinkColor				: $black;
$navFlyoutHoverBackground		: $black;
$navFlyoutLinkHoverColor		: $white;
// Portlet Nav
$navPortletHeading				: $white;
$navPortletImage				: transparent url("/ResourceServingWebapp/rs/famfamfam/silk/1.3/tab_go.png") 0px 0px no-repeat;
// Breadcrumb
$breadcrumbText					: $graylighter;
$breadcrumbLink					: $gray;
$breadcrumbFontWeight			: normal;
$breadcrumbLinkHover			: $graydark;

//====================================
// Body
//====================================
$portalPageBackground			: $white;
// Portlet Wrapper
$portletRound					: 12px;
$portletContentRound			: 0 0 10px 10px;
$portletPadding					: 12px;
$portletShadow					: false;
$portletTitlePadding			: 0 0 3px 0.5em;
$portletTitleFontSize			: 150%;
$portletTitleFontWeight			: normal;
$portletTitleTextTransform		: uppercase;
// Portlet Controls
$portletControlsTop				: 0;
$portletControlsPadding			: 1em;
$portletControlsFontSize		: 100%;
$portletControlIconSprite		: none;
$portletControlIconSize			: 0px;
$portletControlLink				: $c1;
$portletControlLinkHover		: $c1darker;
// Portlet Default
$portletBackground				: $black;
$portletGradient1				: false;
$portletGradient2				: false;
$portletTitle					: $white;
$portletTitleShadow				: dark;
$portletTitleHover				: $white;
$portletBorder					: none;
$portletContentBorder			: none;
$portletContentBackground		: $white;
// Portlet Alternate
$portletAltBackground			: $black;
$portletAltGradient1			: false;
$portletAltGradient2			: false;
$portletAltTitle				: $white;
$portletAltTitleShadow			: dark;
$portletAltTitleHover			: $white;
$portletAltBorder				: none;
$portletAltContentBorder		: none;
$portletAltContentBackground	: $white;
// Portlet Highlight
$portletHLBackground			: $c4;
$portletHLGradient1				: false;
$portletHLGradient2				: false;
$portletHLTitle					: $white;
$portletHLTitleShadow			: dark;
$portletHLTitleHover			: $white;
$portletHLBorder				: none;
$portletHLContentBorder			: none;
$portletHLContentBackground		: $white;
// Portlet Locked
$portletLockedBackground		: $black;
$portletLockedGradient1			: false;
$portletLockedGradient2			: false;
$portletLockedTitle				: $white;
$portletLockedTitleShadow		: dark;
$portletLockedTitleHover		: $white;
$portletLockedBorder			: none;
$portletLockedContentBorder		: none;
$portletLockedContentBackground	: $white;
$portletLockedTitleIcon			: none;
// Sidebar
$sidebarPadding					: 0 0 0 15px;
// Sidebar Widget
$sidebarWidgetRound				: 7px;
$sidebarWidgetContentRound		: 5px;
$sidebarWidgetShadow			: false;
$sidebarWidgetBackground		: $black;
$sidebarWidgetGradient1			: false;
$sidebarWidgetGradient2			: false;
$sidebarWidgetTitle				: $white;
$sidebarWidgetTitleWeight		: bold;
$sidebarWidgetTitleSize			: 100%;
$sidebarWidgetTitleTransform	: uppercase;
$sidebarWidgetTitleShadow		: dark;
$sidebarWidgetTitlePadding		: 0;
$sidebarWidgetBorder			: none;
$sidebarWidgetContentBorder		: none;
$sidebarWidgetContentBackground	: $white;
$sidebarWidgetContentText		: $black;
$sidebarWidgetContentPadding	: 1em 12px; // For widgets that don't contain listmenus.
// Sidebar Listmenu
$sidebarListBackground			: $black;
$sidebarListBorder				: thick solid $black;
$sidebarLIBackground			: $white;
$sidebarLIBorder				: thick solid $black;
$sidebarLIText					: $black;
$sidebarLIPadding				: 1em;
$sidebarLIBackgroundHover		: $black;
$sidebarLITextHover				: $white;
$sidebarLIActiveBackground		: $c4;
$sidebarLIActiveText			: $white;
$sidebarLIActiveBackgroundHover	: $black;
$sidebarLIActiveTextHover		: $white;


//====================================
// Footer
//====================================
$footerBackground				: $black;
$footerText						: $white;
$footerLink						: $white;
$footerLinkDecoration			: none;
$footerLinkHover				: $white;
$footerInnerWidth				: 620px;
$footerInnerPadding				: 25px;
$footerFontSize					: 100%;
$footerInnerBackground			: transparent url("images/portal_poweredby.png") 25px 65px no-repeat;
$footerLinkListMargin			: 0 0 2em 0;
$footerLinkListFontWeight		: bold;
$footerLinkListColor			: $white;
$footerLinkListHoverColor		: $white;
$footerEtcMargin				: 0 0 0 120px;

//====================================
// Buttons
//====================================
// Global Buttons
$buttonPadding					: 0.3em 15px 0.4em 15px;
$buttonBorderWidth				: thick;
$buttonBorderStyle				: solid;
$buttonFontWeight				: bold;
$buttonFontSize					: 18px;
$buttonTextAlign				: center;
$buttonTextTransform			: capitalize;
$buttonRound					: 0.6em;
$buttonShadow					: false; // drop shadow
// Default Button
$buttonBorder					: $black;
$buttonBackground				: $black;
$buttonText						: $white;
$buttonTextShadow				: dark;
$buttonGradient1				: false;
$buttonGradient2				: false;
$buttonHoverBorder				: $c4;
$buttonHoverBackground			: $c4;
$buttonHoverText				: $white;
$buttonHoverTextShadow			: dark;
$buttonHoverGradient1			: false;
$buttonHoverGradient2			: false;
$buttonDownBorder				: $c4;
$buttonDownBackground			: $c4;
$buttonDownText					: $white;
$buttonDownTextShadow			: dark;
$buttonDownGradient1			: false;
$buttonDownGradient2			: false;
// Dark Button
$darkButtonBorder				: $black;
$darkButtonBackground			: $black;
$darkButtonText					: $white;
$darkButtonTextShadow			: dark;
$darkButtonGradient1			: false;
$darkButtonGradient2			: false;
$darkButtonHoverBorder			: $c4;
$darkButtonHoverBackground		: $c4;
$darkButtonHoverText			: $white;
$darkButtonHoverTextShadow		: dark;
$darkButtonHoverGradient1		: false;
$darkButtonHoverGradient2		: false;
$darkButtonDownBorder			: $c4;
$darkButtonDownBackground		: $c4;
$darkButtonDownText				: $white;
$darkButtonDownTextShadow		: dark;
$darkButtonDownGradient1		: false;
$darkButtonDownGradient2		: false;
// Light Button
$lightButtonBorder				: $black;
$lightButtonBackground			: $black;
$lightButtonText				: $white;
$lightButtonTextShadow			: dark;
$lightButtonGradient1			: false;
$lightButtonGradient2			: false;
$lightButtonHoverBorder			: $c4;
$lightButtonHoverBackground		: $c4;
$lightButtonHoverText			: $white;
$lightButtonHoverTextShadow		: dark;
$lightButtonHoverGradient1		: false;
$lightButtonHoverGradient2		: false;
$lightButtonDownBorder			: $c4;
$lightButtonDownBackground		: $c4;
$lightButtonDownText			: $white;
$lightButtonDownTextShadow		: dark;
$lightButtonDownGradient1		: false;
$lightButtonDownGradient2		: false;
// Login Button
$loginButtonBorder				: $black;
$loginButtonBackground			: $black;
$loginButtonText				: $white;
$loginButtonTextShadow			: dark;
$loginButtonGradient1			: false;
$loginButtonGradient2			: false;
$loginButtonHoverBorder			: $c4;
$loginButtonHoverBackground		: $c4;
$loginButtonHoverText			: $white;
$loginButtonHoverTextShadow		: dark;
$loginButtonHoverGradient1		: false;
$loginButtonHoverGradient2		: false;
$loginButtonDownBorder			: $c4;
$loginButtonDownBackground		: $c4;
$loginButtonDownText			: $white;
$loginButtonDownTextShadow		: dark;
$loginButtonDownGradient1		: false;
$loginButtonDownGradient2		: false;
// Web Search Button
$websearchButtonPadding			: 0.3em 15px 0.4em 15px;
$websearchButtonBorder			: $white;
$websearchButtonBackground		: $black;
$websearchButtonText			: $white;
$websearchButtonTextShadow		: dark;
$websearchButtonGradient1		: false;
$websearchButtonGradient2		: false;
$websearchButtonHoverBorder		: $c4;
$websearchButtonHoverBackground	: $c4;
$websearchButtonHoverText		: $white;
$websearchButtonHoverTextShadow	: dark;
$websearchButtonHoverGradient1	: false;
$websearchButtonHoverGradient2	: false;
$websearchButtonDownBorder		: $c4;
$websearchButtonDownBackground	: $c4;
$websearchButtonDownText		: $white;
$websearchButtonDownTextShadow	: dark;
$websearchButtonDownGradient1	: false;
$websearchButtonDownGradient2	: false;
// Search Button
$searchButtonBorder				: $black;
$searchButtonBackground			: $black;
$searchButtonText				: $white;
$searchButtonTextShadow			: dark;
$searchButtonGradient1			: false;
$searchButtonGradient2			: false;
$searchButtonHoverBorder		: $c4;
$searchButtonHoverBackground	: $c4;
$searchButtonHoverText			: $white;
$searchButtonHoverTextShadow	: dark;
$searchButtonHoverGradient1		: false;
$searchButtonHoverGradient2		: false;
$searchButtonDownBorder			: $c4;
$searchButtonDownBackground		: $c4;
$searchButtonDownText			: $white;
$searchButtonDownTextShadow		: dark;
$searchButtonDownGradient1		: false;
$searchButtonDownGradient2		: false;
// Utility Button
$utilityButtonBorder			: $black;
$utilityButtonBackground		: $black;
$utilityButtonText				: $white;
$utilityButtonTextShadow		: dark;
$utilityButtonGradient1			: false;
$utilityButtonGradient2			: false;
$utilityButtonHoverBorder		: $c4;
$utilityButtonHoverBackground	: $c4;
$utilityButtonHoverText			: $white;
$utilityButtonHoverTextShadow	: dark;
$utilityButtonHoverGradient1	: false;
$utilityButtonHoverGradient2	: false;
$utilityButtonDownBorder		: $c4;
$utilityButtonDownBackground	: $c4;
$utilityButtonDownText			: $white;
$utilityButtonDownTextShadow	: dark;
$utilityButtonDownGradient1		: false;
$utilityButtonDownGradient2		: false;
// Active (global "on") state.
$activeButtonBorder				: $black;
$activeButtonBackground			: $black;
$activeButtonText				: $white;
$activeButtonTextShadow			: dark;
$activeButtonGradient1			: false;
$activeButtonGradient2			: false;
// Disabled Button
$disabledButtonBorder			: $gray;
$disabledButtonBackground		: $graylighter;
$disabledButtonText				: $gray;

//====================================
// Forms
//====================================
$formElementFontSize			: 16px;
$formElementBorder				: 4px solid $black;
$formElementPadding				: 0.2em 0.4em;
$formElementLineHeight			: 1.4;
$formElementBackground			: $white;
$formElementBoxShadow			: 0 1px 4px rgba(0, 0, 0, 0.2) inset; // subtle inner-shadow
$formElementRound				: 0.6em;
$formSelectPadding				: 0.1em;
$formSelectRound				: 0.2em;
$formElementFocus				: 0px 0px 10px $c4; // box-shadow "glow"

//====================================
// Customization
//====================================
// Gallery
$galleryBackground				: $dgray;
$galleryBorder					: 1px solid $gray;
$galleryHandleBackground		: $black url("../common/images/gallery-bar.png") bottom left repeat-x;
$galleryHandleBorder			: 1px solid $graydark;
$galleryHandleLinkBackround		: $white scroll url("../common/images/gallery-handle.png") 0 0 repeat-x;
$galleryHandleLink				: $text;
$galleryHandleRound				: 3px;
$galleryHandleShadow			: 0 1px 2px $gray;
$galleryHandleIconClosed		: url("../common/images/gallery-handle-arrow-down.png");
$galleryHandleIconOpen			: url("../common/images/gallery-handle-arrow-up.png") !important;
$galleryBarBackground			: transparent url("../common/images/gallery-bar.png") top left repeat-x;
$galleryMenuBackground			: $dgraylight;
$galleryMenuBorder				: 1px solid $graylight;
$galleryMenuItemBackground		: $dgraylighter;
$galleryMenuItemBorder			: 1px solid $graydark;
$galleryMenuItemLink			: $graylight;
$galleryMenuItemBackgroundHover	: $c1darkest;
$galleryMenuItemLinkHover		: $white;
$galleryMenuItemActiveBackground: $dgray;
$galleryMenuItemActiveLink		: $white;
$galleryMenuItemActiveIcon		: $dgray url("../common/images/gallery-arrow-right.png") 90% 50% no-repeat;
$galleryCloseButtonType			: defualt;
$galleryFilterBackground		: $dgraylight;
$galleryFilterBorder			: 1px solid $dgraylightest;
$galleryFilterRound				: 5px;
$galleryFilterTitleRound		: 5px;
$galleryFilterTitleBackground	: $dgray;
$galleryFilterTitle				: $c1dark;
$galleryFilterTitleHover		: $c1light;
$galleryFilterTitleActive		: $white;
$galleryFilterTitleActiveHover	: $c1lightest;
$galleryFilterTitleActiveBgd	: $dgraylight;
$galleryFilterSubtitle			: $graylighter;
$galleryFilterSubtitleLine		: 1px dotted $graydarkest;
$galleryFSearchInputBackground	: $dgraylightest;
$galleryFSearchInputText		: $dgray;
$galleryFSearchInputPadding		: 0.3em;
$galleryFSearchInputHover		: $graydarker;
$galleryFSearchInputFocus		: $white;
$galleryCatLink					: $graylight;
$galleryCatLinkHover			: $c1;
$galleryCatActiveLink			: $white;
$galleryPackagesText			: $graylighter;
$galleryResultsBottomPadding	: 5px;
$galleryResultsText				: $gray;
$galleryRIBackground			: $dgray;
$galleryRIBorder				: 1px solid $dgraylightest;
$galleryRIRound					: 5px;
$galleryRIShadow				: 1px 1px 2px $black;
$galleryRIUtilityHeight			: 16px;
$galleryRIUtilityBackground		: $dgraylight;
$galleryRIUtilityRound			: 5px;
$galleryRIGripper				: $dgraylight url("../common/images/gripper.png") 5px 0px no-repeat;
$galleryRITitle					: $white;
$galleryRIDescription			: $graylight;
$galleryRIBackgroundHover		: $dgraydarker;
$galleryRIBorderHover			: 1px soild $c1;
$galleryRIGradient1Hover		: $dgray;
$galleryRIGradient2Hover		: $dgraydarkest;
$galleryRILink					: $black;
$galleryRILinkBackground		: $dgraydark;
$galleryRILinkGradient1			: $gray;
$galleryRILinkGradient2			: $graydarkest;
$galleryRILinkRound				: 5px;
$galleryRILinkBackgroundHover	: $c1dark;
$galleryRILinkGradient1Hover	: $c1light;
$galleryRILinkGradient2Hover	: $c1dark;
$galleryRISelectedBackground	: $dgraydark;
$galleryRISelectedBorder		: 3px solid $c1;
$galleryPagerText				: $white;
$galleryPagerButtonBackground	: $dgraylight;
$galleryPagerButtonBorder		: 1px solid $dgraylightest;
$galleryPagerButtonGradient1	: $dgraylighter;
$galleryPagerButtonGradient2	: $dgray;
$galleryPagerButtonRound		: 5px;
$galleryPagerBtnBackgroundHover	: $dgraylightest;
$galleryPagerBtnBorderHover		: 1px solid $c1;
$galleryPagerBtnGradient1Hover	: $dgraylighter;
$galleryPagerBtnGradient2Hover	: $dgraydarkest;
$galleryPagerBtnBgdDisabled		: $dgray !important;
$galleryPagerBtnBorderDisabled	: 1px solid $dgraylight !important;
// Customize Page Message
$customizePageMessagePointer	: transparent url("images/customize_message_arrow.png") 40px 0px no-repeat;
$customizePageMessageBackground	: $white;
$customizePageMessageBorder		: 2px solid $c4;
$customizePageMessageRound		: 7px;
$customizePageMessagePadding	: 1em 20px;
$customizePageMessageTitle		: $dgray;
$customizePageMessageTitleWeight: normal;
$customizePageMessageTitleMargin: 0 0 .3em 0;
$customizePageMessageStrong		: $c1dark;
// Fragment Administration
$fragAdminHeaderBackground		: $c4lightest;
$fragAdminHeaderBorder			: none;
$fragAdminHeaderBorderBottom	: 1px solid $c4;
$fragAdminHeaderRound			: 0;
$fragAdminHeaderTitle			: $c4;
$fragAdminHeaderTitleSize		: 150%;
$fragAdminHeaderContentBgd		: $c4lightest;
$fragAdminHeaderButtonType		: login;
$fragAdminPagePermsButtonType	: dark;
$fragAdminColumnPermsButtonType	: dark;
$fragDisabled					: $graydark;
// Customize Page Message
$customizePageMessagePointer	: transparent url("images/customize_message_arrow.png") 40px 0px no-repeat;
$customizePageMessageBackground	: $white;
$customizePageMessageBorder		: 2px solid $c4;
$customizePageMessageRound		: 7px;
$customizePageMessagePadding	: 1em 20px;
$customizePageMessageTitle		: $dgray;
$customizePageMessageTitleWeight: normal;
$customizePageMessageTitleMargin: 0 0 .3em 0;
$customizePageMessageStrong		: $c1dark;
// Fragment Administration
$fragAdminHeaderBackground		: $c4lightest;
$fragAdminHeaderBorder			: none;
$fragAdminHeaderBorderBottom	: 1px solid $c4;
$fragAdminHeaderRound			: 0;
$fragAdminHeaderTitle			: $c4;
$fragAdminHeaderTitleSize		: 150%;
$fragAdminHeaderContentBgd		: $c4lightest;
$fragAdminHeaderButtonType		: login;
$fragAdminPagePermsButtonType	: light;
$fragAdminColumnPermsButtonType	: light;
$fragDisabled					: $graydark;
// Layout Options
$layoutOptionSelectedBorder		: thin solid $gray; // 3.2 only; 4.0 uses the gallery instead.
// Drag and Drop
$dndSelectedOutline				: 2px solid $c4;
$dndAvatarBackground			: $white;
$dndAvatarBorder				: 1px dotted $gray;
$dndDropMarkerBackground		: $c4;
$dndDropMarkerBorder			: 2px dashed $c4darker;
$dndDropWarningBackground		: $c5;
$dndDropWarningBorder			: 2px solid $c5darker;
$dndDropWarningText				: $white;