/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* Badge styles.
 * If needed, override badge style based on the context.
 */
 
@mixin badge() {
 	padding		: 0.2em 6px;
 	font-size	: 11px;
	font-weight	: bold;
	border-width: 2px;
	border-style: solid;
	@include text-shadow();
	@include rounded(1em);
}
 
.up {
	.badge {
		@include badge();
		border-color: $graylight;	
		background	: $c5;
		@include text-shadow(light);
		@include gradient($white, $graylightest);
	}
	.badge.new-item {
		border-color: $white;
		background	: $c5;
		color		: $white;
		@include text-shadow(dark);
		@include gradient($c5light, $c5dark);
	}
	.badge.unread-item,
	.portlet-content .ui-listview .ui-li-count {
		background	: $c1;
		color		: $white;
		@include text-shadow(dark);
		@include gradient($c1light, $c1dark);
	}
	.badge.read-item {
		/* Uses default badge style. */
	}
	.portal-nav .badge.new-item {
		@include box-shadow($xpos:0px);
	}
	.portlet-content .ui-listview .ui-li-count {
		padding: 0.2em 10px;
	}
}