/*====================================*/
/* HELPERS */
/*====================================*/
/* 
 * Helpers are non-semantic, global utilities.
 * Helpers should not include theme specifics: color, images, etc.
 * Helpers are created as SASS Mixins so they can be "mixed-in" to other SASS declarations and not be forced into the markup.
 * SASS Mixins:
 * http://sass-lang.com/
 * Many Helpers inspired by HTML5 Boilerplate:
 * http://html5boilerplate.com/
 */

/* For image replacement */
@mixin ir() { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
@mixin hidden() { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
@mixin visuallyhidden($focusable: false) { 
	border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
	@if $focusable == true {@include focusable(true);}
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
@mixin focusable() {
	&:focus,
	&:active { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
}

/* Hide visually and from screenreaders, but maintain layout */
@mixin invisible() { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
@mixin clearfix() {
	&:before,
	&:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
	&:after { clear: both; }
	zoom: 1;
}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }

