/*====================================*/
/* NAVIGATION */
/*====================================*/
/* 
 * Styles specific to navigation.
 */


/* Portlet Navigation */
.up {
	
	.portal-nav {
		/* Main menu grid of apps and web views. */
		width: 300px;
		margin: 0 auto;
		text-align: center;
		@include clearfix();
		
		.portlet {
			/* Menu grid items. */
			display: block;
			float: left;
			width: 72px;
			height: 92px;
			overflow: hidden;
			margin: 10px;
			position: relative; /* To contain new item badges. */
			
			.icon, .title {
				display: block;
				text-align: center;
			}
			.icon{
				height: 72px;
				width: 72px;
				margin-bottom: 3px;
			}
			.title {
				
			}
			.badge {
				position: absolute;
				top: 0em;
				right: 0em;
			}
		}
	}
}