/*====================================*/
/* THEME */
/*====================================*/
/*
 * uMobile CSS is built with SASS:
 * http://sass-lang.com/
 */
@import "reset";
@import "layout";
@import "navigation";
@import "cas";
@import "buttons";
@import "badges";
@import "portlet";

.up {
	
	.ui-bar, .ui-li-divider {
		border-width: 1px;
		border-style: solid;
		font-weight: bold;
		// Fix "bad blur effects" with text-shadow on ui-li-dividers with black text
		//text-shadow: 0 -1px 0 $black;
		
		input, select, textarea, button {
			font-family: Helvetica, Arial, sans-serif;
		}
	}
	
	.dashboard {
		color: $white;
		text-shadow: 0 1px 0 $black;
		background: $bgc url("../common/images/bg_320x480_flat.png") 0 25px no-repeat;
		
		.ui-link-inherit { color: $white; }
		.ui-link { 
			color: $white;
			font-weight: bold;
			text-decoration: none;
		}
		.ui-br { border-bottom: 1px solid rgba(130,130,130,.3); }
	}
	
	.focused {
		color: $text;
		text-shadow: 0 1px 0 $white;
		background: $graylighter;
		@include gradient($graylightest, $graylighter);
	}
	
	.portlet-wrapper-titlebar {
		border-color	: $c2dark;
		background		: $c2;
		color			: $white;
		@include text-shadow(dark);
		@include gradient($c2light, $c2dark);
		
		@include button(portal-nav);
	}
	
	.portlet-titlebar {
		border-color	: $c1darker;
		background		: $c1dark;
		color			: $white;
		@include text-shadow(dark);
		@include gradient($c1, $c1darker);
		
		@include button(portlet-nav);
	}
	
	.portlet-content {
		
		.titlebar {
			.title, .subtitle {
				margin: 0;
			}
			.subtitle {
				font-size: 100%;
				color: $graydarker;		
			}
			.subtitle + .text {
			  margin-top: 14px;
			}
			.text p {
			  margin-bottom: 12px;
			}
		}

		> .titlebar + .ui-listview {
		  margin-top: 18px;
		}
		
		@include button();
		
		.ui-li-divider {
			border-color	: $c1dark;
			border-top		: 1px solid $c1light;
			background		: $c1;
			color			: $white;
			@include text-shadow(dark);
			@include gradient($c1dark, $c1light);
			-moz-box-shadow: 0 0 5px #999;
			-webkit-box-shadow: 0 0 5px #999;
			box-shadow: 0 0 5px #999;
			z-index: 1;
			
			.ui-grid-a {
				.ui-block-b {
					text-align: right;
				}
			}
		}
		
		.utilities {
			@include button(utility);
		}
		
	}
	
	.portal-nav {
		.portlet {
			.icon {
				//border: 1px solid $c1darkest;
				//background: $c1;
				//@include gradient($c1, $c1dark);
				//@include rounded(5px);
			}
		}
	}
	/* icons */
	.ui-icon-map {
		background-image: url(../common/images/icons/location-18x18.png);
	}
	
	.ui-icon-phone {
		background-image: url(../common/images/icons/phone-18x18.png);
	}
}

/* retina icons */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.up {
		.ui-icon-map {
			background-image: url(../common/images/icons/location-36x36.png);
			background-size: 18px 18px;
		}
	
		.ui-icon-phone {
			background-image: url(../common/images/icons/phone-36x36.png);
			background-size: 18px 18px;
		}
	}
}
