<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.generate_statistics">true</property>
        
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        
        <property name="hibernate.current_session_context_class">thread</property>
        
        <mapping package="org.jasig.portal.portlet.dao.jpa"/>
        <mapping class="org.jasig.portal.portlet.dao.jpa.PortletDefinitionImpl" />
        <mapping class="org.jasig.portal.portlet.dao.jpa.PortletEntityImpl" />
        <mapping class="org.jasig.portal.portlet.dao.jpa.PortletPreferencesImpl" />
        <mapping class="org.jasig.portal.portlet.dao.jpa.PortletPreferenceImpl" />
        
        <class-cache class="org.jasig.portal.portlet.dao.jpa.PortletDefinitionImpl" usage="nonstrict-read-write"/>
        <class-cache class="org.jasig.portal.portlet.dao.jpa.PortletEntityImpl" usage="nonstrict-read-write"/>
        <class-cache class="org.jasig.portal.portlet.dao.jpa.PortletPreferencesImpl" usage="nonstrict-read-write"/>
        <class-cache class="org.jasig.portal.portlet.dao.jpa.PortletPreferenceImpl" usage="nonstrict-read-write"/>
        
        <collection-cache collection="org.jasig.portal.portlet.dao.jpa.PortletPreferencesImpl.portletPreferences" usage="nonstrict-read-write"/>
        <collection-cache collection="org.jasig.portal.portlet.dao.jpa.PortletPreferenceImpl.values" usage="nonstrict-read-write"/>
    </session-factory>
</hibernate-configuration>
