p.thetitle {
    text-align:center;
    font-size:36pt
}
p.author {
    text-align:center
}
tr {
    background:#edeef2
}

tr.odd {
    background:#e2b391;
}

td.example {
    background:#c8c9cb;
}

span.example {
    background:#c8c9cb;
}

pre, code {
    color:brown
}
