/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*

/* uPORTAL PORTAL CSS
 * These declarations are scoped for the portal, and not specifically for portlets.
 * For portlet-specifc CSS, see "portlet.css" in the same directory.
 * CSS specified at the portal scope will naturally cascade into portlets.
 * This CSS begins with the Fluid Skinning System (FSS) specification and is followed by uPortal-specfic extensions and overrides.
 * This CSS assumes the use of a CSS reset (by default the FSS "fss-reset.css") for browser normalization.
 */
 
/* uPORTAL DEVELOPMENT STANDARDS AND GUIDELINES
 * For the standards and guidelines that govern the user interface of uPortal portlets including HTML, CSS, JavaScript, accessibilty, naming conventions, 3rd Party libraries (like jQuery and the Fluid Skinning System) and more, refer to:
 * http://www.ja-sig.org/wiki/x/cQ
 */
 
/* ICONS
 * This CSS uses the Silk icon set 1.3 by Mark James:
 * http://www.famfamfam.com/lab/icons/silk/
 * which is licensed under a Creative Commons Attribution 2.5 License:
 * http://creativecommons.org/licenses/by/2.5/
 * This icon set is free for use under the CCA 2.5 license, so long as there 
 * is a link back to the author's site.  This reference is present in the 
 * portal footer markup of the universality theme.
 */
 
/* 
------------------------------------------
  Fluid Skinning System theme overrides.
------------------------------------------
 * The Fluid Skinning System is a group of CSS files with a specially designed modular structure and class-specific format.
 * It is meant to work well as both a standalone CSS foundation for your site and Fluid Infusion components.
 * In FSS, "themes" refer to the color schemes and "window dressings" for basic markup and FSS Helpers, such as Tabs, Widgets, Menus, etc.
 * For more information on FSS themes, refer to:
 * http://wiki.fluidproject.org/x/egNS
 * In uPortal, FSS themes reside on the Resource Server.
 * The FSS theme class "fl-theme-[name]" is a class of the <body> tag, used for namespacing.
*/

.fl-widget {-moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;}
.fl-widget-titlebar,
.fl-widget-content,
.fl-listmenu {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}


/* 
------------------------------------
  uPortal specific CSS.
------------------------------------ 
 * uPortal is namespaced with "up", a class of the <body> tag.
 */

/* Universal Decorators */

/* Forms */
/*
 * Gives form elements a consistent look across the portal.
 */
.up select,
.up input[type="text"],
.up input:not([type="submit"]),
.up input:not([type="button"]),
.up textarea {font-family:"lucida grande",tahoma,verdana,arial,sans-serif; border:1px solid #BDC7D8; border-color:#96A6C5;}
.up input[type="text"],
.up input:not([type="submit"]),
.up input:not([type="button"]) {background-color:#fff; background-image:-webkit-gradient(linear, 0% 0%, 0% 12%, from(#ccc), to(#fff)); background-image:-moz-linear-gradient(0% 12% 90deg, #fff, #ccc);}
.up select:focus,
.up input[type="text"]:focus,
.up textarea:focus {-webkit-box-shadow:0 0 12px rgba(51,204,255,.9); -moz-box-shadow:0 0 12px rgba(51,204,255,.9); box-shadow:0 0 12px rgba(51,204,255,.9);}
#webSearchContainer div{overflow:hidden;}

/* Buttons */
/*
 * Gives links and form buttons a consistent button look across the portal.
 * Add the "button" class to the element you want to be styled as a button.
 * If multiple buttons, add the "buttons" class to the wrapping element.
 * If multiple buttons, add the "primary" class to the element that is the default action (e.g., class="button primary").
 */ 
.up .button,
.up input[type="submit"],
.up input[type="button"] {
	border-width:1px;
	border-style:solid;
	border-color:#FFAF0F;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#F58400 url(images/button_bkd.png) top left repeat-x; color:#fff;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F58400), to(#F6992D)); 
	background-image:-moz-linear-gradient(0% 100% 90deg, #F58400, #F6992D);
	font-size:1em;
	font-weight:bold;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	text-transform:capitalize;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.5); 
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.5);
	text-shadow:0 -1px 1px rgba(0,0,0,.5);
	box-shadow:0 1px 2px rgba(0,0,0,.5);
}
.up a.button {color:#fff; text-decoration:none;}
.up .buttons {}
.up .buttons .button {
	background-color:#ccc; 
	border-color:#999; 
	color:#333;
	text-shadow:0 -1px 1px rgba(120,120,120,.5);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(#999), to(#eee)); 
	background-image:-moz-linear-gradient(0% 90% 90deg, #999, #eee);
}
.up .buttons .primary {
	background-color:#F58400; 
	border-color:#FFAF0F; 
	color:#fff;
	text-shadow:0 -1px 1px rgba(0,0,0,.5);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F58400), to(#F6992D)); 
	background-image:-moz-linear-gradient(0% 100% 90deg, #F58400, #F6992D);
}
.up .buttons a.button {}
.up .buttons a.primary {}
.up .button:hover,
.up .button:focus,
.up a.button:hover,
.up a.button:focus,
.up input[type="submit"]:hover,
.up input[type="submit"]:focus,
.up input[type="button"]:hover,
.up input[type="button"]:focus {
	background-color:#333; 
	border-color:#FFAF0F; 
	text-shadow:0 -1px 1px rgba(0,0,0,.5);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#F58400)); 
	background-image:-moz-linear-gradient(0% 100% 90deg, #000, #F58400); 
	cursor:pointer;
	-webkit-box-shadow:0 0 15px rgba(246,153,45,1);
	-moz-box-shadow:0 0 15px rgba(246,153,45,1); 
	box-shadow:0 0 15px rgba(246,153,45,1);
}
.up button[disabled="disabled"],
.up .button[disabled="disabled"],
.up input[disabled="disabled"],
.up input[disabled="disabled"]:hover,
.up input[disabled="disabled"]:focus {background:#ddd !important; border:1px solid #999 !important; color:#999 !important; text-shadow:none; cursor:default;}

/* Page */
html,
.up #portalPage {background-color:#000;}

/* Portal Page Bar */
.up #portalPageBarLinks {float:right; margin-left:250px; padding-right:15px; color:#000;}
.up #portalPageBarLinks a {color:#999 !important; text-decoration:none;}
.up #portalPageBarLinks a:hover,
.up #portalPageBarLinks a:focus {color:#ddd !important;}
.up .logged-in #portalPageBarLogout .portal-pipe {display:none;}
.up .not-logged-in #portalPageBarHelp .portal-pipe {display:none;}

/* Header */
.up #portalPageHeader {/*background-color:#ebebeb;*/
	background-color:#000;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#666)); 
	background-image:-moz-linear-gradient(0% 100% 90deg, #000, #666); 
}
.up #portalLogo {
	padding:20px 30px 0 30px; 
}
.up .focused #portalLogo {padding:10px 30px;}

/* Welcome
 Keep the top value relative to the text size so that the top position remains good when the browser text size is increased. 
 Set the left width to the width of your logo (plus logo margins).
 This margin prevents it from colliding with the logo if the browser window is shrunk down. 
*/
.up #portalWelcome {top:2em; left:225px; color:#666 !important;}
.up #portalWelcome a {display:none;}

/* Web Search */
.up #portalPageHeader #webSearchContainer,
.up #portalPageHeader #webSearchContainer .fl-widget-content {margin:0; padding:0; background:transparent; border:none;} {background:transparent; border:none;}
.up #webSearchContainer select {display:none;}
.up #webSearchContainer input[type="text"] {padding:3px; font-size:11px; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; border:1px solid #BDC7D8; border-color:#96A6C5; margin-top:2px; background:#fff url(../common/images/shadow_top_5px_15.png) repeat-x 0 0;}
.up #webSearchContainer .fl-widget-content {margin:0; padding:0; background:transparent; border:none;} {background:transparent; border:none;}

/* Navigation */
.up #portalNavigation {background-color:#000;}
.up #portalNavigation .fl-tabs,
.up #portalNavigation .fl-tabs * {margin:0; padding:0; background:none; border:none; display:block;}
.up #portalNavigation .fl-tabs {text-align:left; padding-left:225px;}
.up #portalNavigation .fl-tabs > li,
.up #portalNavigation .fl-tabs > li > a,
.up #portalNavigation .fl-tabs > li > a span {float:left;}
.up #portalNavigation .fl-tabs > li {position:relative; top:1px; margin-right:3px;}
.up #portalNavigation .fl-tabs > li > a {
	border:1px solid #999;
	border-bottom:1px solid #666;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color:#333;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#666)); 
	background-image:-moz-linear-gradient(0% 100% 90deg, #000, #666);
	text-transform:uppercase;
	text-shadow:0 -1px 1px rgba(0,0,0,.5);
	color:#999 !important;
}
.up #portalNavigation .fl-tabs > li > a span {padding:0.5em 2em;}
.up #portalNavigation .fl-tabs li.fl-tabs-active > a {color:#eee !important; border-bottom:1px solid #000;}
.up #portalNavigation .fl-tabs li a:hover,
.up #portalNavigation .fl-tabs li a:focus {
	color:#fff !important; 
	border-color:#FFAF0F; 
	background-color:#F58400;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F58400), to(#F6992D)); 
	background-image:-moz-linear-gradient(0% 100% 90deg, #F58400, #F6992D);
}

/* Flyout Navigation */
.up #portalNavigation .fl-tabs .portal-flyout-container * {padding:0; background:none; border:none;}
.up #portalNavigation .fl-tabs .portal-flyout-container {
	background-color:#000; 
	border:2px solid #FFAF0F;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow:0 3px 12px rgba(0,0,0,1); 
	-moz-box-shadow:0 3px 12px rgba(0,0,0,1);
	box-shadow:0 3px 12px rgba(0,0,0,1);
}
.up #portalNavigation .fl-tabs .portal-flyout-container li a {padding:0.7em 2em; border-top:1px dotted #999;color:#eee !important; font-size:85%; }
.up #portalNavigation .fl-tabs .portal-flyout-container li:first-child a {border:none;}
.up #portalNavigation .fl-tabs .portal-flyout-container li a:hover,
.up #portalNavigation .fl-tabs .portal-flyout-container li a:focus {color:#fff !important; background:#F58400;}

/* Body */
.up #portalPageBody {background:#333 url(images/page_bg_flat.png) repeat 0 0; border-top:1px solid #666;}
.up #portalPageBodyInner {background:transparent url(../common/images/shadow_top_5px_50.png) repeat-x 0 0; border-top:10px solid #000; padding-top:2em;}
.up #portalPageBodyTitleRow {display:none;}
/* Focused */
.up #portalPageBodyBreadcrumb {font-size:90%; color:#ddd;}
.up #portalPageBodyBreadcrumb a {color:#999; font-weight:normal;}

/* Columns */
.up #portalPageBodyColumns.fl-col-flex,
.up .layout-1-columns .portal-page-column.fl-col-flex {padding:0;} /* Removes default padding from FSS  */

/* Sidebar */
.up #portalSidebar {}
.up #portalSidebarInner {padding:0 0 2em 1em;}
/* Sidebar Widgets */
.up #portalSidebar .fl-widget {
	-webkit-box-shadow:0 0 12px rgba(0,0,0,.5);
	-moz-box-shadow:0 0 12px rgba(0,0,0,.5); 
}
#portalSidebar .fl-widget.portlet{ background:url("../../../../../ResourceServingWebapp/rs/fluid/1.2/fss/images/themes/coal/widget-bg.png") repeat-x scroll left top #333333; border:1px solid #000000;}
.up #portalSidebar .fl-widget-titlebar h2 {padding-left:0.5em; font-size:85%; color:#000; text-transform:uppercase; text-shadow:1px 1px 1px rgba(255,255,255,.4);}
.up #portalSidebar .fl-widget-content {background-color:#000;}
.up #portalSidebar .fl-listmenu,
.up #portalSidebar .fl-listmenu li,
.up #portalSidebar .fl-listmenu li a {background-color:transparent; color:#999 !important;}
.up #portalSidebar .fl-listmenu li a:hover,
.up #portalSidebar .fl-listmenu li a:focus {background-color:#333; color:#fff !important;}
.up #portalSidebar #portletNavigation .fl-widget-content {}
.up #portalSidebar #portalFragAdminList .fl-widget-content {padding:0.3em;}
.up #portalSidebar #portletNavigation h3 {font-size:85%; color:#44626a;}

/* Login */
.up #portalLogin {}
.up #portalLogin .fl-widget-content {padding:1em;}
.up #portalLogin #portalLoginButton,
.up #portalLogin #portalCASLoginLink {display:block; padding:0.5em 1em; text-decoration:none; text-align:center; font-weight:bold; color:#fff; background-color:#FF6600; background-image:none; border-top:1px solid #FFCA95; border-left:1px solid #FFCA95; border-bottom:1px solid #884400; border-right:1px solid #884400;}
.up #portalLogin #portalLoginButton:hover,
.up #portalLogin #portalCASLoginLink:hover {background-color:#FF3300; cursor:pointer;}
.up #portalLogin #portalLoginButton {padding:0.3em 1em;}
.up .via-cas {color:#FFCC66;}
.up #portalLogin p {margin:1em 0 0 0;}
.up #portalLogin #portalLoginForgot,
.up #portalLogin #portalLoginErrorForgot {font-weight:normal;}
.up #portalLogin a#portalLoginErrorForgot {color:#FF6600;}
.up #portalLogin a#portalLoginErrorForgot:hover {color:#000;}

/* Portlet Navigation (focused view) */
.up #portletNavigation h3 {margin:0; padding:0.5em; background-color: #333; color:#999 !important;}

/* Fragment Administration */
.up #portalFragAdminExit {background:#ffffcc; border:1px solid #ff6600; margin:0 2em 1em 2em; -webkit-box-shadow:0 0 12px rgba(0,0,0,.5); -moz-box-shadow:0 0 12px rgba(0,0,0,.5); }
.up #portalFragAdminExit h2 {color:#ff6600;}
.up #portalFragAdminExit .fl-widget-content {background:#ffffcc;}

/* Portlets */
/* The styling here is for the portlet container or "chrome" that uPortal renders.  CSS that directly styles portlet content is specified in portlet.css. */
.up .up-portlet-wrapper {}
.up .up-portlet-wrapper-top,
.up .up-portlet-wrapper-bottom {display:none;}
.up .up-portlet-titlebar  {white-space:nowrap;}
.up .up-portlet-titlebar h2 {padding-left:0.5em; font-size:120%; text-transform:uppercase; text-shadow:1px -1px 1px rgba(0,0,0,.5);}
.up .up-portlet-titlebar a {text-decoration:none; color:#ccc !important;}
.up .up-portlet-titlebar a:hover {color:#fff !important;}
.up .up-portlet-controls {top:0px; padding-right:0.5em;}
.up .up-portlet-controls .up-portlet-control {display:block; float:left; height:16px; width:16px; padding:0; font-size:90%; background:transparent url(images/portlet_icons_flat.png) no-repeat 0 0;}
.up .up-portlet-controls .focus:hover {background-position:0 -16px;}
.up .up-portlet-controls .edit {background-position:-16px 0;}
.up .up-portlet-controls .edit:hover {background-position:-16px -16px;}
.up .up-portlet-controls .info {background-position:-32px 0;}
.up .up-portlet-controls .info:hover {background-position:-32px -16px;}
.up .up-portlet-controls .help {background-position:-48px 0;}
.up .up-portlet-controls .help:hover {background-position:-48px -16px;}
.up .up-portlet-controls .remove {background-position:-64px 0;}
.up .up-portlet-controls .remove:hover {background-position:-64px -16px;}
.up .up-portlet-controls .add {background-position:-80px 0;}
.up .up-portlet-controls .add:hover {background-position:-80px -16px;}
.up .up-portlet-controls .up-portlet-control span {display:none;}
/* No Chrome */
.up .no-chrome .up-portlet-content-wrapper {padding:1em; background-color:#fff; border:1px solid #333;}
/* Alternate */
.up .dashboard .alternate {background:#333 url(../common/images/shadow_top_100px_flat.png) repeat-x 0 0;}
/* Highlight */
.up .dashboard .highlight {background:#F58400 url(jquery-ui-1.7.2.custom/css/ui-darkness/images/ui-bg_inset-soft_30_f58400_1x100.png) repeat-x scroll 50% 50%; border:1px solid #FFAF0F;}
.up .dashboard .highlight .up-portlet-titlebar a {color:#fff !important;}
/* Locked Portlet */
.up .dashboard .locked {}
/* Focused */
.up .focused .up-portlet-controls .up-portlet-control {height:auto; width:auto; padding-left:18px; margin-left:1.5em;}
.up .focused .up-portlet-controls .up-portlet-control span {display:inline;}
.up .focused .up-portlet-controls .return {background:transparent url(images/portlet_icon_return_flat.png) no-repeat 0 0;}
.up .focused .up-portlet-controls .return:hover {background-position:0 -16px;}

/* Footer */
.up #portalPageFooter {padding-top:0; text-align:center; color:#666; background:#333 url(../common/images/shadow_top_5px_50.png) repeat-x 0 0; border-top:1px solid #000;}
.up #portalPageFooterInner {}
.up #portalPageFooter #portalProductAndVersion,
.up #portalPageFooter #portalCopyright,
.up #portalPageFooter #silkIconsAttribution {font-size:80%;}
.up #portalPageFooter a {color:#999 !important;}
.up #portalPageFooter #portalProductAndVersion a,
.up #portalPageFooter #portalCopyright a,
.up #portalPageFooter #silkIconsAttribution a {color:#666 !important;}
.up #portalPageFooter a:hover {color:#eee !important;}

/* Fluid Layout Customizer (drag and drop) */
.up .fl-reorderer-movable-hover {cursor:move;}
.up .fl-reorderer-movable-dragging-mouse {display:none;}
.up .fl-reorderer-movable-dragging{filter:alpha(opacity=50); opacity:.5;}
.up .fl-reorderer-movable-selected {outline: 0.1em solid #f68922;}
.up .fl-reorderer-avatar {background-color:#fff; border:1px dotted #999; width:auto; filter:alpha(opacity=60); opacity:.6;}
.up .fl-reorderer-dropMarker {height:200px !important; background-color:#F58400 !important; border:1px dashed #FFAF0F; margin-bottom:1em;}
.up .drop-warning {position:absolute; top:50px; left:10px; border:2px solid #FFAF0F; background-color:#F58400; display:none; padding:10px; margin:5px; z-index:65535;}
.up #portalDropWarning {background-color:#FFAF0F; border:2px solid #FFAF0F; color:#000; display:none; position:absolute; top:50px; left:10px;}
.up #portalDropWarning p{margin:0em; padding:0.5em 1em;}

/* Fluid Pager */
.up .fl-pager ul.fl-pager-ui {text-align:right}
.up .fl-pager .fl-pager-ui li {list-style-type:none; display:inline; padding-left:5px}
.up .fl-pager .fl-pager-ui a.fl-pager-disabled,
.up .fl-pager .fl-pager-ui .fl-pager-disabled a { color: #777777; border: 0; text-decoration: none; cursor: default; }
.up .fl-pager .fl-pager-ui a.fl-pager-currentPage,
.up .fl-pager .fl-pager-ui .fl-pager-currentPage a { color: #000000; border: 0; text-decoration: none; cursor: default;}

/* Focus */
:focus{outline-width:0px !important;}
.up .fl-reorderer-movable-selected:focus,
.up .fl-reorderer-movable-dragging:focus {outline: 2px solid #f68922;}


/* 
------------------------------------
  Overrides to jQuery UI css.
------------------------------------ 
*/

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, 
.ui-widget {font-size: 1em; font-family:arial,helvetica,clean,sans-serif;}
.ui-tabs .ui-tabs-nav li { list-style-image:none; list-style-position:outside;list-style-type:none; }

/* jQuery tooltip */
#tooltip {background-color: #fffbbf; color: #344461; border: thin solid #b1c6f2;}


/* 
----------------------------------------
  Overrides for customization dialogs.
----------------------------------------
*/
.up #categorySelectMenu,
.up #channelSelectMenu {color:#fff !important;}
.up #skinList p {color:#000 !important;}