/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
/* uPORTAL PORTLET STYLE CSS
 * Default portlet styling for uPortal is provided via
 * \uportal-war\src\main\webapp\media\skins\universality\common\css\portlet.css
 * This file is provided to override/extend the default styling for a specific skin.
 * If you are satisfied with the default styling, this file may remain blank.
 * Otherwise, add any CSS to style portlets as desired.
 */ 
 
/*----------COAL SKIN SPECIFIC CHANGES / ADDITIONS TO PORTLET STYLES----------*/
/* Titlebar */
.portlet .portlet-titlebar > .title {font-size:150%; border-bottom:1px solid #ccc; color:#000;}
#portalSidebar .portlet .portlet-titlebar > .title {border-bottom:0px}

.ui-datepicker-inline { display: block; }