/*********************************** PORTAL HEADER */
body {
    background:#900 url(institutional/header_back.gif) repeat scroll;
}

#portal-page-header {
	background:url(institutional/header/top-bar.gif) repeat-x;
	float:left; /* float container in order to completely surround contained floats  */
	width:100%;
	line-height:normal;
	margin:0;
	padding:0;
	}

/* - logo  */
#logo {
	position:absolute;
	left:0px;
	top:15px;
	width:255px;
	height:60px;
	margin:4px 0 3px 10px;
	padding:0px;
	}
	
.focused #logo {
	top:10px;
	left:0px;
	}

/* - welcome  */
#welcome {
	text-align:right;
	background: url(institutional/header/curved-top-bar.gif) no-repeat;
	color:#fff;
	margin:0 0 0 116px;
	padding:7px 15px 10px 20px;
	vertical-align:middle;
	}
	
#welcome .uportal-navigation-category {
	color:#fff;
	}

#welcome .google-search {
    font-size:.8em;
    float:left;
    padding:0;
    margin:0;
    }

.focused #welcome {
	margin-left:50px;
	}
	
#focused-channel-title .title {
    font-size:3em;
    color:white;
    font-family:Georgia, 'Times New Roman';
    padding-left:10px;
    }

#portal-page-header.focused .portlet-toolbar {
    float:left;
    padding: 10px 20px 7px 15px;
    background: transparent url(institutional/header/focused-portlet-toolbar-bac.gif) bottom right no-repeat;
    border:none;
    }

#portal-page-header.focused .portlet-toolbar a {
    padding:0 10px 0 10px;
    background: url(institutional/header/bullet.gif) center left no-repeat;
    color:white;
    }

/* - navigation */
#navigation {
	float:right;
	margin:8px 10px 5px 0;
	padding:0;
	display:block; /* fixes the IE double margin on floats */
	}

#navigation ul {
	list-style:none;
	margin:0;
	padding:0;
	display:block;
	width:auto; /* - for Opera width:auto; */
	text-align:right; /* - for Opera */
	}

#navigation li {
	float:left;
	display:block;
	width:auto; 
	margin:0;
	padding:0 3px;
	text-align:center;
	}
	
#navigation li a {
    text-decoration:none;
    text-align:center;
    color:white;
	}
	
#navigation li a img {
    display:inline;
    padding:0;
    margin:0;
    }
	
#navigation li a .shortcut-link {
    text-decoration:underline;
    padding:0;
    margin:0;
    clear:both;
    }