div.edit-preferences-window {
    min-width: 500px;
    min-height: 200px; 
}

table.edit-preferences-window {
    margin: 0px 10px 10px 0px;
}

.edit-preferences-window td {
	border: 1px solid #336;
	text-align: center;
	vertical-align: top;
	min-width: 10px;
    padding-bottom: 10px;
}
						
.edit-preferences-window div.container-title {
	border-bottom: 1px solid #336;
	background-color: #C8E5E5;
	color: #378B8F;
	font:bold .9em sans-serif;
}

#preference-items {
	padding: 5px 15px 0 0;
	margin:0;
	width:100%;
	text-align: right;
	line-height:normal;
	}

#preference-items ul {
	list-style:none;
	margin:0 0 0 10px;
	padding:0;
	}

#preference-items li {
	display:inline;
	margin:0;
	padding:0;
	}

#preference-items a:hover {
	cursor:pointer;
	}

#preference-items a {
	color: #378B8F;
	margin:0;
	padding:0 0 0 20px;
	text-decoration:none;
	white-space:nowrap;
	font-weight: bold;
	}
