/**
 * Licensed to Apereo under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Apereo licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
// No-chrome portlet setting
.no-chrome {
  .up-portlet-content-wrapper {
    border: none;
    background: none;
  }

  .hover-toolbar {
    position: relative;
    text-align: right;

    .portlet-controls {
      position: absolute; /* Place on top */
      width: 100%; /* Hamburger on the right */

      .locked-icon {
        /* These are the same rules as for standard chrome */
        display: inline-block;
        font-size: 1.75rem;
      }
      .grab-handle {
        display: inline-block;
        position: relative;
        top: 3px;
        font-size: 18px;
        margin-left: 3px;
      }
      .portlet-options-menu > a {
        color: @grayscale10;
        opacity: 0.8;
      }
    }
  }
}
