/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.portal-nav {
    background: @navbar-background-color;
    position : relative;
    z-index  : 5px;

    .sidebar-offcanvas {

         .list-group-item {
               border-width: 0px !important;
               background-color: transparent  !important;
               padding: 0px !important;

               &.active, &.active:hover, &.active:focus {
                   z-index: 2;
                   color: @white;
                   background-color: inherit;
                   border-color: transparent  !important;
               }
         }

    }

    .menu {
        .inline-block-list;
        display: none;

        li {
            border-bottom: 1px solid @color1;
            position: relative;

            a {
                display: block;
                color: @navbar-item-text-color;
                background: @navbar-item-background-color;
                font-weight: inherit;
                text-decoration: none;
                padding: 8px 14px;

                &:hover, &:focus {
                    background: @navbar-item-hover-background-color;
                    color: @navbar-item-hover-text-color;

                    i {
                        opacity: 1;
                    }
                }
                &.portal-navigation-gripper, &.portal-navigation-delete {
                    display: none;
                }
            }

            a.portal-navigation-link.disabled {
                pointer-events: none;
                cursor: default;
            }

            a.portal-navigation-link i {
                    float: right;
                    margin-top: 2px;
                    margin-right: -6px;
                    opacity: .5;
            }

            .flc-inlineEdit-edit {
                color: @grayscale10;
                margin-top: 8px;
                margin-bottom: -2px;
                margin-right: 5px;
            }
            .fl-inlineEdit-editModeInstruction {
                height: 0;
                overflow: hidden;
                width: 0;
            }

            a.dropdown-toggle.portal-navigation-dropdown {
                display: block;
                position: absolute;
                width: 10px;
                top: 0px;

                &:hover, &:focus, &:active {
                    background-color: inherit;
                }

            }

            li.portal-subnav {
                width: 100%;
                min-width: 100%;
                color: @black;

                a.portal-subnav-link {
                    width: 100%;
                    min-width: 100%;
                    color: @black;
                    background-color: @white;
                }
                a {
                    &:hover, &:focus {
                        background: @navbar-item-active-hover-background-color;
                    }
                }
            }

        }

        .useflyout {
            a.portal-navigation-link, div.fl-inlineEditContainer {
                padding-left: 40px;
            }
        }

        .active {

            a {
                background: @navbar-item-active-background-color;
                color: @navbar-item-active-text-color;

                i {
                    opacity: 1;
                }

                &:hover {
                    background: @navbar-item-active-hover-background-color;
                    color: @navbar-item-active-hover-text-color;
                }
            }

            div.fl-inlineEditContainer {
                background: @navbar-item-active-background-color;
            }

            a.portal-navigation-gripper {
                position: absolute;
                background: none;
                top: 0;
                left: 2px;
                font-size: 6pt;
                padding: 2px;
                color: @navbar-controls-color;
                cursor: move;
                line-height: normal;
                display: inline;
                z-index: 100;

                &:hover {
                    color: @navbar-controls-hover-color;
                }
                span {
                    display: none;
                }
            }

            a.portal-navigation-delete {
                position: absolute;
                background: none;
                top: 0;
                right: 0;
                padding: 3px;
                margin-right: -1px;
                font-size: 8pt;
                line-height: normal;
                margin-top: -3px;
                color: @navbar-controls-color;
                display: inline;
                opacity: .2;

                &:hover {
                    color: @navbar-controls-hover-color;
                    opacity: .9;
                }

                span {
                    display: none;
                }
            }
        }

        .active.open {

            a.dropdown-toggle {
                &:focus, &:active {
                     color: @color1;
                }
            }

        }

    }

}

/* TODO:  this one is defined backwards;  we normally define "mobile first" and use media queries to alter styles for larger displays */
@media only screen and (max-width: 769px) {

    /*
     * only for small devices and screen
     */
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;

        &.row-offcanvas-left {
            left: 0;

            &.active {
                left: 300px; /* 6 columns */
            }
            .sidebar-offcanvas {
                position: absolute;
                top: -5px;
                left: -300px; /* 6 columns */
                width: 300px; /* 6 columns */

                .list-group-horizontal  {
                    position: fixed;
                    top: 24px;
                    width: 270px;

                    .list-group-item {
                        border-bottom: 1px solid @grayscale8;
                        background-color: @grayscale10  !important;
                        &:last-child {
                            border-top-right-radius:0;
                            border-bottom-left-radius:0;
                            border-bottom: 1px solid @color1 !important;
                        }
                    }
                }
                .active {
                    .list-group-horizontal {
                        .list-group-item {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .portal-nav {

        .active {
            a.dropdown-toggle {
                &:link, &:hover, &:focus, &:active {
                    background-color: @navbar-item-active-background-color !important;
                    color: @color1;
                }
            }
        }

        .active.open {
            a.dropdown-toggle {
                &:link, &:hover, &:focus, &:active {
                    background-color: @navbar-item-active-background-color;
                    color: @color1;
                }
            }
        }

        .dropdown-menu {
              position:static !important;
              top:94% !important;
              float:none !important;
              min-width:160px;
              padding:0px !important;
              margin:0px !important;
              border-radius:0px !important;
         }

         .portal-subnav {
              border-bottom: 1px solid @black !important;

              &:lastchild {
                  border-bottom: 0px solid @black !important;
              }

         }

    }

}

@media only screen and (min-width: 769px) {

    /*
     * Convert navigation from toggled block menu to inline tabs.
     */
    .portal-nav {
        background: @navbar-background-color;
        border-top: @navbar-border-size solid @navbar-border-color;
        border-bottom: @navbar-border-size solid @navbar-border-color;
        font-weight: @navbar-item-font-weight;

        .menu-toggle {
            display: none;
        }

        .menu {
            display: block;
            .inline-block-list;
            margin-left: 64px;

            li {
                border: none;
                .float;

                a {
                    display: inline-block;
                    line-height: 30px;
                    padding: 6px 20px;
                    &:hover, &:focus {
                       color: @navbar-item-hover-text-color;
                    }
                }

                .dropdown-menu {
                    position: absolute !important;
                    top:94% !important;
                    border-radius:0px !important;
                    padding:0px !important;
                }
            }
        }

        .sidebar-offcanvas .list-group-horizontal .list-group-item {
            display: inline-block !important;
            margin-bottom: 0;
            margin-left:-4px;
            margin-right: 0;

            &:first-child,&:last-child {
                border-top-right-radius:0;
                border-bottom-left-radius:0;
            }

        }

    }

}