/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.portal-nav {
    background: @color1-dark;

    .menu-toggle {
        position: absolute;
        top: 40px;
        right: 20px;
        padding: 0.5rem 1rem;
        background: @color2;
        .border-radius;
        font-weight: bold;
        color: @white;
        text-decoration: none;

        &:hover, &:focus {
            background: @color3;
        }

        i {
            padding-right: 0.25em;
        }
    }

    .menu {
        .inline-block-list;
        display: none;

        li {
            border-bottom: 1px solid @color1;
            position: relative;

            a {
                display: block;
                color: @grayscale3;
                font-weight: bold;
                text-decoration: none;
                padding: 8px 14px;

                

                &:hover, &:focus {
                    background: @color1-light;
                    color: @white;

                    i {
                        opacity: 1;
                    }
                }
                &.portal-navigation-gripper, &.portal-navigation-delete {
                    display: none;
                }
            }
            a.portal-navigation-link i {
                    float: right;
                    margin-top: 2px;
                    margin-right: -6px;
                    opacity: .5;
            }

            .flc-inlineEdit-edit {
                color: @grayscale10;
                margin-top: 8px;
                margin-bottom: -2px;
                margin-right: 5px;
            }
            .fl-inlineEdit-editModeInstruction {
                height: 0;
                overflow: hidden;
                width: 0;
            }
            
        }

        .active {

            a {
                background: @color1-darker;
                color: @white;

                i {
                    opacity: 1;
                }

                &:hover {
                    background: darken(@color1, 20%);
                }
            }

            a.portal-navigation-gripper {
                position: absolute;
                background: none;
                top: 0;
                left: 2px;
                font-size: 6pt;
                padding: 2px;
                color: @grayscale8;
                cursor: move;
                line-height: normal;
                display: inline;

                &:hover {
                    color: @white;
                }

                span {
                    display: none;
                }
            }

            a.portal-navigation-delete {
                position: absolute;
                background: none;
                top: 0;
                right: 0;
                padding: 3px;
                margin-right: -1px;
                font-size: 8pt;
                line-height: normal;
                margin-top: -3px;
                color: @grayscale8;
                display: inline;

                &:hover {
                    color: @white;
                }

                span {
                    display: none;
                }
            }
        }
    }
    
} // end .portal-nav

@media only screen and (min-width: 769px) {

/*
 * Convert navigation from toggled block menu to inline tabs.
 */
    .portal-nav {

        .menu-toggle {
            display: none;
        }

        .menu {
            display: block;
            .inline-block-list;

            li {
                border: none;
                .float;

                a {
                    display: inline-block;
                    line-height: 30px;
                    padding: 6px 20px;
                }
            }
        }
    }
}