/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

// No-chrome portlet setting
.no-chrome {
    .up-portlet-content-wrapper {
        border: none;
        background: none;
    }

    .hover-toolbar {
        z-index: 1000;
        position: absolute;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;


        .up-portlet-titlebar {
            background-color: @grayscale2;
            border: 1px solid @grayscale1;

            h2 {
                height: 32px;
                padding-top: 3px;
                & > a {
                    display: none;
                }
            }

            .portlet-controls {
                position: relative;
                top: 0;

                .dropdown-menu {
                    right: auto !important;
                }
            }
        }
    }

    &:hover {
        .hover-toolbar {
            opacity: 1.0;
        }
    }
}