//====================================
// UPORTAL3 SKIN: Overrides
//====================================
// This file is written in SASS. To find out how to install SASS to generate CSS visit http://sass-lang.com

// Put any skin-specific overrides here.

.up {
  // tips area
  #portalContentTopBlock .up-portlet-wrapper {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 10px;
  }

  // alerts area
  #portalHeaderBlock {
    background: $headerBlockBackground;
  }
}