//====================================
// Skin Colors
//====================================
// Skin-specific color palette overrides.

// Main text color.
$skinTextColor		: rgba(68,68,68,1); // translates to #444.

// Page background color.
$skinBackgroundColor: rgba(255,255,255,1); // translates to #fff.

// Grayscale (medium value) base color.
$skinGrayColor		: rgba(169, 169, 169, 1); // translates to #999.

// Grayscale (dark hue) base color.
$skinDarkGrayColor	: rgba(51, 51, 51, 1); // translates to #333.

// Primary color, c1 - generally expects to be a medium value.
$skinColor1			: rgba(70, 130, 180, 1);


// Secondary color, c2 - generally expects to be a darker value.
$skinColor2			: rgba(40, 45, 51, 1);


// Tertiary color, c3 - generally expects to be a medium or lighter value.
$skinColor3			: rgba(33, 101, 63, 1);


// Highlight color, c4 - generally expects to be a lighter value with brighter saturation.
$skinColor4			: rgba(245, 136, 33, 1);


// Secondary Highlight color, c5 - generally expects to be a lighter value with brighter saturation.
$skinColor5			: rgba(204, 0, 0, 1);