/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*====================================*/
/* uMOBILE PORTAL */
/*====================================*/
/*
 * uMobile CSS is built with SASS:
 * http://sass-lang.com/
 * On top of jQuery Mobile (jQM):
 * http://jquerymobile.com/
 * jQM takes care of a lot of the basics. This CSS extends where needed.
 */
/* Imports
--------------------------------------*/
/* Import other SASS files. Breakdown is simply for organization. */
/*====================================*/
/* HELPERS */
/*====================================*/
/* 
 * Helpers are non-semantic, global utilities.
 * Helpers should not include theme specifics: color, images, etc.
 * Helpers are created as SASS Mixins so they can be "mixed-in" to other SASS declarations and not be forced into the markup.
 * SASS Mixins:
 * http://sass-lang.com/
 * Many Helpers inspired by HTML5 Boilerplate:
 * http://html5boilerplate.com/
 */
/* For image replacement */
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* Hide visually and from screenreaders, but maintain layout */
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* Easy 2-color, linear gradient stack. Pass in the colors. */
/* Easy way to add rounded corners. Pass in the desired size of the corner radius. */
/* More flexible way to add rounded corners only to specific sides. */
/* Easy way to add a box-shadow stack. Pass in any of the desired values. */
/* Easy way to add a basic text-shadow. Will default to a bottom shadow. 
 * Pass in "light" to get a top bevel on dark text./backgrounds. */
/*====================================*/
/* RESET */
/*====================================*/
/* 
 * Browser normalization and baseline style.
 * Reset removes the default styling applied by individual browsers.
 * Baseline styles are then applied as a minimal good starting point.
 * This reset/default is from HTML5 Boilerplate:
 * http://html5boilerplate.com/
 */
/**
 * HTML5 Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* Hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
}

ul, ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

textarea {
  overflow: auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* Colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/**
 * You might tweak these..
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 1em 0;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 170%;
}

h3 {
  font-size: 150%;
}

h4, h5, h6 {
  font-size: 120%;
}

a, a:active, a:visited {
  color: #607890;
}

a:hover {
  color: #036;
}

/*====================================*/
/* LAYOUT */
/*====================================*/
/* 
 * Layout formats page structural elements.
 * Only CSS that affects the layout (positioning) of major elements should be listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height, margin, border, padding, overflow
 * CSS that sets the visual style of the portal (and portlets) is handled by individual themes.
 */
.up {
  /* Temporarily hiding the new item count, as uMobile portlets don't support it */
}
.up .ui-content .ui-header {
  /*margin-top: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
   width:320px;*/
}
.up .up-new-item-count-0 {
  display: none;
  visibility: hidden;
}
.up .logo {
  margin-top: 10px;
  text-align: center;
}
.up .utilities {
  margin-top: 2em;
}

/*====================================*/
/* NAVIGATION */
/*====================================*/
/* 
 * Styles specific to navigation.
 */
/* Color Palette
--------------------------------------*/
/* RGBA values include transparency and are easier than hexidecimal to use in 
mathematical calculations. */
/* Grayscale */
/* Background color */
/* Primary color, c1 */
/* Secondary color, c2 */
/* Tertiary color, c3 */
/* Highlight color, c4 */
/* Secondary Highlight color, c5 */
/* Calendar colors */
/* Portlet Navigation */
.up.dashboard-grid .portal-nav {
  /* Main menu grid of apps and web views. */
  width: 300px;
  margin: 0 auto;
  text-align: center;
  zoom: 1;
}
.up.dashboard-grid .portal-nav:before, .up.dashboard-grid .portal-nav:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.up.dashboard-grid .portal-nav:after {
  clear: both;
}
.up.dashboard-grid .portal-nav .portlet {
  /* Menu grid items. */
  display: block;
  float: left;
  width: 72px;
  height: 92px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  /* To contain new item badges. */
}
.up.dashboard-grid .portal-nav .portlet .icon, .up.dashboard-grid .portal-nav .portlet .title {
  display: block;
  text-align: center;
}
.up.dashboard-grid .portal-nav .portlet .icon {
  height: 72px;
  width: 72px;
  margin-bottom: 3px;
}
.up.dashboard-grid .portal-nav .portlet .badge {
  position: absolute;
  top: 0em;
  right: 0em;
}
.up.dashboard-list .dashboard {
  background-image: none;
  background: white;
}
.up.dashboard-list .dashboard .portal-nav .ui-listview li {
  border: none;
  border-top: 1px solid #dcdcdc;
}
.up.dashboard-list .dashboard .portal-nav .ui-listview li:first {
  border: none;
}
.up.dashboard-list .dashboard .portal-nav .ui-listview li .ui-btn-text a {
  color: #5c5c5c;
  text-shadow: none;
}
.up.dashboard-list .dashboard .portal-nav .ui-listview li .ui-btn-inner {
  border: none;
}
.up.dashboard-list .dashboard .portal-nav .ui-listview li.ui-li-divider {
  border: none;
  box-shadow: none;
  background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
}

/*====================================*/
/* CAS */
/*====================================*/
/* 
 * Styles for authentication, using CAS:
 * http://www.jasig.org/cas
 */
/*====================================*/
/* THEME */
/*====================================*/
/*
 * uMobile CSS is built with SASS:
 * http://sass-lang.com/
 */
/* Additional theme files boxed off for human use. */
/* Color Palette
--------------------------------------*/
/* RGBA values include transparency and are easier than hexidecimal to use in 
mathematical calculations. */
/* Grayscale */
/* Background color */
/* Primary color, c1 */
/* Secondary color, c2 */
/* Tertiary color, c3 */
/* Highlight color, c4 */
/* Secondary Highlight color, c5 */
/* Calendar colors */
/* jQuery Mobile based button styles. Flattens out their color classes (A,B,C,D,E)
 * With SASS, truly separates the presentation from the content: 
 * no color classes needed in the markup.
 * Pass in the desired type of button based on the context.
 */
/* Use variables to store multiple jQM selectors. */
/* Apply baseline button styling once to every kind of button. */
.up .ui-btn {
  border-width: 1px;
  border-style: solid;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 1px black;
  cursor: pointer;
}

/* Specific styling for button Up state. Styling is contextual, by the type passed in. */
/* Specific styling for button Hover state. Styling is contextual, by the type passed in. */
/* Specific styling for button Down state. Styling is contextual, by the type passed in. */
/* Specific styling for button Active (global "on") state. */
/* Button mixin. Calls in the Up, Hover, and Down states.
 * Passes the context type to those mixins.
 * If no type is specified, default will be used, which will take the @else styles. */
/* Badge styles.
 * If needed, override badge style based on the context.
 */
.up .badge {
  padding: 0.2em 6px;
  font-size: 11px;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  text-shadow: 0 -1px 1px black;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border-color: #c3c3c3;
  background: #cc0000;
  text-shadow: 0 1px 1px white;
  background-image: -moz-linear-gradient(top, white, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #f5f5f5));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#f5f5f5')";
}
.up .badge.new-item {
  border-color: white;
  background: #cc0000;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, red, #990000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, red), color-stop(1, #990000));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='red', EndColorStr='#990000')";
}
.up .badge.unread-item,
.up .portlet-content .ui-listview .ui-li-count {
  background: #4682b4;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #699bc4, #38678f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #699bc4), color-stop(1, #38678f));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#699bc4', EndColorStr='#38678f')";
}
.up .badge.read-item {
  /* Uses default badge style. */
}
.up .portal-nav .badge.new-item {
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  box-shadow: 0px 2px 2px black;
}
.up .portlet-content .ui-listview .ui-li-count {
  padding: 0.2em 10px;
}

.up {
  /* icons */
}
.up .ui-bar, .up .ui-li-divider {
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  text-shadow: 0 -1px 1px black;
}
.up .ui-bar input, .up .ui-bar select, .up .ui-bar textarea, .up .ui-bar button, .up .ui-li-divider input, .up .ui-li-divider select, .up .ui-li-divider textarea, .up .ui-li-divider button {
  font-family: Helvetica, Arial, sans-serif;
}
.up .dashboard {
  border: 1px solid #38678f;
  color: white;
  text-shadow: 0 1px 0 black;
  background: #3366cc url("images/bg_320x480_flat.png") 0 25px no-repeat;
}
.up .dashboard .ui-link-inherit {
  color: white;
}
.up .dashboard .ui-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.up .dashboard .ui-br {
  border-bottom: 1px solid rgba(130, 130, 130, 0.3);
}
.up .focused {
  border: 1px solid #a9a9a9;
  color: #444444;
  text-shadow: 0 1px 0 white;
  background: #dcdcdc;
  background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #dcdcdc));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#dcdcdc')";
}
.up .portlet-wrapper-titlebar {
  border-color: #121416;
  background: #282d33;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #3e4650, #121416);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e4650), color-stop(1, #121416));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3e4650', EndColorStr='#121416')";
}
.up .portlet-wrapper-titlebar .ui-btn-up-a, .up .portlet-wrapper-titlebar .ui-btn-up-b, .up .portlet-wrapper-titlebar .ui-btn-up-c, .up .portlet-wrapper-titlebar .ui-btn-up-d, .up .portlet-wrapper-titlebar .ui-btn-up-e {
  border-color: #08180f;
  background: #21653f;
  color: white;
  background-image: -moz-linear-gradient(top, #21653f, #08180f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #21653f), color-stop(1, #08180f));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#21653f', EndColorStr='#08180f')";
}
.up .portlet-wrapper-titlebar .ui-btn-up-a a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-up-b a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-up-c a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-up-d a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-up-e a.ui-link-inherit {
  color: white;
}
.up .portlet-wrapper-titlebar .ui-btn-hover-a, .up .portlet-wrapper-titlebar .ui-btn-hover-b, .up .portlet-wrapper-titlebar .ui-btn-hover-c, .up .portlet-wrapper-titlebar .ui-btn-hover-d, .up .portlet-wrapper-titlebar .ui-btn-hover-e {
  border-color: #08180f;
  background: #2e8b57;
  color: white;
  background-image: -moz-linear-gradient(top, #2e8b57, #143f27);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2e8b57), color-stop(1, #143f27));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2e8b57', EndColorStr='#143f27')";
}
.up .portlet-wrapper-titlebar .ui-btn-hover-a a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-hover-b a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-hover-c a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-hover-d a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-hover-e a.ui-link-inherit {
  color: white;
}
.up .portlet-wrapper-titlebar .ui-btn-down-a, .up .portlet-wrapper-titlebar .ui-btn-down-b, .up .portlet-wrapper-titlebar .ui-btn-down-c, .up .portlet-wrapper-titlebar .ui-btn-down-d, .up .portlet-wrapper-titlebar .ui-btn-down-e {
  border-color: #08180f;
  background: #21653f;
  color: white;
  background-image: -moz-linear-gradient(top, #143f27, #2e8b57);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #143f27), color-stop(1, #2e8b57));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#143f27', EndColorStr='#2e8b57')";
}
.up .portlet-wrapper-titlebar .ui-btn-down-a a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-down-b a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-down-c a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-down-d a.ui-link-inherit, .up .portlet-wrapper-titlebar .ui-btn-down-e a.ui-link-inherit {
  color: white;
}
.up .portlet-wrapper-titlebar .ui-btn-active {
  border-color: #294d6b;
  background: #4682b4;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
}
.up .portlet-wrapper-titlebar .ui-btn-active a.ui-link-inherit {
  color: white;
}
.up .portlet-titlebar {
  border-color: #294d6b;
  background: #38678f;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
}
.up .portlet-titlebar .ui-btn-up-a, .up .portlet-titlebar .ui-btn-up-b, .up .portlet-titlebar .ui-btn-up-c, .up .portlet-titlebar .ui-btn-up-d, .up .portlet-titlebar .ui-btn-up-e {
  border-color: #294d6b;
  background: #4682b4;
  color: white;
  background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
}
.up .portlet-titlebar .ui-btn-up-a a.ui-link-inherit, .up .portlet-titlebar .ui-btn-up-b a.ui-link-inherit, .up .portlet-titlebar .ui-btn-up-c a.ui-link-inherit, .up .portlet-titlebar .ui-btn-up-d a.ui-link-inherit, .up .portlet-titlebar .ui-btn-up-e a.ui-link-inherit {
  color: white;
}
.up .portlet-titlebar .ui-btn-hover-a, .up .portlet-titlebar .ui-btn-hover-b, .up .portlet-titlebar .ui-btn-hover-c, .up .portlet-titlebar .ui-btn-hover-d, .up .portlet-titlebar .ui-btn-hover-e {
  border-color: #08180f;
  background: #699bc4;
  color: white;
  background-image: -moz-linear-gradient(top, #8db3d3, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8db3d3), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8db3d3', EndColorStr='#294d6b')";
}
.up .portlet-titlebar .ui-btn-hover-a a.ui-link-inherit, .up .portlet-titlebar .ui-btn-hover-b a.ui-link-inherit, .up .portlet-titlebar .ui-btn-hover-c a.ui-link-inherit, .up .portlet-titlebar .ui-btn-hover-d a.ui-link-inherit, .up .portlet-titlebar .ui-btn-hover-e a.ui-link-inherit {
  color: white;
}
.up .portlet-titlebar .ui-btn-down-a, .up .portlet-titlebar .ui-btn-down-b, .up .portlet-titlebar .ui-btn-down-c, .up .portlet-titlebar .ui-btn-down-d, .up .portlet-titlebar .ui-btn-down-e {
  border-color: #294d6b;
  background: #4682b4;
  color: white;
  background-image: -moz-linear-gradient(top, #294d6b, #4682b4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #294d6b), color-stop(1, #4682b4));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#294d6b', EndColorStr='#4682b4')";
}
.up .portlet-titlebar .ui-btn-down-a a.ui-link-inherit, .up .portlet-titlebar .ui-btn-down-b a.ui-link-inherit, .up .portlet-titlebar .ui-btn-down-c a.ui-link-inherit, .up .portlet-titlebar .ui-btn-down-d a.ui-link-inherit, .up .portlet-titlebar .ui-btn-down-e a.ui-link-inherit {
  color: white;
}
.up .portlet-titlebar .ui-btn-active {
  border-color: #294d6b;
  background: #4682b4;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
}
.up .portlet-titlebar .ui-btn-active a.ui-link-inherit {
  color: white;
}
.up .portlet-content .titlebar .title, .up .portlet-content .titlebar .subtitle {
  margin: 0;
}
.up .portlet-content .titlebar .subtitle {
  font-size: 100%;
  color: #767676;
}
.up .portlet-content .ui-btn-up-a, .up .portlet-content .ui-btn-up-b, .up .portlet-content .ui-btn-up-c, .up .portlet-content .ui-btn-up-d, .up .portlet-content .ui-btn-up-e {
  border-color: #c3c3c3;
  background: #f5f5f5;
  color: #444444;
  text-shadow: 0 1px 1px white;
  background-image: -moz-linear-gradient(top, white, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #f5f5f5));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#f5f5f5')";
}
.up .portlet-content .ui-btn-up-a a.ui-link-inherit, .up .portlet-content .ui-btn-up-b a.ui-link-inherit, .up .portlet-content .ui-btn-up-c a.ui-link-inherit, .up .portlet-content .ui-btn-up-d a.ui-link-inherit, .up .portlet-content .ui-btn-up-e a.ui-link-inherit {
  color: #5c5c5c;
}
.up .portlet-content .ui-btn-hover-a, .up .portlet-content .ui-btn-hover-b, .up .portlet-content .ui-btn-hover-c, .up .portlet-content .ui-btn-hover-d, .up .portlet-content .ui-btn-hover-e {
  border-color: #8f8f8f;
  background: #dcdcdc;
  text-shadow: 0 1px 1px white;
  background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #dcdcdc));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#dcdcdc')";
}
.up .portlet-content .ui-btn-hover-a a.ui-link-inherit, .up .portlet-content .ui-btn-hover-b a.ui-link-inherit, .up .portlet-content .ui-btn-hover-c a.ui-link-inherit, .up .portlet-content .ui-btn-hover-d a.ui-link-inherit, .up .portlet-content .ui-btn-hover-e a.ui-link-inherit {
  color: #5c5c5c;
}
.up .portlet-content .ui-btn-down-a, .up .portlet-content .ui-btn-down-b, .up .portlet-content .ui-btn-down-c, .up .portlet-content .ui-btn-down-d, .up .portlet-content .ui-btn-down-e {
  border-color: #294d6b;
  background: #dcdcdc;
  color: #444444;
  text-shadow: 0 1px 1px white;
  background-image: -moz-linear-gradient(top, #dcdcdc, white);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dcdcdc), color-stop(1, white));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dcdcdc', EndColorStr='white')";
}
.up .portlet-content .ui-btn-down-a a.ui-link-inherit, .up .portlet-content .ui-btn-down-b a.ui-link-inherit, .up .portlet-content .ui-btn-down-c a.ui-link-inherit, .up .portlet-content .ui-btn-down-d a.ui-link-inherit, .up .portlet-content .ui-btn-down-e a.ui-link-inherit {
  color: #5c5c5c;
}
.up .portlet-content .ui-btn-active {
  border-color: #294d6b;
  background: #4682b4;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
}
.up .portlet-content .ui-btn-active a.ui-link-inherit {
  color: white;
}
.up .portlet-content .ui-li {
  background-image: -moz-linear-gradient(top, #fcfcfc, #ededed);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), color-stop(1, #ededed));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', EndColorStr='#ededed')";
}
.up .portlet-content .ui-li-divider {
  border-color: #38678f;
  border-top: 1px solid #699bc4;
  background: #4682b4;
  color: white;
  background-image: -moz-linear-gradient(top, #38678f, #699bc4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #38678f), color-stop(1, #699bc4));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#38678f', EndColorStr='#699bc4')";
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  z-index: 1;
}
.up .portlet-content .ui-li-divider .ui-grid-a .ui-block-b {
  text-align: right;
}
.up .portlet-content .utilities .ui-btn-up-a, .up .portlet-content .utilities .ui-btn-up-b, .up .portlet-content .utilities .ui-btn-up-c, .up .portlet-content .utilities .ui-btn-up-d, .up .portlet-content .utilities .ui-btn-up-e {
  border-color: #143f27;
  background: #21653f;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #2e8b57, #143f27);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2e8b57), color-stop(1, #143f27));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2e8b57', EndColorStr='#143f27')";
}
.up .portlet-content .utilities .ui-btn-up-a a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-up-b a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-up-c a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-up-d a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-up-e a.ui-link-inherit {
  color: white;
}
.up .portlet-content .utilities .ui-btn-hover-a, .up .portlet-content .utilities .ui-btn-hover-b, .up .portlet-content .utilities .ui-btn-hover-c, .up .portlet-content .utilities .ui-btn-hover-d, .up .portlet-content .utilities .ui-btn-hover-e {
  border-color: #143f27;
  background: #2e8b57;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #3ab26f, #143f27);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3ab26f), color-stop(1, #143f27));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3ab26f', EndColorStr='#143f27')";
}
.up .portlet-content .utilities .ui-btn-hover-a a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-hover-b a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-hover-c a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-hover-d a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-hover-e a.ui-link-inherit {
  color: white;
}
.up .portlet-content .utilities .ui-btn-down-a, .up .portlet-content .utilities .ui-btn-down-b, .up .portlet-content .utilities .ui-btn-down-c, .up .portlet-content .utilities .ui-btn-down-d, .up .portlet-content .utilities .ui-btn-down-e {
  border-color: #08180f;
  background: #21653f;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #143f27, #2e8b57);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #143f27), color-stop(1, #2e8b57));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#143f27', EndColorStr='#2e8b57')";
}
.up .portlet-content .utilities .ui-btn-down-a a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-down-b a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-down-c a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-down-d a.ui-link-inherit, .up .portlet-content .utilities .ui-btn-down-e a.ui-link-inherit {
  color: white;
}
.up .portlet-content .utilities .ui-btn-active {
  border-color: #294d6b;
  background: #4682b4;
  color: white;
  text-shadow: 0 -1px 1px black;
  background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
}
.up .portlet-content .utilities .ui-btn-active a.ui-link-inherit {
  color: white;
}
.up .portal-nav .portlet .icon {
  /*border: 1px solid $c1darkest;
  background: $c1;
  @include gradient($c1, $c1dark);
  @include rounded(5px);*/
}
.up .ui-icon-map {
  background-image: url(images/icons/location-18x18.png);
}
.up .ui-icon-phone {
  background-image: url(images/icons/phone-18x18.png);
}

/* retina icons */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .up .ui-icon-map {
    background-image: url(images/icons/location-36x36.png);
    background-size: 18px 18px;
  }
  .up .ui-icon-phone {
    background-image: url(images/icons/phone-36x36.png);
    background-size: 18px 18px;
  }
}
/*====================================*/
/* PORTLET */
/*====================================*/
/* 
 * Styles for portlets.
 */
.up {
  /* Courses portlet */
  /* Feeds */
  /* Calendar */
}
.up .ptl-courses .view-courses .utilities {
  margin-top: 2em;
}
.up .ptl-courses .course-details .titlebar {
  position: relative;
  padding-right: 4em;
}
.up .ptl-courses .course-details .titlebar .grade {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em 10px;
  background: #bbaa33;
  color: white;
  border: 1px solid #938628;
  font-size: 150%;
  line-height: 150%;
  font-weight: bold;
  text-shadow: 0 -1px 1px #433d12;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.up .feed .ui-btn-inner {
  padding: 0.7em 15px;
}
.up .feed .ui-btn-inner .ui-link-inherit {
  padding: 0;
}
.up .feed .ui-li-has-thumb .ui-btn-inner {
  padding: 0.7em 100px 0.7em 15px;
}
.up .feed .ui-icon {
  display: none;
}
.up .feed .ui-li-thumb {
  left: auto;
  right: 1px;
  float: right;
  margin-right: 0;
  margin-left: 10px;
  border: 1px solid #767676;
}
.up .feed .title, .up .feed .news-reader-story-title {
  margin: 0 0 0.7em 0;
  font-size: 13px;
  max-height: 35px;
}
.up .feed p {
  font-size: 11px;
  color: #8f8f8f;
  max-height: 40px;
}
.up .feed .ui-btn-inner, .up .feed .ui-li-heading, .up .feed .ui-btn-text, .up .feed .ui-li-desc {
  white-space: normal;
}
.up .feed .title, .up .feed p {
  text-overflow: ellipsis;
}
.up .ui-datepicker {
  /* jQuery UI widget override to get the calendar widget as wide as possible. */
  width: 19em;
}
.up .ui-datepicker td span, .up .ui-datepicker td a {
  /* jQuery UI widget override to increase the hit area of the days. */
  padding: 0.5em;
}
.up .ui-datepicker .ui-datepicker-prev .ui-icon {
  /* jQuery UI widget override to fix the Previous Month button. */
  background-image: url("/ResourceServingWebapp/rs/jqueryui/1.8/theme/smoothness/images/ui-icons_222222_256x240.png");
  background-color: transparent;
  background-position: -80px -192px;
}
.up .ui-datepicker .ui-datepicker-next .ui-icon {
  /* jQuery UI widget override to fix the Next Month button. */
  background-image: url("/ResourceServingWebapp/rs/jqueryui/1.8/theme/smoothness/images/ui-icons_222222_256x240.png");
  background-color: transparent;
  background-position: -48px -192px;
}
.up .ui-datepicker-inline {
  display: block;
}
.up .ptl-calendar .upcal-hide-on-calendar {
  display: none;
}
.up .ptl-calendar .dayName {
  font-size: 16px;
  margin: 0.7em 0 0.3em 0;
}
.up .ptl-calendar .upcal-event-list {
  border-bottom: 1px solid #a9a9a9;
}
.up .ptl-calendar .upcal-event {
  border-top: 1px solid #a9a9a9;
  background: white;
  padding: 5px;
  zoom: 1;
}
.up .ptl-calendar .upcal-event:before, .up .ptl-calendar .upcal-event:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.up .ptl-calendar .upcal-event:after {
  clear: both;
}
.up .ptl-calendar .upcal-event .upcal-event-time {
  float: left;
  width: 30%;
  padding: 0.5em 0;
  text-align: center;
  font-size: 13px;
  color: #a9a9a9;
}
.up .ptl-calendar .upcal-event .upcal-event-time span {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
}
.up .ptl-calendar .upcal-event .upcal-event-link {
  display: block;
  margin-left: 30%;
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: #8f8f8f;
  background: #dcdcdc;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.up .ptl-calendar .upcal-color-0 .upcal-event-link {
  background: rgba(16, 98, 165, 0.25);
  border-color: #1062a5;
  color: #0b4677;
}
.up .ptl-calendar .upcal-color-1 .upcal-event-link {
  background: rgba(71, 115, 0, 0.25);
  border-color: #477300;
  color: #284000;
}
.up .ptl-calendar .upcal-color-2 .upcal-event-link {
  background: rgba(153, 0, 0, 0.25);
  border-color: #990000;
  color: #660000;
}
.up .ptl-calendar .upcal-color-3 .upcal-event-link {
  background: rgba(104, 48, 153, 0.25);
  border-color: #683099;
  color: #4e2472;
}
.up .ptl-calendar .upcal-color-4 .upcal-event-link {
  background: rgba(139, 69, 0, 0.25);
  border-color: #8b4500;
  color: #582c00;
}
.up .ptl-calendar .upcal-color-5 .upcal-event-link {
  background: rgba(0, 139, 120, 0.25);
  border-color: #008b78;
  color: #00584c;
}
.up .ptl-calendar .upcal-color-6 .upcal-event-link {
  background: rgba(182, 33, 98, 0.25);
  border-color: #b62162;
  color: #8b194b;
}
.up .ptl-calendar .upcal-color-7 .upcal-event-link {
  background: rgba(187, 91, 29, 0.25);
  border-color: #bb5b1d;
  color: #8f4616;
}
.up .ptl-calendar .upcal-color-8 .upcal-event-link {
  background: rgba(123, 123, 123, 0.25);
  border-color: #7b7b7b;
  color: #626262;
}
.up .ptl-calendar .upcal-color-9 .upcal-event-link {
  background: rgba(0, 0, 0, 0.25);
  border-color: black;
  color: black;
}
.up .no-ui-li-count {
  padding-right: 0.7em;
}
.up .unavailable {
  opacity: 0.5;
}
