/*  Web Services for Remote Portlets Specification v1.0 - July 02 2003  =
*/

/*####  Section 10.6 CSS Style Definitions  #####*/

/*##  Section 10.6.1 Links (Anchor) - defined by uPortal CSS  ##*/

/*##  Section 10.6.2 Fonts  ##*/

.portlet-font {
	color : #666666;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
} /*  uPortal equivalent style =3D  "uportal-text "  */

.portlet-font-dim {
	color : #B2B2B2;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
} /*  uPortal equivalent style =3D  " no current equivalent"  */



/*##  Section 10.6.3 Messages  ##*/

.portlet-msg-status {
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FF6300;
	font-weight : bold;
} /*  uPortal equivalent style =3D  " uportal-channel-warning"  */

.portlet-msg-info {
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FF6300;
    font-weight : bold;
} /*  uPortal equivalent style =3D  " uportal-channel-warning"  */

.portlet-msg-error {
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
} /*  uPortal equivalent style =3D  " uportal-channel-error"  */

.portlet-msg-alert {
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FF6300;
    font-weight : bold;
} /*  uPortal equivalent style =3D  " uportal-channel-warning"  */

.portlet-msg-success {
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FF6300;
    font-weight : bold;
} /*  uPortal equivalent style =3D  " uportal-channel-warning"  */



/*##  Section 10.6.4 Sections ##*/

.portlet-section-header {
	font-size : x-small;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
	font-weight : bold;
    vertical-align : top;
} /*  uPortal equivalent style =3D  " uportal-channel-title"  */

.portlet-section-body {
	color : #666666;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
} /*  uPortal equivalent style =3D  " uportal-text"  */

.portlet-section-alternate {
	color : #666666;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
} /*  uPortal equivalent style =3D  " uportal-channel-table-row-odd"  */

.portlet-section-selected {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : bold;
	background : #2F6BE2;
	color : White;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-section-subheader {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
	color : #000000;
} /*  uPortal equivalent style =3D  " uportal-channel-subtitle"  */

.portlet-section-footer {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	color : #000000;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-section-text {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	color : #666666;
} /*  uPortal equivalent style =3D  "uportal-text-small "  */



/*##  Section 10.6.5 Tables ##*/

.portlet-table-header {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight : bold;
	text-align: left;
    color : #2D2B24;
} /*  uPortal equivalent style =3D  " uportal-channel-table-header with = class uportal-background-light"  */

.portlet-table-body {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
} /*  uPortal equivalent style =3D  " uportal-channel-table-row-even = with class uportal-background-content"  */

.portlet-table-alternate {
	color : #666666;
	font-size: x-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
} /*  uPortal equivalent style =3D  " uportal-channel-table-row-odd with = class uportal-background-light"  */

.portlet-table-selected {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
} /*  uPortal equivalent style =3D  " uportal-channel-table-row-even = with class uportal-background-selected"  */

.portlet-table-subheader {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-table-footer {
	color : #666666;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-table-text {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
} /*  uPortal equivalent style =3D  " no current equivalent"  */



/*##  Section 10.6.5 Tables ##*/

.portlet-form-label {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
} /*  uPortal equivalent style =3D  " uportal-label"  */

.portlet-form-input-field {
	color : #000000;
	font-size: x-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background : #000000;
} /*  uPortal equivalent style =3D  " uportal-input-text"  */

.portlet-form-button {
	color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
    font-weight: bold;
	background : #6487DC;
} /*  uPortal equivalent style =3D  "uportal-button "  */

.portlet-icon-label {
	color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
    font-weight: bold;
	background : #6487DC;
} /*  uPortal equivalent style =3D  " uportal-button"  */

.portlet-dlg-icon-label {
	color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
    font-weight: bold;
	background : #6487DC;
} /*  uPortal equivalent style =3D  " uportal-button"  */

.portlet-form-field-label {
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
} /*  uPortal equivalent style =3D  " uportal-label"  */

.portlet-form-field {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
} /*  uPortal equivalent style =3D  " no current equivalent"  */



/*##  Section 10.6.7 Menus ##*/

.portlet-menu {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-item {
	color : #2F6BE2;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-item-selected {
	background : #2F6BE2;
	color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-item-hover {
	background : #2F6BE2;
	color : #FF6300;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
    text-decoration: none;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-item-hover-selected {
	background : #2F6BE2;
	color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
    text-decoration: none;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-cascade-item {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-cascade-item-selected {
	background : #2F6BE2;
	color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-description {
	background : #CCCC99;
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-style : italic;
} /*  uPortal equivalent style =3D  " no current equivalent"  */

.portlet-menu-caption {
	background : #CCCC99;
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	font-weight : bold;
} /*  uPortal equivalent style =3D  " no current equivalent"  */


















